
<div id="page-head" class="row-fluid ng-scope">
	<div id="page-title" class="row-fluid">
		<h1> Agenda</h1>
	</div>
    
</div>
<div class="row-fluid">


    <div class="span12">
        <tabset>
            <tab select="renderCalender(myCalendar1);">
              <tab-heading>
               <i class="glyphicon glyphicon-bell"></i> Entregas
              </tab-heading>
              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                <h4>{{alertMessage}}</h4>
              </div>
              <div class="btn-toolbar">
                <p class="pull-right lead">Calendario de entregas al cliente</p>
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">Dia</button>
                    <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">Semana</button>
                    <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Mes</button>
                </div>
              </div>
            <div class="calendar" ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
           </tab>
           <tab select="renderCalender(myCalendar2);">
            <tab-heading>
              <i class="glyphicon glyphicon-bell"></i> Visitas
            </tab-heading>
              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                <h4>{{alertMessage}}</h4>
              </div>
              <div class="btn-toolbar">
                <p class="pull-right lead">Calendario de visitas al cliente</p>
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar2)">Dia</button>
                    <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar2)">Semana</button>
                    <button class="btn btn-success" ng-click="changeView('month', myCalendar2)">Mes</button>
                </div>
              </div>
            <div class="calendar" ng-model="eventSources2" calendar="myCalendar2" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
           </tab>
           
        </tabset>
    </div>
</div>

<div modal="showEventModal" close="cancel()" options="{ backdrop: true}">
  <form name="form"  novalidate >
      <div class="modal-header">
              <h4>
                <span >Evento en la Agenda</span>
              </h4>
              <p>
                <span class="text-info"></span>
              </p>
      </div>
      <div class="modal-body">
          <div class="row-fluid" >          
              <div class="span8">
                  <label>Titulo</label>
                  <input name="event-title" type="text" ng-model="event.EventTitle" class="input-block-level"  />
              </div>
              <div class="span4">
                    <label for="event-date">Fecha de la visita</label>
                    <input name="event-date" type="text" ng-model="event.EventDate" class="input-block-level" placeholder=""  ui-date="dateOptions"  ui-date-format="yy-mm-dd"/>
                </div>  
          </div>
          <div class="row-fluid" >  
              <div class="span6">
                  <label for="event-customer">Cliente</label>
                  <select ui-select2 ng-model="event.CustomerId" data-placeholder="Seleccione un cliente" class="input-block-level">
                      <option value=""></option>
                      <option ng-repeat="customer in customers" value="{{customer.CustomerId}}">{{ customer.CustomerName}}</option>
                  </select>
              </div>
              <div class="span6">
                  <label for="event-employee">Persona que realizara la visita</label>
                  <select ui-select2 ng-model="event.EmployeeId" data-placeholder="Seleccione un miembro del Personal" class="input-block-level">
                      <option value=""></option>
                      <option ng-repeat="employee in employees" value="{{ employee.EmployeeId }}">{{ employee.EmployeeName }}</option>
                  </select>
              </div>
          </div>
    
          <div class="row-fluid" >
             <div>
                      <label class="control-label"></label>
                          <textarea name="event-notes" ng-model="event.EventNotes"  rows="3" class="input-block-level" placeholder="Agregue una descripción o notas a esta captura de inventario fisico"> </textarea>
                          <span class="help-block"></span>
                    </div>
          </div>
          
          
      </div>
      <div class="modal-footer">          
        <a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
          <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar Captura</button>
      </div>
  </form>
</div>