<div id="page-head" class="row-fluid" >
	<div id="page-title" class="row-fluid">
    	<h1><a ng-href="#/pagos"> Pagos </a> &gt;FO- {{ payment.PaymentId }}  </h1> 
    </div>  
  	<div id="page-links" class="row-fluid" >      
        <div class="span7 actions">
        	<div class="span2"><a title="Regresar" class="btn btn-block" ng-href="#/pagos"><i class="icon-reply"></i> regresar</a>  </div>
        </div>
        <div class="span5">
	        <ul class="nav nav-tabs">
	        	<li ng-class="getClass('/pagos/{{payment.PaymentId}}')"><a ng-href="#/pagos/{{payment.PaymentId}}">General</a></li> 
	        	<li ng-class="getClass('/resumen/pagos/{{payment.PaymentId}}')"> <a ng-href="#/resumen/pagos/{{payment.PaymentId}}">Resumen</a></li>                 
	        </ul>
        </div>    
    </div>
</div>
