<div class="row-fluid">
<form name="form" class="form form-vertical" novalidate>
  <div class ="span9"> 
  
  <section  id="payment-header" class="row-fluid" >
     
    <div class="span6" >

        <div class="row-fluid">
          
          <label class="control-label">Proveedor para este Pago</label>

          <div ng-hide="selectedSupplier.SupplierId" class="span12" >
            
            <input  type="text" ng-model="selectedSupplier" placeholder="Escriba el nombre de la persona o compañia" typeahead="supplier as supplier.SupplierName for supplier in supplierSearch($viewValue)" class="span10"/>
            <span class="text-error"  ng-show="form.username.$error.required" >* requerido</span>
          </div>
         
          <div ng-show="selectedSupplier.SupplierId" class="span12">
            
            <address>
              <strong>{{ selectedSupplier.SupplierName }}</strong> <button class="btn btn-warning btn-link" ng-click="selectAnotherSupplier()" title="Seleccionar otro Proveedor"><i class="icon-remove"></i> </a></button><br>
              {{ selectedSupplier.SupplierAddress }}<br>
              {{ selectedSupplier.SupplierCity }}, {{selectedSupplier.SupplierCountry}}, {{selectedSupplier.SupplierCP}} <br>
              <abbr title="Telefono">Tel:</abbr> {{ selectedSupplier.SupplierTelephone }}<br>
              <a href="mailto:#">{{ selectedSupplier.SupplierEmail }}</a>
            </address>

          </div>

          <div ng-show="!selectedSupplier.SupplierId" class="span12">
              <button class="btn btn-info" ng-click="addSupplier()"><i class="icon-plus"></i> Agregar un nuevo Proveedor</button>
          </div>
        </div>
     
      <div class="row-fluid">
          
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid">
          <div class="span6">
              <label for="payment-id"># Pago</label>
              <input name="payment-id" type="text" ng-model="payment.PaymentId" class="input-block-level" disabled />
          </div>
          <div class="span6">
              <label for="payment-date">Fecha de Pago</label>
              <input name="payment-date" type="text" ng-model="payment.PaymentDate" class="input-block-level" placeholder=""  ui-date="dateOptions" ui-date-format="yy-mm-dd"/>
          </div>         
      </div>
      <div class="row-fluid">
         <div class="span12">
              <label for="payment-title">Concepto para este Pago</label>
              <input name="payment-title" type="text" ng-model="payment.PaymentTitle" class="input-block-level" placeholder="Ingrese un titulo para este pago" />
          </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
            <label for="payment-exchange-rate">Tipo de cambio</label>
            <input name="payment-exchange-rate" type="text" ng-model="payment.PaymentExchangeRate" class="input-block-level" required />

        </div>
        <div class="span6">
            <label for="payment-currency"> Moneda </label>
                <select ng-model="payment.CurrencyId" class="input-block-level" ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
             </select>
          </div>
		<div class="span6">
            <label for="payment-total"> Total </label>
                <input name="payment-total" type="text" ng-model="payment.PaymentTotal" class="input-block-level" required />
        </div>

   

      </div>
    
    </div>
  </section>
  

 <section class="row-fluid">
    <div class="form-actions">
    
    </div>
 </section> 
</div>
<div class="span3">
    <button type="submit" class="btn btn-primary btn-large btn-block" ng-click="saveSaleOrder()">Guardar Pago</button>
   
</div>
</form>

<customer-directive ></customer-directive>


</div>

