


<section class="row-fluid">
	<header>
		<h3>Resumen de Pagos - <span class="text-info"> # Orden: {{ sale_order.SaleOrderFolio }} </span> </h3>
		
	</header>
	<div class="row-fluid" ng-hide="sale_order.WorkOrderId">
		<div class="alert alert-success" ng-show=" currentProgress >= 50">
	        <strong>50% Alcanzado!</strong> Ahora puede crear una orden de trabajo <a class="btn btn-success" ng-click="createWorkOrder()">  <i class="icon-puzzle-piece"></i> Clic aqui para crear </a>.
	    </div>
    </div>
	<div class="row-fluid">
		<label>Total a pagar {{ sale_order.SaleOrderTotal | currency  }} Progreso de pagos {{ currentProgress  }} %</label>
        <div class="span4"><progress percent=" currentProgress " class="progress-striped active"></progress></div> 
 	</div>

	 <ul class="row-fluid listing">
	 	<li class="row-fluid">
	 		<span class="span2"># Recibo</span>
	 		<span class="span2">Fecha</span>
	 		<span class="span2">Monto</span>
	 		<span class="span2">Saldo</span>
	 		<span class="span2">Tipo de pago</span>
	 		<span class="span2">&nbsp;</span>
	 	</li>
	 	<li ng-repeat="payment in payments" >
	 		<div ng-show="payment.inEditMode" class="inline-form">
	 			<form class="form-horizontal">
	 		 	<div class="control-group">
                    
	                    <span class="span2 muted">{{ payment.SaleOrderPaymentReceiptNumber }}</span>

				 		<span class="span2"><input type="text"  class="input-block-level"  ng-model="payment.SaleOrderPaymentDate" ui-date="dateOptions" ui-date-format="yy-mm-dd">
				 			


				 		</span>

				 		
				 		<span class="span2"><input type="text" placeholder="Monto del pago" class="input-block-level" ng-model="payment.SaleOrderPaymentAmount"></span>
				 		<span class="span2">{{ payment.SaleOrderPaymentBalance | currency }}</span>
				 		<span class="span2">
				            <select ng-model="payment.SaleOrderPaymentMethod" class="input-block-level" ng-options="paymentMedthod.PaymentMethodName as paymentMedthod.PaymentMethodName for paymentMedthod in paymentMethods" >  
				            </select>
				        </span>
				 		
				 		
				 		
			 		   
			 	</div>
			 	<div class="control-group">	
			 		 <span class="span2 muted"></span>
			 		<span class="span4">
			 				<input type="text"  class="input-block-level"  ng-model="payment.SaleOrderPaymentText" placeholder="Agregue un Concepto de pago">
			 		</span>	
			 		<span class="span2">
				 			<button ng-click="payment.inEditMode=false;updatePayment(payment)"  ng-disabled="form.$invalid" class="btn btn-success"><i class="icon-check"></i></button> 
				 			<button ng-click="cancelEditPayment(payment,original)" class="btn ">Cancelar</button>   
				 	</span>
				 	 <span class="span3 muted"> Registrado por : {{ payment.UserName  }}</span>
			 	</div>
			 </form>		
	 		</div>
	 		<div ng-hide="payment.inEditMode" >
	 			<span class="span2 muted">{{ payment.SaleOrderPaymentReceiptNumber }}</span>
	 			<span class="span2">{{ payment.SaleOrderPaymentDate  | date:'fullDate' }}</span>
	 			<span class="span2">{{ payment.SaleOrderPaymentAmount | currency }}</span>
	 			<span class="span2">{{ payment.SaleOrderPaymentBalance | currency }}</span>
	 			<span class="span2 muted">{{ payment.SaleOrderPaymentMethod }}</span>
	 			<span class="span2"> 
	 				<a title="Imprimir recibo de pago" class="btn" ng-href="/api/sale_orders/{{sale_order.SaleOrderId}}/payments/{{payment.SaleOrderPaymentId}}/report" target="_blank"><i class="icon-print" ></i></a>
				<a title="Editar pago" class="btn" ng-click="editPayment(payment,original)"><i class="icon-edit" ></i></a>
				<button confirm-button="removePayment(payment)" class="btn btn-danger"  message=
			" realmente desea eliminar este pago?" yes="Si" no="No"><i class="icon-trash"></i></button>
	 			</span>
	 		</div>
	 	</li>
	 	<li class="row-fluid">
	 		<div class="inline-form">
	 		<form name="form"  class="form-horizontal">
                <div class="control-group">	    
                    <span class="span2 muted">{{ newpayment.SaleOrderPaymentId }}</span>
			 		<span class="span2"><input type="text"  class="input-block-level"  ng-model="newpayment.SaleOrderPaymentDate" ui-date="dateOptions" ui-date-format="yy-mm-dd"></span>
			 		<span class="span2"><input type="text" placeholder="$ 0.00" class="input-block-level" ng-model="newpayment.SaleOrderPaymentAmount" ng-minlength="0" required></span>
			 		<span class="span2">{{ newpayment.SaleOrderPaymentBalance }}</span>
			 		<span class="span2">
				            <select ng-model="newpayment.SaleOrderPaymentMethod" class="input-block-level" ng-options="paymentMedthod.PaymentMethodName as paymentMedthod.PaymentMethodName for paymentMedthod in paymentMethods" >  
				            </select>
				        </span>
			 		<span class="span2 muted"></span>
                </div>
			    <div class="control-group">	
			    	<span class="span2 muted"></span>
			 		<span class="span4">
			 				<input type="text"  class="input-block-level"  ng-model="newpayment.SaleOrderPaymentText" placeholder="Agregue un Concepto de pago">
			 		</span>	
			 		<span class="span2">
			 			 <button class="btn btn-info" ng-click="addPayment()"><i class="icon-plus"></i> Agregar pago</button>
			 		</span>
			    </div>
            </form>
            </div>	
	 	</li>
	 </ul>

	

</section>

