<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
            <p class="nav navbar-text ">
			         <a title="Regresar" ng-href="#/pagos"><i class="icon-chevron-sign-left"></i></a>
			      </p>
            <a class="brand title-brand" ng-hide="payment.PaymentId" ng-cloak>Crear nuevo pago</a>
            <a class="brand title-brand" ng-show="payment.PaymentId">Pago <span class="text-info">FO-{{ payment.PaymentId }}</span> </a>
            
			      <ul class="nav">
			        <li class="divider-vertical"></li>
			      </ul>
			      <p class="nav navbar-text ">
			         
			      </p>
			      
  		</div>	    
  </div>

</div>
<div class="row-fluid full-height">
    <div class="span2 full-height right-border">
         <ul class="sidebar-menu">
            <li>
              <ul>
	        	    <li ng-class="getClass('/pagos/{{payment.PaymentId}}')"><a ng-href="#/pagos/{{payment.PaymentId}}">General</a></li> 
	        	    <li ng-show="payment.PaymentId" ng-class="getClass('/resumen/pagos/{{payment.PaymentId}}')"> <a ng-href="#/resumen/pagos/{{payment.PaymentId}}">Resumen</a></li>                 
	        	  </ul>
	        	</li>
	        </ul>
      
    </div>
    <div class="span10 full-height">
      <form name="form" class="form form-vertical main-form" novalidate>
  
        <div class="span9">
         
          <section  id="quote-header" class="row-fluid" >
  

            <div class="span12">
               
             
              <div class="row-fluid">
                <div class="span8">
                      <label for="payment-title">Concepto del Pago</label>
                      <input name="payment-title" type="text" ng-model="payment.PaymentTitle" class="input-block-level" placeholder="Ingrese un titulo para este pago" />
                  </div>
              
                  <div class="span4">
                      <label for="payment-date">Fecha del pago</label>
                      <input name="payment-date" type="text" ng-model="payment.PaymentDate" class="input-block-level" placeholder=""  ui-date="dateOptions"  ui-date-format="yy-mm-dd"/>
               </div>
               </div>         
             
              
              <div class="row-fluid">
                
              <div class="row-fluid">               
                  <div  class="span12">
                    <label for="payment-supplier-id">Proveedor</label>
                    <select ui-select2 ng-model="payment.SupplierId" data-placeholder="Seleccione un Proveedor de la lista" class="input-block-level">
                        <option value="0"></option>
                        <option ng-repeat="supplier in suppliers" value="{{ supplier.SupplierId }}">{{ supplier.SupplierName }}</option>
                       
                    </select>
                  </div>
  
                  <div ng-show="!payment.SupplierId" class="span12">
                     <a title="Proveedores" class="btn btn-info"  ng-href="#/proveedores"> Agregar un nuevo proveedor </a>  <br/> 
                  </div>
  
              </div>
  
              
  
              <div class="row-fluid">
                <div class="span6">
                    <label for="payment-exchange-rate">Tipo de cambio</label>
                      <input name="payment-exchange-rate" type="text" ng-model="payment.PaymentExchangeRate" class="input-block-level" placeholder="$ 0.00"  />
                  </div>
                  <div class="span6">
                    <label for="payment-currency"> Moneda </label>
  
                       <select ng-model="payment.CurrencyId" class="input-block-level" ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
                     
                          
                        </select>
                  </div>
              </div>
              <div class="row-fluid">
  
                  <div class="span6">
                    <label for="payment-total">Monto Total</label>
            <input name="payment-total" type="text" ng-model="payment.PaymentTotal" class="input-block-level" placeholder="$ 0.00"  />
                  </div>
              </div>
             
  
            </div>
          </section>
           <button type="submit" class="btn btn-primary " ng-click="savePayment()"><i class="icon-save icon-large"></i> Guardar</button> 
        </div>
        
    </form>
      
    </div>
</div>

   

