
      

<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
            <p class="nav navbar-text ">
			         <a title="Regresar" ng-href="#/pagos"><i class="icon-chevron-sign-left"></i></a>
			      </p>
            <a class="brand title-brand" ng-hide="payment.PaymentId" ng-cloak>Crear nuevo pago</a>
            <a class="brand title-brand" ng-show="payment.PaymentId">Pago <span class="text-info">FO-{{ payment.PaymentId }}</span> </a>
            
			      <ul class="nav">
			        <li class="divider-vertical"></li>
			      </ul>
			      <p class="nav navbar-text ">
			         
			      </p>
			      
  		</div>	    
  </div>

</div>
<div class="row-fluid full-height">
    <div class="span2 full-height right-border">
         <ul class="sidebar-menu">
            <li>
              <ul>
	        	    <li ng-class="getClass('/pagos/{{payment.PaymentId}}')"><a ng-href="#/pagos/{{payment.PaymentId}}">General</a></li> 
	        	    <li ng-show="payment.PaymentId" ng-class="getClass('/resumen/pagos/{{payment.PaymentId}}')"> <a ng-href="#/resumen/pagos/{{payment.PaymentId}}">Resumen</a></li>                 
	        	  </ul>
	        	</li>
	        </ul>
      
    </div>
    <div class="span10 full-height main-form">

	
		<div class="row-fluid">
			<label>Total a pagar {{payment.CurrencySymbol }} {{ payment.PaymentTotal | currency  }} Progreso de pagos {{ currentProgress  }} %</label>
	        <div class="span4"><progress percent=" currentProgress " class="progress-striped active"></progress></div> 
	 	</div>
	
		 <ul class="row-fluid listing">
		 	<li class="row-fluid">
		 		<span class="span2"># Recibo</span>
		 		<span class="span2">Fecha</span>
		 		<span class="span2">Monto</span>
		 		<span class="span2">Saldo</span>
		 		<span class="span2">Tipo de pago</span>
		 		<span class="span2">&nbsp;</span>
		 	</li>
		 	<li ng-repeat="PaymentDetail in PaymentDetails" >
		 		<div ng-show="PaymentDetail.inEditMode" class="inline-form">
		 			<form class="form-horizontal" novalidate>
		 		 	<div class="control-group">
	                    
		                    <span class="span2 muted">{{ PaymentDetail.PaymentDetailId }}</span>
	
					 		<span class="span2"><input type="text"  class="input-block-level"  ng-model="PaymentDetail.PaymentDetailDate" ui-date="dateOptions" ui-date-format="yy-mm-dd">
					 			
	
	
					 		</span>
	
					 		
					 		<span class="span2"><input type="text" placeholder="Monto del pago" class="input-block-level" ng-model="PaymentDetail.PaymentDetailAmount"></span>
					 		<span class="span2">{{ PaymentDetail.PaymentDetailBalance | currency }}</span>
					 		<span class="span2">
					            <select ng-model="PaymentDetail.PaymentDetailMethod" class="input-block-level" ng-options="paymentMethod.PaymentMethodName as paymentMethod.PaymentMethodName for paymentMethod in paymentMethods" >  
					            </select>
					        </span>
					 		
					 						 					 		  
				 	</div>
				 	<div class="control-group">	
				 		<span class="span2 muted">{{ PaymentDetail.PaymentDetailId }}</span>
				 		<span class="span4">
				 			<input type="text"  class="input-block-level"  ng-model="PaymentDetail.PaymentDetailText" placeholder="Agregue un Concepto de pago">
				 		</span>	
				 		<span class="span2">
					 			<button ng-click="PaymentDetail.inEditMode=false;updatePayment(PaymentDetail)"   class="btn btn-success"><i class="icon-check"></i></button> 
					 			<button ng-click="cancelEditPayment(PaymentDetail)" class="btn ">Cancelar</button>   
					 	</span>
					 	 <span class="span3 muted"> Registrado por : {{ PaymentDetail.UserName  }}</span>
				 	</div>
				 </form>		
		 		</div>
		 		<div ng-hide="PaymentDetail.inEditMode" >
		 			<span class="span2 muted">{{ PaymentDetail.PaymentDetailId }}</span>
		 			<span class="span2">{{ PaymentDetail.PaymentDetailDate  | date:'fullDate' }}</span>
		 			<span class="span2">{{ PaymentDetail.PaymentDetailAmount | currency }}</span>
		 			<span class="span2">{{ PaymentDetail.PaymentDetailBalance | currency }}</span>
		 			<span class="span2 muted">{{ PaymentDetail.PaymentDetailMethod }}</span>
		 			<span class="span2"> 
		 				<a title="Imprimir recibo de pago" class="btn" ng-href="/api/payments/{{payment.PaymentId}}/payment_details/{{PaymentDetail.PaymentDetailId}}/report" target="_blank"><i class="icon-print" ></i></a>
					<a title="Editar pago" class="btn" ng-click="editPayment(PaymentDetail)"><i class="icon-edit" ></i></a>
					<button confirm-button="removePayment(PaymentDetail)" class="btn btn-danger"  message=
				" realmente desea eliminar este pago?" yes="Si" no="No"><i class="icon-trash"></i></button>
		 			</span>
		 		</div>
		 	</li>
		 	<li class="row-fluid">
		 		<div class="inline-form">
		 		<form name="form"  class="form-horizontal">
	                <div class="control-group">	    
	                    <span class="span2 muted">{{ newpayment.PaymentDetailId }}</span>
				 		<span class="span2"><input type="text"  class="input-block-level"  ng-model="newpayment.PaymentDetailDate" ui-date="dateOptions" ui-date-format="yy-mm-dd"></span>
				 		<span class="span2"><input type="text" placeholder="$ 0.00" class="input-block-level" ng-model="newpayment.PaymentDetailAmount" ng-minlength="0" required></span>
				 		<span class="span2">{{ newpayment.PaymentDetailBalance }}</span>
				 		<span class="span2">
					            <select ng-model="newpayment.PaymentDetailMethod" class="input-block-level" ng-options="paymentMedthod.PaymentMethodName as paymentMedthod.PaymentMethodName for paymentMedthod in paymentMethods" >  
					            </select>
					        </span>
				 		<span class="span2 muted"></span>
	                </div>
				    <div class="control-group">	
				    	<span class="span2 muted"></span>
				 		<span class="span4">
				 				<input type="text"  class="input-block-level"  ng-model="newpayment.PaymentDetailText" placeholder="Agregue un Concepto de pago">
				 		</span>	
				 		<span class="span2">
				 			 <button class="btn btn-info" ng-click="addPayment()"><i class="icon-plus"></i> Agregar pago</button>
				 		</span>
				    </div>
	            </form>
	            </div>	
		 	</li>
		 </ul>

	

</div></div>

