
<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Pagos</a>
            <ul class="nav">
            	<li>	<a href="#/pagos/nuevo" class="text-new"><i class="icon-plus"></i> Agregue un Nuevo Pago</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>


<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<ul class="sidebar-menu">
			<li><span>VER</span>
    		<ul class="">
				<li ng-class="getClass('/pagos',true)"> <a ng-href="#/pagos/">Pendientes</a></li>
				<li ng-class="getClass('/pagos/completados/',true)"><a href="#/pagos/completados/">Completados</a></li>
			</ul>
			</li>
    	</ul>
    </div>
    <div class="span10 full-height" >
		<table ng-table="tableParams" class="table"  >
			
				<tr ng-repeat="payment in payments">
					<td title="No.Pago"> <strong> {{payment.PaymentId}}</strong></td>
					<td title="Concepto">  {{payment.PaymentTitle}}</td>
					<td title="Proveedor">  {{payment.SupplierName}}</td>
				    <td title="Fecha"> {{payment.PaymentDate}}</td>
					
					<td title="Total"> {{ payment.CurrencySymbol }} {{ payment.PaymentTotal | currency }}</td>
					<td title="Pagado"> {{ payment.CurrencySymbol }} {{ payment.PaymentsDetailTotal | currency }}</td>
					<td title="Restante"> {{ payment.CurrencySymbol }} {{ payment.PaymentRemaining | currency }}</td>
					<td>
					
					<a title="Editar Pago" class="btn" ng-href="#/pagos/{{payment.PaymentId}}"><i class="icon-edit" ></i></a>
					
						<button confirm-button="delete(payment)" class="btn btn-danger"  message=
					" realmente desea eliminar este pago?" yes="Si" no="No">
		 <i class="icon-trash"></i></button>
				</td>
				</tr>
			
		</table>
	</div>
</div>