<ul class="sidebar-menu " ng-show="quote" >
  <li><span>VER</span>
    <ul>
      <li ng-class="getClass('/cotizaciones/{{ quote.QuoteId }}')"><a ng-href="#/cotizaciones/{{ quote.QuoteId }}">Datos de la cotización</a> </li>
      <li ng-show="quote.QuoteId" ng-class="getClass('/adjuntos/cotizaciones/{{ quote.QuoteId }}')"><a ng-href="#/adjuntos/cotizaciones/{{ quote.QuoteId }}">Adjuntos</a> </li>
      <li ng-show="quote.QuoteStatus == 'Aprobada'" ng-class="getClass('/ventas/quote/{{ quote.QuoteId }}')"><a ng-href="#/ventas/quote/{{ quote.QuoteId }}">Orden de venta </a></li>
      <li ng-show="quote.SaleOrderId" ng-class="getClass('/cobros/cotizaciones/{{ quote.QuoteId }}')"><a ng-href="#/cobros/cotizaciones/{{ quote.QuoteId }}">Pagos </a></li>
      <li ng-show="quote.WorkOrderId" ng-class="getClass('/trabajos/cotizaciones/{{ quote.QuoteId }}')"><a ng-href="#/trabajos/cotizaciones/{{ quote.QuoteId }}">Orden de trabajo </a></li>
    </ul>
  </li>
</ul>