<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
            <p class="nav navbar-text ">
			         <a title="Regresar" ng-href="#/cotizaciones"><i class="icon-chevron-sign-left"></i></a>
			      </p>
            <a class="brand title-brand" ng-hide="quote.QuoteId" ng-cloak>Crear nueva cotizaci&oacute;n</a>
            <a class="brand title-brand" ng-show="quote.QuoteId">Cotizaci&oacute;n <span class="text-info">{{ quote.QuoteFolio }}</span> </a>
            <ul class="nav">
              <li><button title="Enviar cotizacion" class="btn btn-link" ng-show="quote.QuoteId" ng-click="editEmail()" ng-disabled="{{ quote.QuoteStatus === 'Cancelada'}}"><i class="icon-envelope" ></i></button></li>
              <li><a title="Imprimir cotizacion" ng-show="quote.QuoteId" ng-href="api/quotes/report/{{quote.QuoteId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-print" ></i></a></li>
			        <li><a title="Imprimir cuadricula" ng-show="quote.QuoteId" ng-href="api/quotes/report/square/{{quote.QuoteId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-th" ></i></a></li>
			      </ul>
			      <ul class="nav">
			        <li class="divider-vertical"></li>
			      </ul>
			      <p class="nav navbar-text ">
			          <span class="label label-info"> {{ quote.QuoteStatus }} </span>
			      </p>
			      
  		</div>	    
  </div>

</div>
<div class="row-fluid full-height">
  <div class="span2 full-height right-border">
    <div ng-include="'client/partials/quotes/header.html'"></div>   
  </div>
  <div class="span10 full-height">
  <form name="form" class="form form-vertical main-form" novalidate>

      <div class="span12">
        <section class="row-fluid">

            <div class="span8">
                
                <label>Cliente&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="text-new" ng-click="addCustomer()" ng-show="!selectedCustomer.CustomerId">+ Agregar un nuevo cliente</a></label>
                <div ng-hide="selectedCustomer.CustomerId" >
                  
                  <input type="text" ng-model="selectedCustomer" placeholder="Escriba el nombre de la persona o compañia" typeahead="customer as customer.CustomerName for customer in customerSearch($viewValue)" class="input-block-level"/>

                  <span class="text-error"  ng-show="form.username.$error.required" >* requerido</span>
                  
                </div>
               
                <div ng-show="selectedCustomer.CustomerId">
                  
                  <div>
                    <strong ng-bind="selectedCustomer.CustomerName"></strong>
                    
                    
                   
                    <button class="btn btn-link" ng-click="selectAnotherCustomer()" title="Seleccionar otro cliente"><i class="icon-remove"></i></a></button><br>
                     <small class="muted" ng-bind="selectedCustomer.CustomerAddress"></small>
                    <small class="muted" ng-bind="selectedCustomer.CustomerCity "></small>
                    <small class="muted" ng-bind="selectedCustomer.CustomerState "></small>
                    <small class="muted" ng-bind="selectedCustomer.CustomerCP "></small>
                    <small class="text-info">Telefono:<span ng-bind="selectedCustomer.CustomerTelephone">(Ninguno)</span>,</small>
                    <small class="text-info">Celular:<span ng-bind="selectedCustomer.CustomerCellphone">(Ninguno)</span>,</small>
                    
                    <a href="mailto:{{ selectedCustomer.CustomerEmail }}">{{ selectedCustomer.CustomerEmail }}</a>
                  </div>

                </div>
              </div>
            <div class="span4">
                  <label>Entrega</label>
                  <small class="text-info"><span ng-bind="selectedCustomer.CustomerDeliveryPlace">( No asignado )</span></small>
            </div>
             
        </section>
        <section class="row-fluid" >

   
          <div class="span12">
             

           
            <div class="row-fluid">
                  <div class="span8">
                    <label for="quote-title">Titulo</label>
                    <input name="quote-title" type="text" ng-model="quote.QuoteTitle" class="input-block-level" placeholder="Ingrese un titulo para esta cotizacion" select-on-click />
                  </div>
                       <div class="span4">
                     
    
                     
                   
                        <label for="quote-date">Fecha</label>
                        <input name="quote-date" type="date" ng-model="quote.QuoteDate" class="input-block-level" placeholder="" >
               
                  </div>
              </div>
            

             <div class="row-fluid">
                <div class="span4">
                  
                  <label for="quote-place">Sucursal</label>
                    <select ng-hide="userInfo.information().place.PlaceId > 0" ng-model="quote.PlaceId" class="input-block-level" ng-options="place.PlaceId as place.PlaceName for place in places" >
                      <option value=""></option>
                    </select>
                    <span class="label label-info" ng-show="userInfo.information().place.PlaceId > 0">{{ userInfo.information().place.PlaceName }}</span>
                </div>
                <div class="span4">
                  <label for="quote-exchange-rate">Tipo de cambio</label>
                    <input name="quote-exchange-rate" type="text" ng-model="quote.QuoteExchangeRate" class="input-block-level" placeholder="$ 0.00" select-on-click />
                </div>
                <div class="span4">
                  <label for="quote-currency"> Moneda </label>

                     <select ng-model="quote.CurrencyId" class="input-block-level" ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
                   
                        
                      </select>
                </div>
            </div>


          </div>
        </section>
        <section class="row-fluid" >
          
          <table class="table table-bordered data-table">
              <thead>
                  <tr>
                    <th></th>
                    <th>ARTICULO</th>
                    <th>UM</th>
                    <th>CANT</th>
                    <th>PRECIO</th>
                    <th>SUBTOTAL</th>
                    <th>DTO%</th>
                    <th>IVA%</th>
                    <th>TOTAL ARTICULO</th>
                   
                  </tr>
              </thead>
              <tbody>
    				    <tr ng-repeat="item in quote.items" focus-iter="input,select">
    				       <td class="span1 tc">
    				          <div class="">
                          <a class="btn btn-link" ng-click="removeQuoteItem(item)"><i class="icon-trash"></i></a>
                      </div>
                  </td>
    				      <td class="span4"> 
    				          <div style="position:relative"   ng-hide="item.Product.ProductId">
                          <input type="text" ng-model="item.Product"  typeahead="product as product.ProductExtendedDescription for product in productSearch($viewValue)" placeholder="Capture el codigo o nombre del articulo" typeahead-on-select="onProductSelection(item)" typeahead-on-select-new="onNewProductSelection(item.Product)" typeahead-on-not-found="onItemNotFound(item)" typeahead-on-matches-found="onItemMatchesFound(item)" class="input-block-level item-description" >
                          <button class="btn btn-link help-inline-text-right" title="Editar en ventana emergente..." ng-show="itIsManualItem(item)"  ng-click="showItemExtendEditModal(item)"> <i class="icon-external-link"></i></button>
                          <div class="item-inline-action popover fade in bottom" ng-show="!item.IsManualItem && item.notFound">
                              <div class="arrow"></div>
                              <h3 class="popover-title">Articulo no fue encontrado...</h3>
                              <div class="popover-content">                              
                                  <button class="btn btn-mini btn-primary" ng-click="onNewProductSelection(item)">Agregar articulo </button> ó<button class="btn btn-mini btn-link" ng-click="setAsManualItem(item)">Continuar capturar libre</button>
                              </div>
                          </div>
                      </div>
                       
                     <div class="text text-info" ng-show="item.Product.ProductId">
                            <span class="">{{ item.Product.ProductCode }} </span>
                            <span class="">{{ item.Product.ProductName }} <button ng-click="removeProductObject(item)" class="close">&times;</button> </span>
                        </div>
                  </td>
    				      <td class="span2">
    				          <select ng-model="item.QuoteDetailUM" class="input-block-level" ng-options="unidad.UMName as unidad.UMName for unidad in unidades" >
                        <option value=""></option>
                      </select>
                  </td>
    				      <td class="span1" >
    				          <input type="number" ng-model="item.QuoteDetailQTY" min="0" max="9999" class="input-block-level numeric" select-on-click >
    				      </td>
    				      <td class="span2" >
    				          <input type="number" ng-model="item.QuoteDetailPrice" placeholer="$ 0.00" class="input-block-level numeric" select-on-click >
    				      </td>
    				      <td class="span2 readonly">
    				          <div class="input-block-level text  numeric">{{  item.QuoteDetailTotal  | currency : "$" }}</div>
    				      </td>
    				      <td class="span1">
    				        <input type="number" ng-model="item.QuoteDetailDiscount" tooltip="{{ item.QuoteDetailDiscountAmount | currency : '$' }}"  tooltip-trigger="focus" tooltip-placement="bottom" class="input-block-level numeric" select-on-click >
    				      </td>
    				      <td class="span1">
    				        
                     <select ng-model="item.QuoteDetailTax" class="input-block-level"  >
                        <option value="0">0 %</option>
                        <option value="16">16 %</option>
                        
                      </select>   				        
    				      </td>
    				      <td class="span2 readonly">
    				          <div class="input-block-level text  numeric">{{  item.QuoteDetailSubTotal  | currency : "$" }}</div>
    				      </td>
    				     
                  
    				    </tr>
    				    <tr>
    				        
    				        <td colspan="9" class="tc"><button class="btn btn-link" ng-click="addItem()"> <i class="icon-plus-sign"></i> Agregar linea </button> </td>
    				    </tr>
    				   
  				    </tbody>
				  </table>
				   
				 
				 
    
          
    
        </section>
        <section class="row-fluid">
          <div class="span8">
              <label class="control-label"></label>
              <textarea name="QuoteDescription" ng-model="quote.QuoteTerms"  rows="3" class="input-block-level" placeholder="Agregue una descripción del trabajo a realizar o comentarios a esta cotización"> </textarea>
              <span class="muted" ng-show="quote.QuoteId">Creada por: {{ quote.CreatedByName }} en: {{ quote.QuoteCDate | date:'medium' }}</span><br>
              <span class="muted" ng-show="quote.QuoteId">Modificada por: {{ quote.UserName }} en: {{ quote.QuoteLMDate | date:'medium' }}</span>
          </div>
          <div class="span4">
              <table class="table table-condensed totals">
                 <tr>
    				        <td class="span6 tr">SUBTOTAL</td>
                    <td class="span5 tr">{{ quote.QuoteSubtotal | currency }}</td>
                    
    				    </tr>
    				    <tr>
    				        <td class="tr">IVA</td>
                    <td class="tr">{{ quote.QuoteTaxes | currency }}</td>
                    
    				    </tr>
    				    <tr>
    				        <td class="tr text-info">DESCUENTO</td>
                    <td class="tr text-info">{{ quote.QuoteDiscounts | currency:'-$' }}</td>
                   
    				    </tr>
    				    <tr ng-repeat="currency in currencies | reverse">
				  
				          <td   class="tr total">TOTAL  {{ currency.CurrencySymbol }} </td>
				          <td class="tr total">
				            <span ng-show="quote.CurrencyId == currency.CurrencyId">{{ quote.QuoteTotal | currency : ' $'  }}</span>
                    <span ng-show="quote.CurrencyId != currency.CurrencyId">{{ quote.QuoteTotalDlls | currency : ' $'  }}</span>
                  </td>
                
				   
				    </tr>
              </table>
            
          </div>
          
        </section>
        <section id="actions" class="row-fluid" >
          <hr>
          <div class="span4">
            
            <a title="Regresar" ng-href="#/cotizaciones"><i class="icon-chevron-sign-left"></i></a>
            <button type="submit" class="btn btn-primary" ng-click="saveQuote()"><i class="icon-save"></i> Guardar</button>
          </div>        
          <div class="span6">  
            <div ng-show="quote.QuoteId" class="pull-right">
              <button class="btn btn-link  pull-right" ng-click="removeQuote(quote)" ng-disabled="!userInfo.information().UserIsAdmin"><span class="text-error"><i class="icon-trash"></i> Eliminar</span></button>
              <button type="button" class="btn btn-danger pull-right" ng-disabled="!userInfo.information().UserIsAdmin" ng-click="cancelQuote()" ng-hide="quote.QuoteStatus === 'Cancelada'"><i class="icon-remove"></i> Cancelar</button>  
              <button type="button" class="btn btn-success pull-right" ng-disabled="!userInfo.information().UserIsAdmin" ng-click="approveQuote()" ng-hide="quote.QuoteStatus === 'Aprobada'"><i class="icon-ok"></i> Aprobar</button>
            </div>
            
          </div>        
            
       </section>

      </div>

  </form>
 </div>



  <div modal="showEmailModal" options="{ backdrop : true } " >
    <form >
      <div class="modal-header"><h4><i class="icon-envelope"></i> Envio de cotización</h4></div>
      <div class="modal-body">
          <div class="row-fluid"><label>Para:<strong> {{ selectedCustomer.CustomerName }}</strong> <small class="muted">[ {{ selectedCustomer.CustomerEmail}} ]</small></label></div>
          <div class="row-fluid">
          
            <label>CC: <small class="muted">( Puede incluir varios correos solo separelos por una coma ',' ) </small></label>
            <tags-input ng-model="quote.email.EmailCC" max-length="32" placeholder="Agregar" replace-spaces-with-dashes="false" allowed-chars="[A-Za-z0-9-._@\\s]"></tags-input>
          </div>
          
          <div class="row-fluid"><label>Mensaje:</label><textarea class="input-block-level" rows="3" ng-model="quote.email.EmailMessage"></textarea></div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-info pull-right" ng-click="sendEmail(quote)">Enviar</button>
          <button class="btn pull-left" ng-click="showEmailModal=false">Cancelar</button>
      </div>
    </form>
  </div>


  <div modal="showEditModal" options="{ backdrop: true }" >
      <div class="modal-body">  
          <textarea name="" ng-model="editQuoteItem.Product"  rows="3" class="input-block-level" placeholder="Agregue una descripciono para este elemento"> </textarea>
          <a  class="btn btn-primary pull-right"  ng-click="hideItemExtendEditWindow()">Aceptar</a>
      </div>
  </div>
  
  <div modal="showRemoveModal" option="{ backdrop : true }">
      <div class="modal-body">
          <div class="row-fluid">
              <strong><span class="text-error"> Advertencia!</span></strong> toda la información relacionada a esta cotización tambien sera eliminada.
              <br/><strong>Escriba la palbra "ELIMINAR"  para confirmar la eliminación</strong>
          </div>
          <div class="row-fluid">
              <input type="text" ng-model="quote.QuoteDeleteWord">
              <button class="btn btn-danger" ng-click="delete()">Eliminar</button> 
              <button class="btn" ng-click="showRemoveModal =!showRemoveModal">Cancelar</button>
          </div>
      </div>
  </div>
  
  <customer-directive ></customer-directive>
  <product-form product-form-on-select="selectProduct(item)"></product-form>
</div>