<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Cotizaciones</a>
            <ul class="nav">
            	<li><a href="#/cotizaciones/nueva" class="text-new">+ Nueva cotizaci&oacute;n</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>
<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<ul class="sidebar-menu">
		    <li>
		    	<span>VER</span>
		        <ul class="">
		        	<li ng-class="getClass('/cotizaciones',true)"><a ng-href="#/cotizaciones">Pendientes</a></li>
					<li ng-class="getClass('/cotizaciones/procesadas',true)"><a href="#/cotizaciones/procesadas">Aprobadas</a></li>
					<li ng-class="getClass('/cotizaciones/canceladas',true)"><a href="#/cotizaciones/canceladas">Canceladas</a></li>
					<li ng-class="getClass('/cotizaciones/completadas',true)"><a href="#/cotizaciones/completadas">Completadas</a></li>
		        </ul>
		    </li>
    	</ul>
	</div>
    <div class="span10 full-height" >
    	<!--<filter-bar></filter-bar>-->
		<div  ng-show="quotes.length > 0">
			<table ng-table="tableParams" class="table">
				<tr ng-repeat="quote in quotes">
					<td title="Folio" >  {{quote.QuoteFolio}}</td>
					<td title="Titulo"> {{ quote.QuoteTitle | truncate:48 }}</td>
					<td title="Cliente"> {{ quote.customer.CustomerName | truncate:48 }}</td>
				
					<td title="Fecha"> {{ quote.QuoteDate }}</td>
					<td title="Total">{{ quote.CurrencySymbol}} {{ quote.QuoteTotal | currency }} </td>
					<td>
						<a title="Enviar cotizacion" class="btn btn-link"  ng-click="editEmail(quote)" ng-disabled="{{ quote.QuoteStatus === 'Cancelada'}}"><i class="icon-envelope" ></i></a>
						<a title="Imprimir cotizacion" class="btn btn-link" ng-href="api/quotes/report/{{quote.QuoteId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-print" ></i></a>
						<a title="Editar cotizacion" class="btn btn-link" ng-href="#/cotizaciones/{{quote.QuoteId}}"><i class="icon-edit" ></i></a>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="quotes.length == 0">
			<div class="span12 tc">
		 		<h3><i class="icono-file"></i> No se encontraron cotizaciones en esta seccion</h3>
		 	</div>
		</div>
	</div>

</div>

<div modal="showEmailModal" options="{ backdrop : true } " >
    <form >
      <div class="modal-header"><h4><i class="icon-envelope"></i> Envio de cotización</h4></div>
      <div class="modal-body">
          <div class="row-fluid"><label>Para:<strong> {{ selectedquote.customer.CustomerName }}</strong> <small class="muted">[ {{ selectedquote.customer.CustomerEmail}} ]</small></label></div>
          <div class="row-fluid">
          
            <label>CC: <small class="muted">( Puede incluir varios correos solo separelos por una coma ',' ) </small></label>
            <tags-input ng-model="selectedquote.email.EmailCC" max-length="32" placeholder="Agregar" replace-spaces-with-dashes="false" allowed-chars="[A-Za-z0-9-._@\\s]"></tags-input>
          </div>
          
          <div class="row-fluid"><label>Mensaje:</label><textarea class="input-block-level" rows="3" ng-model="selectedquote.email.EmailMessage"></textarea></div>
      </div>
      <div class="modal-footer">
          <button class="btn btn-info pull-right" ng-click="sendEmail(selectedquote)">Enviar</button>
          <button class="btn pull-left" ng-click="showEmailModal=false">Cancelar</button>
      </div>
    </form>
  </div>


