<div class="row-fluid full-height">
  <div class="span2 full-height right-border">
      
      <div ng-include="'client/partials/quotes/header.html'" ></div> 
  </div>
  
    
    <div class ="span10 full-height"> 
<sale-order-form ></sale-order-form>
</div>
</div>