<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
            <p class="nav navbar-text ">
			         <a title="Regresar" ng-href="#/cotizaciones"><i class="icon-chevron-sign-left"></i></a>
			      </p>
            <a class="brand title-brand" ng-hide="quote.QuoteId">Crear nueva cotizaci&oacute;n</a>
            <a class="brand title-brand" ng-show="quote.QuoteId">Cotizaci&oacute;n <span class="text-info">{{ quote.QuoteFolio }}</span> </a>
            <ul class="nav">
              <li><button title="Enviar cotizacion" class="btn btn-link" ng-show="quote.QuoteId" ng-click="editEmail()" ng-disabled="{{ quote.QuoteStatus === 'Cancelada'}}"><i class="icon-envelope" ></i></button></li>
              <li><a title="Imprimir cotizacion" ng-show="quote.QuoteId" ng-href="api/quotes/report/{{quote.QuoteId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-print" ></i></a></li>
			        <li><a title="Imprimir cuadricula" ng-show="quote.QuoteId" ng-href="api/quotes/report/square/{{quote.QuoteId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-th" ></i></a></li>
			      </ul>
			      <ul class="nav">
			        <li class="divider-vertical"></li>
			      </ul>
			      <p class="nav navbar-text ">
			          <span class="label label-info"> {{ quote.QuoteStatus }} </span>
			      </p>
			      
  		</div>	    
  </div>

</div>

<div class="row-fluid full-height">
  <div class="span2 full-height right-border">
      
      <div ng-include="'client/partials/quotes/header.html'" ></div> 
  </div>
  
    
    <div class ="span10 full-height"> 
<div ng-hide="quote.SaleOrderId"><a class="btn btn-success" ng-click="createSaleOrder()"><i class="icon-plus"></i> Crear Orden de venta</a></div>
<sale-order-form ng-show="quote.SaleOrderId"></sale-order-form>
</div>
</div>

