<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
            <p class="nav navbar-text ">
			         <a title="Regresar" ng-href="#/cotizaciones"><i class="icon-chevron-sign-left"></i></a>
			      </p>
            <a class="brand title-brand" ng-hide="quote.QuoteId">Crear nueva cotizaci&oacute;n</a>
            <a class="brand title-brand" ng-show="quote.QuoteId">Cotizaci&oacute;n <span class="text-info">{{ quote.QuoteFolio }}</span> </a>
            <ul class="nav">
              <li><button title="Enviar cotizacion" class="btn btn-link" ng-show="quote.QuoteId" ng-click="editEmail()" ng-disabled="{{ quote.QuoteStatus === 'Cancelada'}}"><i class="icon-envelope" ></i></button></li>
              <li><a title="Imprimir cotizacion" ng-show="quote.QuoteId" ng-href="api/quotes/report/{{quote.QuoteId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-print" ></i></a></li>
			        <li><a title="Imprimir cuadricula" ng-show="quote.QuoteId" ng-href="api/quotes/report/square/{{quote.QuoteId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-th" ></i></a></li>
			      </ul>
			      <ul class="nav">
			        <li class="divider-vertical"></li>
			      </ul>
			      <p class="nav navbar-text ">
			          <span class="label label-info"> {{ quote.QuoteStatus }} </span>
			      </p>
			      
  		</div>	    
  </div>

</div>
<div class="row-fluid full-height">
    <div class="span2 full-height right-border">
      <div ng-include="'client/partials/quotes/header.html'"></div>   
    </div>
    <div class="span10 full-height main-form">
        <div class="span5">
        <h4>Archivos adjuntos</h4>
      
        <input type="file" ng-file-select="onFileSelect($files,category)" multiple>
        <br>
        <br>
          <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">o Arrastre aqui</div>
          <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
      
        <br>
        <div ng-show="selectedFiles != null">
            <div class="row-fluid file-upload" ng-repeat="f in selectedFiles">
              <div class="span1"><img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}"></div>
              <div class="span4"> 
              <progress percent=" progress[$index] " class="progress-striped active" ></progress> {{ progress[$index] }} %</div>
              <div class="span5"><small>{{f.name | truncate : 32}}</small> </div>
              <div class="span2"></div>
                      
            </div>
          </div>
      </div>
      <div class="span7">
        <ul class="row-fluid listing">
         
          <li class="row-fluid" ng-repeat="attachment in quote_attachments">
            <span class="span1 muted">{{ attachment.QuoteAttachmentId }}</span>
            <span class="span4"><a href="{{ attachment.QuoteAttachmentUrl }}" target="blank "class="btn  btn-link">{{ attachment.QuoteAttachmentName }}</a></span>
            <span class="span4">{{ attachment.QuoteAttachmentDescription }}</span>
            <span class="span2"><button  confirm-button="delete(attachment)" class="btn btn-danger"  message=
            " realmente desea eliminar este adjunto?" yes="Si" no="No" ><i class="icon-trash"></i> Eliminar</button></span>
          </li>
        </ul>
      </div>
    </div>
    
</div>