<div>
    

    <button class="btn btn-link" ng-click="openCrud()">Unidad de medida <i class="icon-external-link-sign"></i></button>
    <div modal="showUnitsOfMeasureModal" close="closeCrud()" options="{ backdrop : true}">

        <div class="modal-header">
            <h3> Unidades de medida </h3>
            <p>
                <div class="search-bar">
                    <button class="btn btn-info " ng-click="add()"><i class="icon-plus"></i>  Agregue una Unidad</button>
                    <button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>

                </div>
            </p>
        </div>
        <div class="modal-body">

            <table ng-table="tableParams" class="table"  >

                <tr ng-repeat="um in ums">
                    <td><button class="btn btn-info" ng-click="select(um)"><i class="icon-check" ></i></button></td>
                    <td title="Nombre" >{{ 	um.UMName }}</td>
                    <td title="Descripción" >{{ um.UMDescription }}</td>
                    <td title="Abreviatura" >{{ um.UMAbbreviation }}</td>

                    <td>

                        <button title="Editar unidad" class="btn" ng-click="edit(um)"><i class="icon-edit" ></i></button>
                        <button confirm-button="delete(um)" class="btn btn-danger"  message=" realmente desea eliminar esta unidad?" yes="Si" no="No"><i class="icon-trash"></i></button>
                    </td>

                </tr>

            </table>
        </div>


    </div>

    <div modal="showUMModal" close="cancel()" options="{ backdrop: true}">
        <form name="form"  novalidate >
            <div class="modal-header">
                    <h4>
                        <span ng-show="um.IsNew">Nueva unidad </span>
                        <span ng-hide="um.IsNew">Editar {{ currency.CurrencyName }}</span>
                    </h4>
                    <p>
                        <span class="text-info"></span>
                    </p>
            </div>
            <div class="modal-body">
                <div class="row-fluid" >			   	
                    <div class="span8">	            	
                        <label>Nombre</label>
                        <input name="umname" type="text" ng-model="um.UMName" class="span12" required />
                        <span class="text-error"  ng-show="form.umname.$error.required" >* requerido</span>
                    </div>
                </div>
                <div class="row-fluid" >
                    <div class="span4">
                        <label>Descripcion</label>
                        <input name="currencysymbol" type="text" ng-model="um.UMDescription" class="span12"  />

                    </div>
                    <div class="span4">
                        <label>Abreviatura</label>
                        <input name="umabbreviation" type="text" ng-model="um.UMAbbreviation" class="span12"  />

                    </div>

                </div>




            </div>
            <div class="modal-footer">          
                <a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
                <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar unidad</button>
            </div>
        </form>
    </div>
</div>