<ul class="sidebar-menu">
    <li><span>VER</span>
    <ul>
	<li class="active"><a ng-href="#/products/{{ product.ProductId }}">General</a> </li>
 	<li ng-show="product.ProductId > 0 && product.ProductManageStock === true"><a ng-href="#/products/inventory/{{ product.ProductId }}">Inventario</a> </li>
 	</ul>
 	</li>
</ul>