 <section class="row-fluid">
    
		  <div class="span12"
	        
	        <span class="muted">"Al agregar productos, puede ser que el producto esté disponible en varios colores, estilos y tamaños. Con nuestra función de variantes de producto, sólo necesitas crear el producto y luego asignar las diferentes variantes, además es posible gestionar el nivel de existencias para "cada variante."" </span>

	        <button class="btn btn-info" ng-model="product.ProductHasVariants" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Manejar variantes para este producto.</button>
	    </div>
    

 				
    </section>
<section id="product-variant-details"  class="row-fluid" ng-show="product.ProductHasVariants" >
	
  		<div class="span5 well well-small" ng-show="product.IsNew">
  			<div class="row-fluid" >
  			
  				<select ui-select2  ng-model="SelectedVariant" data-placeholder="Seleccione una variante para iniciar..." ng-click="addVariant(SelectedVariant)" class="input-block-level" 
  				ng-options="variant as variant.VariantName for variant in variants" >
					   
					    <option></option>
    				
					</select>
            </div>
            <div class="row-fluid" >
            	&nbsp;
            </div>

            <div class="row-fluid" ng-repeat="ve in product.variants">
	  		
	           	<div class="span2"><label>{{ ve.VariantName }}</label></div>
	            <div class="span9"><variant-tags-input ng-model="ve.VariantValues" max-length="32" placeholder="Agregar"></variant-tags-input></div>	
	       		<div class=""><button class="btn" ng-click="removeProductVariant()"><i class="icon-trash"></i>  </button> </div>
	    		
    		</div>    

            		
	  	</div>
   			
   		<div class="span7" >
   			<div  class="row-fluid">
   				<h5>Variantes</h5>
   			</div>

   			<section id="quote-details" class="tabled form-table ">
				<ul class="table-header row-fluid">
					<li class="span3">Codigo</li>
					<li class="span9">Variante</li>
					<li class="span4">Precio Costo</li>
					<li class="span4">Precio Venta</li>
			 			  
				</ul>
               
				<ul class="tabled-body">
					<li ng-repeat="combination in product.product_variants  " class="tabled-line-item" >
						<ul class="row-fluid">
					        <li class="span3"><input type="text" ng-model="combination.ProductCode"></li>
					        <li class="span9"><input type="text" ng-model="combination.ProductName" /></li>
					        <li class="span4"><input type="number" ng-model="combination.ProductCostPrice" placeholder="$ 0.00" /></li>
					        <li class="span4"><input type="number" ng-model="combination.ProductPrice" placeholder="$ 0.00" /></li>
									    
					    </ul>					        	
				    </li>
				</ul>
			</section>
   		</div>
	</section>