
<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Categorias</a>
            <ul class="nav">
            	<li><a ng-click="add()" class="text-new">+ Agregue un nueva categoria</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>


<div class="row-fluid full-height">
	
	<div class="span2 full-height right-border">
		
		<ul class="sidebar-menu">
			<li><span>VER</span>
				<ul>
					<li ng-class="getClass('/productos/',true)"> <a ng-href="#/productos/">Todos</a></li>
					<li ng-class="getClass('/productos-destacados/',true)"> <a ng-href="#/productos-destacados/">Destacados</a></li>
					<li ng-class="getClass('/productos/categorias/',true)"><a href="#/productos/categorias/">Categorias</a></li>
					<li ng-class="getClass('/productos/marcas/',true)"><a href="#/productos/marcas/">Marcas</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span10 full-height ">
		
		<ul class="thumbnails">
		
		  <li class="span2" ng-repeat="category in categories">
		    <div class="thumbnail">
		    	<div class="fileUpload btn btn-info">
		    		<span><i class="icon-picture"></i> Upload</span>
		    	<input type="file" ng-file-select="onFileSelect($files,category)" class="upload">
		    	</div>
	
				<div  ><img src="{{category.CategoryPicture}}"></div>
		     
		    	<div class="caption">
		        	<h5 ><a href="#/categorias/{{ category.CategoryId }}" class="" title="{{ category.CategoryDescription }}">{{  category.CategoryName }}</a></h5>
		        
		        	<p class="">
		        		
		        		<button title="Editar categoria" class="btn" ng-click="edit(category)"><i class="icon-edit" ></i></button>
						<button confirm-button="delete(category)" class="btn btn-danger"  message=" Seguro desea eliminar esta categoria?" yes="Si" no="No"><i class="icon-trash"></i></button>
					</p>
		      </div>
		    </div>
		  </li>
	
		 
		</ul>
		
	</div>
	
	
</div>

	



<div modal="showModal"  close="cancel()" options="{ backdrop: true}">
    
    <form name="form" class="form-vertical" novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="category.IsNew">Agregue una categoria</span>
	            	<span ng-hide="category.IsNew">Modificar categoria</span>
	            </h4>
	            <p>
	            	<span ng-show="category.IsNew">Agregue una categoria la aplicación</span>
	            	<span ng-hide="category.IsNew">Modificar una categoria</span>
	           	</p>
	    </div>
	    <div class="modal-body">
	    	<div class="control-group" >
	            <label class="control-label">Codigo</label>
	            <div class="controls">
	            	<input name="categoryCode" type="text" ng-model="category.CategoryCode" class="input-xlarge" required />
	            	<span class="text-error"  ng-show="form.categoryCode.$error.required" >* requerido</span>
	        	</div>
	        </div>
	    	<div class="control-group" >
	            <label class="control-label">Nombre</label>
	            <div class="controls">
	            	<input name="categoryName" type="text" ng-model="category.CategoryName" class="input-xlarge" required />
	            	<span class="text-error"  ng-show="form.categoryName.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">Descripción</label>
	            <div class="controls">
	            	<textarea name="categoryDescription" type="text"  rows="2" ng-model="category.CategoryDescription" class="input-xlarge" > </textarea>
	            	
	        	</div>
	        </div>
	        <div class="control-group"> 
				<label class="control-label"> Categoria padre</label>
				  	<select ng-model="category.CategoryParentId" class="input-xlarge" ng-options="parent.CategoryId as parent.CategoryName for parent in categories" >
						<option value="">( Ninguna ) </option>
			    	</select>
			</div>
			<div class="control-group" >
	            <label class="control-label">Link Externo</label>
	            <div class="controls">
	            	<input name="categoryName" type="text" ng-model="category.CategoryExternalLink" class="input-xlarge"  />
	            	
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">Imagenes externas</label>
	            <div class="controls">
	            	<input name="categoryName" type="text" ng-model="category.CategoryExternalImageSite" class="input-xlarge"  />
	            	
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">Ordenamiento</label>
	            <div class="controls">
	            	<input name="categoryName" type="text" ng-model="category.CategoryOrder" class="input-xlarge"  />
	            	
	        	</div>
	        </div>
			
			 <div class="control-group"> 
					<label class="checkbox" >Habilitada para ecommerce?
				  					<input name="product-code" type="checkbox" ng-model="category.CategoryEcommerceEnabled"   >
				  					</label>
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar categoria</button>
	    </div>
    </form>
</div>