<div ng-show="showProductModal"  >
	<div class="custom-modal">
		<form name="form" class="form form-vertical custom-modal-form" novalidate >
			<div class="">
				<h3>Información del articulo</h3>
			</div>
			<div class="custom-modal-body">
				
				<tabset>
					<tab heading="Informacion general">
						<div class="row-fluid">
							<label for="product-description"> Nombre del articulo</label>
							<input name="product-name" type="text" ng-model="product.ProductName" placeholder="Ingrese un nombre para el producto" class="input-block-level" required/>
					    </div>

			  			<div class="row-fluid">
			
			  				
			  					<label for="product-description"> Descripción del articulo o mueble<label>
			  					<textarea name="product-description" type="text" ng-model="product.ProductDescription" placeholder="Descripcion detallada del articulo" class="input-block-level" rows="3"></textarea>	  				
			  				
			  			</div>

			  			<div class="row-fluid">
			  				<div class="span4"> 
			  		
			  					<label for="product-category"> Categoria</label>
			  					<select ng-model="product.CategoryId" class="input-block-level" ng-options="category.CategoryId as category.CategoryName for category in categories" >
							   
							    	<option value="">Seleccione una categoria...</option>
		    				
								</select>


			  				</div>
			  				<div class="span4">
			  					<label for="product-um"> Unidad de Medida </label>

			  					<select ng-model="product.ProductUM" class="input-block-level" ng-options="unidad.UMName as unidad.UMName for unidad in unidades" >
							   
							    		<option value="">Seleccion Unidad de medida...</option>
		    				
								</select>


			  				</div>
			  			</div>	
			  			<div class="row-fluid">
			  		  		<div class="span4"> 
			  					<label for="product-code">Codigo</label>
			  					<input name="product-code" type="text" ng-model="product.ProductCode" placeholder="Ej. Codigo de Barras" class="input-block-level"/>
			  				</div>
			  				<div class="span4">
			  					<label for="product-price"> Precio de venta</label>
			  					<input name="product-price" type="number" ng-model="product.ProductPrice" placeholder="$ Precio de venta" class="input-block-level"/>
			  				</div> 
			  				<div class="span4">
			  					<label for="product-cost-price">Precio de costo</label>
			  					<input name="product-cost-price" type="number" ng-model="product.ProductCostPrice" placeholder="$ Precio de costo" class="input-block-level" />
			  				</div> 	
			  			</div>

			  			<div class="row-fluid">
			  				<label for="product-stock">Inventario</label>
			  				<input name="product-stock" type="number" ng-model="product.ProductStock" placeholder="Inventario" class="span6"/>
			  			</div>	
					</tab>
					<tab heading="Caracteristicas">	
						<div class="row-fluid">

						</div>

					    <div class="row-fluid">
					    	<div class="span4">
					    		<ul class="nav nav-tabs nav-stacked">
			  						<li ng-repeat="feature_group in feature_groups"   >
			  							<a ng-click="selectFeatures(feature_group)"> <i class="icon-chevron-right"></i> {{ feature_group.FeatureGroupName }}  </a>													        								        					        							    					  							
			  						</li>
			  					</ul>
					    	</div>
					    	<div class="span8">
					    		<h4> {{ selected_feature_group.FeatureGroupName }} </h4>
					    		<ul class="inline"  >
	  								<li ng-repeat="feature in selected_feature_group.features">
	  									<input type="checkbox"  ng-model="feature.FeatureSelected" /> {{ feature.FeatureName }}
	  								</li>
			  					</ul>
					    	</div>
					    </div>								  						  				  			
	  					
	  				</tab>					
				</tabset>				
		</div>
		<div>
			<button class="btn" ng-click="showProductModal=!showProductModal">Cancelar</button>
			<button class="btn btn-info pull-right"  ng-click="saveProduct()">Guardar</button>
		</div>
		</form>
	</div>
	<div class="custom-modal-backdrop" ng-click="showProductModal=!showProductModal">
	</div>
</div>