
<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Marcas</a>
            <ul class="nav">
            	<li><a ng-click="add()" class="text-new">+ Agregue un nueva marca</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>


<div class="row-fluid full-height">
	
	<div class="span2 full-height right-border">
		
		<ul class="sidebar-menu">
			<li><span>VER</span>
				<ul>
					<li ng-class="getClass('/productos/',true)"> <a ng-href="#/productos/">Todos</a></li>
					<li ng-class="getClass('/productos-destacados/',true)"> <a ng-href="#/productos-destacados/">Destacados</a></li>
					<li ng-class="getClass('/productos/categorias/',true)"><a href="#/productos/categorias/">Categorias</a></li>
					<li ng-class="getClass('/productos/marcas/',true)"><a href="#/productos/marcas/">Marcas</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span10 full-height ">
		
		<ul class="thumbnails">
		
		  <li class="span2" ng-repeat="brand in brands">
		    <div class="thumbnail">
		    	<div class="fileUpload btn btn-info">
		    		<span><i class="icon-picture"></i> Upload</span>
		    	<input type="file" ng-file-select="onFileSelect($files,brand)" class="upload">
		    	</div>
	
				<div  ><img src="{{brand.brandPicture}}"></div>
		     
		    	<div class="caption">
		        	<h5 ><a href="#/marcas/{{ brand.brandId }}" class="" title="{{ brand.brandDescription }}">{{  brand.brandName }}</a></h5>
		        
		        	<p class="">
		        		
		        		<button title="Editar marca" class="btn" ng-click="edit(brand)"><i class="icon-edit" ></i></button>
						<button confirm-button="delete(brand)" class="btn btn-danger"  message=" Seguro desea eliminar esta marca?" yes="Si" no="No"><i class="icon-trash"></i></button>
					</p>
		      </div>
		    </div>
		  </li>
	
		 
		</ul>
		
	</div>
	
	
</div>

	



<div modal="showModal"  close="cancel()" options="{ backdrop: true}">
    
    <form name="form" class="form-vertical" novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="brand.IsNew">Agregue una marca</span>
	            	<span ng-hide="brand.IsNew">Modificar marca</span>
	            </h4>
	            <p>
	            	<span ng-show="brand.IsNew">Agregue una marca la aplicación</span>
	            	<span ng-hide="brand.IsNew">Modificar una marca</span>
	           	</p>
	    </div>
	    <div class="modal-body">
	    	<div class="control-group" >
	            <label class="control-label">Nombre</label>
	            <div class="controls">
	            	<input name="brandName" type="text" ng-model="brand.brandName" class="input-xlarge" required />
	            	<span class="text-error"  ng-show="form.brandName.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">Descripción</label>
	            <div class="controls">
	            	<textarea name="brandDescription" type="text"  rows="2" ng-model="brand.brandDescription" class="input-xlarge" > </textarea>
	            	
	        	</div>
	        </div>
	        <div class="control-group"> 
				<label class="control-label"> Marca padre</label>
				  	<select ng-model="brand.brandParentId" class="input-xlarge" ng-options="parent.brandId as parent.brandName for parent in categories" >
						<option value="">( Ninguna ) </option>
			    	</select>
			</div>
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar marca</button>
	    </div>
    </form>
</div>