<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Productos</a>
            <ul class="nav">
            	<li><a href="#/productos/nuevo" class="text-new">+ Agregue un nuevo producto</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>
<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<ul class="sidebar-menu">
			<li><span>VER</span>
				<ul>
					<li ng-class="getClass('/productos/',true)"> <a ng-href="#/productos/">Todos</a></li>
					<li ng-class="getClass('/productos-destacados/',true)"> <a ng-href="#/productos-destacados/">Destacados</a></li>
					<li ng-class="getClass('/productos/categorias/',true)"><a href="#/productos/categorias/">Categorias</a></li>
					<li ng-class="getClass('/productos/marcas/',true)"><a href="#/productos/marcas/">Marcas</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="span10 full-height" >
		<table ng-table="tableParams" class="table">
			<tr ng-repeat="product in products">
	
				<td title="Codigo"> <strong> {{product.ProductCode}}</strong></td>
				<td title="Producto">  {{product.ProductName}}</td>
				<td title="U.M."> {{ product.ProductUM }}</td>			
				<td title="Precio Costo"> {{ product.ProductCostPrice | currency}}</td>
				<td title="Precio"> {{ product.ProductPrice | currency }}</td>
				<td title="Stock"> {{ product.ProductStock }}</td>
				<td ><div class="" ng-show="product.default_picture"> <img ng-src="{{ product.default_picture.ProductPictureThumbnail }}"  ></div> </td>
				<td>
					<a title="Editar productos" class="btn" ng-href="#/productos/{{product.ProductId}}"><i class="icon-edit" ></i></a>
					<button confirm-button="deleteProduct(product)" class="btn btn-danger"  message=
				" realmente desea eliminar esta producto?" yes="Si" no="No"><i class="icon-trash"></i></button>
			</td>
			</tr>
		</table>
	</div> 	
</div>


