<div class="row-fluid" >
	<div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
	  <div class="container" style="width: auto; ">
	        <p class="nav navbar-text ">
				<a title="Regresar" ng-href="#/productos"><i class="icon-chevron-sign-left"></i></a>
			</p>
	        <a class="brand title-brand" ng-hide="product.ProductId">Crear nuevo producto</a>
	        <a class="brand title-brand" ng-show="product.ProductId">Producto <span class="text-info">{{ product.ProductCode }}</span></a>
	  	</div>	    
	</div>
</div>

<div class="row-fluid full-height" > 
	<div class="span10 full-height" >
		
		<form name="form" class="form main-form form-vertical" novalidate file-upload>
			
			<div class="row-fluid">
				<div class="span8">
					
						<div class="row-fluid">
							
				  			<div class="row-fluid">
				
				  				<div class="span8">
				  					<label for="product-name"> Nombre del producto</label>
				  					<input name="product-name" type="text" ng-model="product.ProductName" placeholder="Capture un nombre para el producto" class="input-block-level" required>
				  				</div>
			
				  				<div class="span4"> 
				  		
				  					<label for="product-category"> Categoria</label>
				  					<select ng-model="product.CategoryId" class="input-block-level" ng-options="category.CategoryId as category.CategoryName for category in categories" >
								   
								    	<option value="">Seleccione una categoria...</option>
			    				
									</select>
				  				</div>
				  				
				  			</div>
				  			<div class="row-fluid">
				  				<div class="span8">
				  					<label for="product-description"> Descripción del producto</label>
				  					<textarea name="product-description" type="text" ng-model="product.ProductDescription" placeholder="Descripcion detallada del producto" class="input-block-level" rows="4"></textarea>
			
				  				</div>
				  				<div class="span4">
				  					
			                        <unit-of-measure></unit-of-measure>
			
				  					<select ng-model="product.ProductUM" class="input-block-level" ng-options="unidad.UMName as unidad.UMName for unidad in unidades" >
								   
								    		<option value="">Seleccion Unidad de medida...</option>
			    				
									</select>
			
			
				  				</div>
				  			</div>	
				  			<div class="row-fluid">
				  		  		<div class="span4"> 
				  					<label for="product-code">Codigo</label>
				  					<input name="product-code" type="text" ng-model="product.ProductCode" placeholder="Ej. Codigo de Barras" class="input-block-level" >
				  				</div>
				  				<div class="span4">
				  					<label for="product-price"> Precio de venta</label>
				  					<input name="product-price" type="number" ng-model="product.ProductPrice" placeholder="$ Precio de venta" class="input-block-level">
				  				</div> 
				  				<div class="span4">
				  					<label for="product-cost-price">Precio de costo</label>
				  					<input name="product-cost-price" type="number" ng-model="product.ProductCostPrice" placeholder="$ Precio de costo" class="input-block-level" >
				  				</div> 	
				  			</div>
				  			<div class="row-fluid">
				  				
				  				<div class="span4"> 
				  					<label for="product-stock">Stock</label>
				  					<input name="product-stock" type="text" ng-model="product.ProductStock" placeholder="Ej. Codigo de Barras" class="input-block-level" >
				  				</div>
				  				<div class="span4">
				  					<label for="product-condition"> Condition</label>
				  					<input name="product-condition" type="text" ng-model="product.ProductCondition" placeholder="Nuevo, Seminuevo, Remanufacturado..." class="input-block-level">
				  				</div> 
				  				<div class="span4">
				  					<label for="product-cost-price">Precio de costo</label>
				  					<input name="product-cost-price" type="number" ng-model="product.ProductCostPrice" placeholder="$ Precio de costo" class="input-block-level" >
				  				</div> 	
				  			</div>
				  			<div class="row-fluid">
				  				<div class="span6">
				  					<label class="checkbox" >Este producto es para venta al publico ( Punto de venta )
				  					<input name="product-code" type="checkbox" ng-model="product.ProductIsSaleable"   >
				  					</label>
				  				</div>
				  				<div class="span4"></div>
				  			</div>
				  			<div class="row-fluid">
				  				<div class="span6">
				  					<label class="checkbox" >Este producto maneja variantes
				  					<input name="product-code" type="checkbox" ng-model="product.ProductHasVariants"   >
				  					</label>
				  				</div>
				  				<div class="span4"></div>
				  			</div>
				  				<div class="row-fluid">
				  				<div class="span6">
				  					<label class="checkbox" >Habilitado para ecommerce
				  					<input name="product-code" type="checkbox" ng-model="product.ProductEcommerceEnabled"   >
				  					</label>
				  				</div>
				  				<div class="span4"></div>
				  			</div>
				  			<div class="row-fluid">
				  				<div class="span6">
				  					<label class="checkbox" >Mostrar como producto destacado
				  					<input name="product-code" type="checkbox" ng-model="product.ProductFeatured"   >
				  					</label>
				  				</div>
				  				<div class="span4"></div>
				  			</div>
				  			<div class="row-fluid" >
				  				<h4>Caracteristicas del articulo <a class="btn btn-link" ng-hide="showAttributesModal" ng-click="showAttributesModal=true">+ Agregar</a> </h4> 
								   
								   
			                    
				  				<ul>
				  					<li ng-repeat="feature_group in product.feature_groups">
				  						<article>
				  							<header>
				  								<strong>{{feature_group.FeatureGroupName}}</strong>
				  							</header>
				  						</article>
				  						<ul>
				  							<li ng-repeat="feature in feature_group.features">
				  								
			        							<label class="checkbox"><input type="checkbox"  ng-model="feature.FeatureSelected" >{{ feature.FeatureName }}</label>
				  							</li>
				  							<div class="controls controls-row">
			  									  <input class="span6"  type="text" ng-model="newFeature" placeholder="Agregue una nueva caracteristica...">
			 									 <button class="btn" type="button" ng-click="addFeature(feature_group,newFeature)"> Agregar</button>
											</div>
				  						</ul>
				  					</li>
				  				</ul>
				  					  			
			
				  			</div>
							<div class="row-fluid" ng-show="product.ProductHasVariants">
								
								<h4>Variantes del articulo <a class="btn btn-link" ng-hide="showVariantsModal" ng-click="showVariantsModal=true">+ Agregar variantes</a> </h4> 
						  		<div class="row-fluid " ng-show="product.IsNew">
						
						
						  			<table class="table ">
						            <tr ng-repeat="ve in product.variants">
						            	<td><button type="button" class="close" ng-click="removeProductVariant()">×</button></td>
							  			<td>
							           		<label>{{ ve.VariantName }}</label>
						
							       		</td>
							       		<td>
							       			<variant-tags-input ng-model="ve.VariantValues" max-length="32" placeholder="Agregar"></variant-tags-input>
							       		</td>
							    		
						    		</tr>    
						    		</table>
						            		
							  	</div>
			   			
			   					<div class="span7" >
		
						   			<table class="table table-bordered data-table">
						   				<thead>
											<tr>
												<th class="span2"></th>
												<th class="span1">Codigo</th>
												<th class="span5">Variante</th>
												<th class="span2">Precio Costo</th>
												<th class="span2">Precio Venta</th>
											</tr>
						               	</thead>
									 	<tbody>
											<tr ng-repeat="combination in product.product_variants  " >
												<td class="span2"><img ng-src="{{combination.default_picture.ProductPictureUrl}}" style="height:40px" ng-show="combination.default_picture.ProductPictureUrl"></td>
										        <td class="span1"><input type="text" ng-model="combination.ProductCode"></td>
										        <td class="span5"><input type="text" ng-model="combination.ProductName" /></td>
										        <td class="span2"><input type="number" ng-model="combination.ProductCostPrice" placeholder="$ 0.00" /></td>
										        <td class="span2"><input type="number" ng-model="combination.ProductPrice" placeholder="$ 0.00" /></td>
											</tr>					        	
										</tbody>
									</table>
			   					</div>	
							</div>
						</div>
						
					    
				</div>
	            <div class="span4">
					<div class="row-fluid">
					  	<h4>Imagenes del producto</h4>
					  	<div class="fileUpload btn btn-info">
		    				<span><i class="icon-picture"></i> Upload</span>
					  		<input type="file" accept=".jpg,.jpeg,.png,.gif" ng-file-select="onFileSelect($files)" multiple class="upload">
					  	</div>
							<ul class="thumbnails">
								<li ng-repeat="picture in product.pictures" class="span3">
									<div class="thumbnail">
										<img ng-src="{{ picture.ProductPictureThumbnail }}?access_token={{  $scope.tokenInfo.info().access_token }}">
										<div class="caption">
											<p>
			                    				<button class="btn btn-mini" ng-class="{ 'btn-success' : picture.ProductPictureDefault }"><i class="icon-ok" ng-click="setProductPictureDefault(picture)" title="Usar esta foto como predeterminada"></i></button>
			                    				<button class="btn btn-link pull-right" ng-click="removeProductPicture(picture)"><i class="icon-trash"></i></button>
		                    				</p>
		                 				</div>
									</div>
								</li>
							</ul>
					</div>
					<div class="row-fluid">
						<h4>Peso</h4>
						<div class="row-fluid">
							<div class="span6"> 
				  					<label for="product-weight">Peso</label>
				  					<input name="product-weight" type="text" ng-model="product.ProductWeight"  placeholder="Ej. 0.0" class="input-block-level" >
				  				</div>
				  				<div class="span6">
				  					<label for="product-weight-unit">Unidad de peso</label>
				  					<input name="product-weight-unit" type="text" ng-model="product.ProductWeightUnit"  placeholder="Ej. LB,KG" class="input-block-level">
				  				</div> 
				  					
				  		 </div>
				  		 
				  		 
					</div>
					<div class="row-fluid">
						<h4>Dimensiones</h4>
						<div class="row-fluid">
							<div class="span6"> 
				  					<label for="product-code">Largo</label>
				  					<input name="product-code" type="text" ng-model="product.ProductLength"   placeholder="Ej. 0.0" class="input-block-level" >
				  				</div>
				  				<div class="span4">
				  					<label for="product-price"> Ancho</label>
				  					<input name="product-price" type="number" ng-model="product.ProductWidth"  placeholder="Ej. 0.0" class="input-block-level">
				  				</div> 
				  		
				  		 </div>
				  		 <div class="row-fluid">
					
				  				
				  				<div class="span6">
				  					<label for="product-cost-price">Altura</label>
				  					<input name="product-cost-price" type="number" placeholder="Ej. 0.0" ng-model="product.ProductHeight"  class="input-block-level" >
				  				</div> 	
				  				<div class="span6">
				  					<label for="product-price"> Unidad</label>
				  					<input name="product-price" type="number" ng-model="product.ProductDimensionsUnit" placeholder="Ej. IN" class="input-block-level">
				  				</div> 
				  		 </div>
					</div>
				</div>
			</div>
			<div id="actions" class=" row-fluid" >
						<hr>
			   			<button type="submit" class="btn btn-primary" ng-click="saveProduct()"><i class="icon-save"></i>  Guardar</button> 
			</div>
		</form>
	</div>
	<div class="span2 full-height" >
	
	</div>
</div>




<div modal="showAttributesModal" options="{ backdrop: true }" >
	<div class="modal-header">
		Agregar una caracteristica
	</div>
  	<div class="modal-body">
  		<div>  				
	  		<div class="search-list" >
		  		<table class="table">
		  			<tr ng-repeat="feature_group in feature_groups">
		  				<td>
		  					<div class="row-fluid">
		  						<span class="item description">
                                    <span class="row-fluid"> <span class="text-info ng-binding">{{ feature_group.FeatureGroupName }} </span></span>                 
                                </span>
							</div>
						</td>
	  					<td class="">
	  						<span class="item action">
	  							<button class="btn btn-link" ng-click="selectFeature(feature_group)" title="selecionar caracteristica"><i class="icon-ok-sign"></i></button>
                            </span> 
	  					</td>
		  			</tr>
		  		</table>
	  		</div>		
  		</div>			  			
  	</div>
	<div class="modal-footer">
		<button class="btn" ng-click="showAttributesModal=false">Cancel</button>
	</div>
</div>

<div modal="showVariantsModal" options="{ backdrop: true }" >
	<div class="modal-header">
		Agregar una variante
	</div>
  		<div class="modal-body">

  			<div >  				
	  			<div class="search-list" >
		  			<table class="table">
		  			
		  				<tr ng-repeat="variant in variants">
		  					<td>
		  						
		  						<div class="row-fluid">



                                  <span class="item description">
                                       <span class="row-fluid"> <span class="text-info ng-binding">{{ variant.VariantName }} </span></span>
                 
                                  </span>
                                 


                                  
                              </div>


		  					
		  	
		  					
		  					</td>
		  					<td class="">
		  						<span class="item action">
                                                        
                                      <button class="btn btn-link" ng-click="addVariant(variant)" title="selecionar variante"><i class="icon-ok-sign"></i></button>
                                  </span> 
		  					</td>
		  					
		  				</tr>
		  			</table>
	  			</div>
  				
  			</div>
			  			
  		</div>
  		<div class="modal-footer">
  			<button class="btn" ng-click="showVariantsModal=false">Cancel</button>
  		</div>
  	</div>