<h3>Explorar</h3>

<ul class="thumbnails">
  <li class="span3" ng-show="quote.QuoteId">
                <div class="thumbnail">
                  
                  <div class="caption">
                    <h3 class="well well-small" style="background-color:#27A9E3; color:#fff;"><i class="icon-comments "></i> Cotizaci&oacute;n-{{ quote.QuoteId }}</h3>
                    <h4>{{ quote.QuoteTitle }}</h4>
                    <p>{{ quote.QuoteTerms }}</p>
                    <p><a ng-href="#/cotizaciones/{{ quote.QuoteId }}" class="btn btn-info"><i class="icon-info-sign"></i> Ver</a></p>
                  </div>
                </div>
              </li>
    <li class="span3">
                <div class="thumbnail">

                  <div class="caption">
                    <h3 class="well well-small" style="background-color:#28B779; color:#fff; "><i class="icon-shopping-cart "></i> Venta-{{ sale_order.SaleOrderId }}</h3>
                    <h4>{{ sale_order.SaleOrderTitle }}</h4>
                    <p>{{ sale_order.SaleOrderDescription }}<br><strong>{{ sale_order.CurrencySymbol }} {{ sale_order.SaleOrderTotal | currency }}</strong></p>
                    <p><a href="#/ventas/{{ sale_order.SaleOrderId }}" class="btn btn-info"><i class="icon-info-sign"></i> Ver</a></p>
                  </div>
                </div>
              </li>
    <li class="span3">
                <div class="thumbnail">

                  <div class="caption">
                    <h3 class="well well-small" style="background-color:#FFB848; color:#fff; "><i class="icon-bar-chart"></i> Cobros-{{ sale_order.SaleOrderId }}</h3>
                    <h4>{{ sale_order.SaleOrderTitle }}</h4>
                    <p>{{ sale_order.SaleOrderDescription }}</p>
                    <div >
            <label>Progreso de pagos {{ sale_order.CurrencySymbol }} {{ PaymentTotalAmount | currency }} , {{ currentProgress  }} %</label>
          <progress percent=" currentProgress " class="progress-striped active"></progress></div> 
                    <p><a href="#/cobros/ventas/{{ sale_order.SaleOrderId }}" class="btn btn-info"><i class="icon-info-sign"></i> Ver</a></p>
                  </div>
                </div>
              </li>
   
    <li class="span3" ng-show="work_order.WorkOrderId">
                <div class="thumbnail">

                  <div class="caption">
                    <h3 class="well well-small" style="background-color:#852B99; color:#fff;"><i class="icon-puzzle-piece"></i> Trabajo - {{ work_order.WorkOrderId }}</h3>
                    <h4>{{ work_order.WorkOrderTitle }}</h4>
                    <p>{{ work_order.WorkOrderDescription }}<br>{{ work_order.WorkOrderStatus }}</p>
                    <p><a ng-href="#/trabajos/{{ work_order.WorkOrderId }}" class="btn btn-info"><i class="icon-info-sign"></i> Ver</a></p>
                  </div>
                </div>
              </li>
</ul>
