<div id="page-head" class="row-fluid" >
	<div id="page-title" class="row-fluid">
    	<h1><a ng-href="#/inventarios"> Inventario Fisico </a> &gt;FO- {{ inventory.InventoryId }}  </h1> 
    </div>  
  	<div id="page-links" class="row-fluid" >      
        <div class="span7 actions">
        	<div class="span2"><a title="Regresar" class="btn btn-block" ng-href="#/inventarios"><i class="icon-reply"></i> regresar</a>  </div>
        </div>
        <div class="span5">
	        <ul class="nav nav-tabs">
	        	<li ng-class="getClass('/inventarios/{{inventory.InventoryId}}')"><a ng-href="#/inventarios/{{inventory.InventoryId}}">Captura de Inventario</a></li> 
	        	<li ng-class="getClass('/resumen/inventarios/{{inventory.InventoryId}}')"> <a ng-href="#/resumen/inventarios/{{inventory.InventoryId}}">Resumen</a></li>                 
	        </ul>
        </div>    
    </div>
</div>