<div ng-include="'client/partials/inventory/header.html'"></div>        

<section class="row-fluid">

	<table ng-table="tableParams" class="table"  >
		
		<tr ng-repeat="InventoryDetail in InventoryDetails">

			<td title="Id Producto" >{{ InventoryDetail.ProductId }}</td>
			<td title="Descripcion" >{{ InventoryDetail.ProductName}}</td>
			<td title="Unidad de Medida" >{{ InventoryDetail.UmName }}</td>
			<td title="Cantidad" >{{ InventoryDetail.InventoryDetailQty }}</td>
			<td title="Usuario" >{{ InventoryDetail.UserName }}</td>
			<td title="Fecha de Captura" >{{ InventoryDetail.InventoryDate }}</td>
			
		</tr>
		
	</table>

</section>