<div ng-include="'client/partials/inventory/header.html'"></div>    



<div class="row-fluid">
  
  <div class="span6">
 <label>Ingrese Codigo de Producto</label>
  

  <div class="form-inline">
               

               <div ng-hide="selectedProduct.ProductId" class="span12" >
                  
                  <input type="text" ng-model="selectedProduct" placeholder="Escriba el nombre de la persona o compañia" typeahead="product as product.ProductName for product in productSearch($viewValue)" class="span10"/>
                  <span class="text-error"  ng-show="form.username.$error.required" >* requerido</span>
                </div>

                  <div ng-show="selectedProduct.ProductId" class="span12">
                  
                  <address>
                    <strong>{{ selectedProduct.ProductName }}</strong> <button class="btn btn-warning btn-link" ng-click="selectAnotherProduct()" title="Ingresar otro producto"><i class="icon-remove"></i> </a></button><br>
                    <abbr title="Descripcion">Descripcion:</abbr> {{ selectedProduct.ProductDescription }}<br>
                    <abbr title="Codigo">Codigo:</abbr> {{ selectedProduct.ProductCode }}<br>              
                    <abbr title="Precio">Precio:</abbr> {{ selectedProduct.ProductPrice }}<br>
                    <abbr title="Costo">Costo:</abbr> {{ selectedProduct.ProductCostPrice }}<br>
                    <abbr title="Existencia">Existencia:</abbr> {{ selectedProduct.ProductStock }}<br>
                  </address>

                </div>

    </div>
 
 </div>
  
   
    <div class="span4">
              <label for="product-um"> Unidad de Medida </label>

              <select ng-model="product.ProductUM" class="input-block-level" ng-options="unidad.UMName as unidad.UMName for unidad in unidades" >
             
                  <option value="">Seleccion Unidad de medida...</option>
            
            </select>
    </div>

    <div class="span2">
              <label for="product-qty"> Cantidad en Existencia</label>
              <input name="product-qty" type="number" ng-model="inventoryDetail.InventoryDetailQty" placeholder="Cantidad" class="input-block-level"/>
    </div> 

    </div>

 
 <section class="row-fluid">
      <div class="form-actions">
      <button type="submit" class="btn btn-primary" ng-click="saveInventoryDetail()">Agregar Captura de Inventario Fisico</button> 
    
  </div>
 </section> 