<h1> Inventario Fisico </h1>
<p>
	<div class="search-bar">
		<button class="btn btn-info " ng-click="add()"><i class="icon-plus"></i>  Crear Folio de Inventario </button>
		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>
		<input type="text" class="input-xlarge pull-right" placeholder="buscar..." ng-model="search" />		
	</div>
</p>

<table ng-table="tableParams" class="table"  >
	
	<tr ng-repeat="inventory in inventories">
	    <td title="Folio" ><b>{{ 	inventory.InventoryId }}</b></td>

		<td title="Sucursal" >{{ 	inventory.place.PlaceName }}</td>

		<td title="Fecha Inicial" >{{ 	inventory.InventoryStartDate }}</td>
		<td title="Fecha Final" >{{ 	inventory.InventoryEndDate }}</td>
		<td title="Notas" >{{ 	inventory.InventoryNotes }}</td>
		<td>
		        <button  type="button" class="btn btn-primary" ng-show="inventory.InventoryStatus === 'Cerrado'" confirm-button="reopenInventoryCode(inventory)"   message=" Abrir nuevamente este Folio de inventario fisico?" yes="Si" no="No"><i class="icon-undo"></i></button>
				<button  type="button" class="btn btn-info" ng-show="inventory.InventoryStatus === 'Nuevo'" confirm-button="openInventoryCode(inventory)"    message=" Iniciar a capturar inventario fisico?" yes="Si" no="No"><i class="icon-play"></i></button>
				<button  type="button" class="btn btn-success" ng-show="inventory.InventoryStatus === 'Abierto'" confirm-button="closeInventoryCode(inventory)"   message=" Desea dar por terminado este inventario?" yes="Si" no="No"><i class="icon-check"></i></button>

				<a title="Editar Folio de Inventario" class="btn" ng-href="#/inventarios/{{inventory.InventoryId}}" ng-disabled="inventory.InventoryStatus === 'Cerrado'"  ><i class="icon-edit" ></i></a>

				<button confirm-button="deleteInventory(inventory)" class="btn btn-danger"  message=
			" realmente desea eliminar este Folio de Inventario Fisico?" yes="Si" no="No"><i class="icon-trash"></i></button>
		</td>

	</tr>
	
</table>

<div modal="showInventoryModal" close="cancel()" options="{ backdrop: true}">
	<form name="form"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="inventory.IsNew">Captura de Folio para Inventario Fisico</span>
	            </h4>
	            <p>
	            	<span class="text-info"></span>
	           	</p>
	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	
	            <div class="span4">
	                  <label for="inventory-placeid">Sucursal</label>

                        <select ng-model="inventory.place" class="input-block-level" ng-options="place as place.PlaceName for place in places" >
            		  <option value=""></option>

                      <select ng-model="inventory.place" class="input-block-level" ng-options="place as place.PlaceName for place in places" >
                      <option value=""></option>

                </select>
	            </div>
				
	        </div>
			<div class="row-fluid" >	
			   <div class="span4">
                    <label for="inventory-start-date">Fecha de Inicio</label>
                    <input name="inventory-start-date" type="text" ng-model="inventory.InventoryStartDate" class="input-block-level" placeholder=""  ui-date="dateOptions"  ui-date-format="yy-mm-dd"/>
                </div>  
               <div class="span4">
                    <label for="inventory-end-date">Fecha de Termino</label>
                    <input name="inventory-end-date" type="text" ng-model="inventory.InventoryEndDate" class="input-block-level" placeholder=""  ui-date="dateOptions"  ui-date-format="yy-mm-dd"/>
                </div>   				
			</div>	
	        <div class="row-fluid" >
	        	 <div>
                      <label class="control-label"></label>
                          <textarea name="inventorynotes" ng-model="inventory.InventoryNotes"  rows="3" class="input-block-level" placeholder="Agregue una descripción o notas a esta captura de inventario fisico"> </textarea>
                          <span class="help-block"></span>
                    </div>
	        </div>
	        
	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar Captura</button>
	    </div>
	</form>
	
</div>