<h1> Existencias </h1>
<p>
	<div class="search-bar">
		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>
		<input type="text" class="input-xlarge pull-right" placeholder="buscar..." ng-model="search" />		
	</div>
</p>

<table ng-table="tableParams" class="table"  >
	
	<tr ng-repeat="stock in stocks">

		<td title="Codigo de Producto" >{{ 	stock.ProductId }}</td>
		<td title="Descripcion" >{{ stock.ProductName }}</td>
		<td title="Unidad de Medida" >{{ 	stock.UmName }}</td>
		<td title="Existencia" >{{ 	stock.MovementQty }}</td>
		
	</tr>
	
</table>

