<!DOCTYPE html>
<html lang="en" ng-app="shellyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Comercializadora Shelly</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/notification.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->


<body ng-controller="UserController as user">
	
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +52 (664) 326-6410</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i>  ventas@cshelly.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/ComercializadoraShelly/"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container" >
				<div class="row">
					<div class="col-sm-5">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									MEX
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">MEX</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									PESOS MXN
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Pesos MXN</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<div ng-include="'menu-template.html'"></div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div ng-include="'header-bottom-template.html'"></div><!--header-bottom-->
	</header><!--/header-->
	
	<section id="form" ><!--form-->
		<div class="container">
			<div notifications="top right"></div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="login-form"><!--login form-->
						<h2>Ingrese correo electr&oacute;nico para recuperar su contraseña</h2>
						<form ng-submit="user.change_password()">
						
							
							<input type="password" placeholder="Contraseña" ng-model="user.new_password"/>
							<input type="password" placeholder="Confirmar contraseña" ng-model="user.confirm_new_password"/>
							
							<button type="submit" class="btn btn-default" >Ingresar</button>
						</form>
					</div><!--/login form-->
				</div>
				
			
			</div>
		</div>
	</section><!--/form-->

	
    <footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span></span>SHELLY</h2>
							<p>Somos distribuidores autorizados de las marcas lideres en el mercado, algunos de nuestros aliados</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe1.png" alt="" />
									</div>
								<p>WIX Filters</p>
								<h2>Filtros</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
									<div class="iframe-img">
										<img src="images/home/iframe2.png" alt="" />
									</div>
							
								<p>CAT</p>
								<h2>Refacciones</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
								<p>CUMMINGS</p>
								<h2>Motores</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe4.png" alt="" />
									</div>
								<p>INTERNATIONAL</p>
								<h2>Transportes</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p>Blvd. Manuel J. Clouthier #114-A7 ,Col. Campestre Murua Martinez CP 22455 Tijuana (BC) Mexico</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Servicios</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="contacto.html">Contacto</a></li>
								<li><a href="mi-cuenta.html">Estatus de su Pedido</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Politicas</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="terminos-uso.html">Terminos de Uso</a></li>
								<li><a href="aviso-privacidad.html">Aviso de Privacidad</a></li>
								<li><a href="politica-reembolso.html">Politica de reembolso</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Acerca de</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="nosotros.html">Información de la empresa</a></li>
								<li><a href="contacto.html">Ubicación de la tienda</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
					
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Comercializadora Shelly S.A. de C.V © 2017 . Derechos Reservados.</p>
					<p class="pull-right">Diseño Por <span><a target="_blank" href="http://www.cuatroo.com">Cuatroo</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->


  
    <script src="js/jquery.js"></script>
    <script src="backend/client/js/angular/1.2.10/angular.min.js?20150625"></script>
	<script src="backend/client/js/angular/1.2.10/angular-resource.min.js?20150625"></script>
	<script src="js/angular-input-stars/angular-input-stars.js?20150625"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/notification.js?20150625"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <!--<script src="js/main.js"></script>-->
    <script src="js/angular-shelly-app.js"></script>
</body>
</html>