
						<h2>Categorias</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default" ng-repeat="category in categories">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{ category.CategoryId }}">
											<span class="badge pull-right"><i class="fa fa-plus" ng-show="category.childs.length > 0"></i></span>
											{{category.CategoryName}} 
										</a>
									</h4>
								</div>
								<div id="{{ category.CategoryId }}" class="panel-collapse " ng-show="category.childs.length > 0" ng-class="{ 'collapse' : selected_category !== category.CategoryId }" >
									<div class="panel-body">
										<ul>
											<li ng-repeat="child in category.childs" >
												<a class ="cursor" href="productos.html?category_id={{child.CategoryId}}&parent_category_id={{category.CategoryId }}"><img style="max-height:60px;max-width:60px" ng-src="backend/{{child.CategoryPicture }}">{{child.CategoryName}}</a>
												<ul>
													<li ng-repeat="grandchild in child.childs" >
														<a class ="cursor" href="productos.html?category_id={{grandchild.CategoryId}}&parent_category_id={{child.CategoryId }}"><img style="max-height:60px;max-width:60px" ng-src="backend/{{grandchild.CategoryPicture }}" ng-show="grandchild.CategoryPicture">{{grandchild.CategoryName}}</a>
													</li>
									
												</ul>
											</li>
									
										</ul>
									</div>
								</div>
							</div>
							
							
						</div><!--/category-products-->
					
		