<!DOCTYPE html>
<html lang="en" ng-app="shellyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Comercializadora Shelly</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/notification.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head><!--/head-->

<body ng-controller="CheckoutController as checkout">
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div ng-include="'header-template.html'"></div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									MEX
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">MEX</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									PESOS MXN
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Pesos MXN</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
					<div ng-include="'menu-template.html'"></div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div ng-include="'header-bottom-template.html'"></div><!--header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="index.html">Inicio</a></li>
				  <li class="active">Check out</li>
				</ol>
			</div><!--/breadcrums-->



			<div class="register-req">
				<p>Utiliza el registro y el pago para acceder fácilmente a tu historial de pedidos.</p>
			</div><!--/register-req-->

			<div class="shopper-informations">
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info" ng-show="info.user.UserId > 0">
							<p>Informaci&oacute;n del usuario</p>
							<form >
							
								<input type="text" placeholder="Usuario" ng-model="info.user.UserName" readonly>
							
							</form>
							
							
						</div>
						<div class="shopper-info" ng-hide="info.user.UserId > 0">
							<p>Informaci&oacute;n del usuario</p>
							<form >
							
								<input type="text" placeholder="Usuario" >
								<input type="password" placeholder="Contraseña">
								<input type="password" placeholder="Confirmar contraseña">
							</form>
							
							<a class="btn btn-primary" href="">Continue</a>
						</div>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Datos de facturaci&oacute;n</p>
							<div class="form-one">
								<form>
									<input type="text" placeholder="Nombre &oacute; Raz&oacute;n Social" ng-model="info.customer.customer_name">
									<input type="text" placeholder="RFC" ng-model="info.customer.customer_rfc">
									<input type="text" placeholder="Correo electr&oacute;nico*" ng-model="info.customer.customer_email">
									
									<input type="text" placeholder="Nombre *" ng-model="info.customer.customer_name" required>
									<input type="text" placeholder="Apellidos" ng-model="info.customer.customer_last_name">
									
									<input type="text" placeholder="Direcci&oacute;n 1*" ng-model="info.customer.customer_address" required>
									<input type="text" placeholder="Direcci&oacute;n de entrega" ng-model="info.customer.customer_delivery_place">
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" placeholder="C&oacute;digo Postal  *" ng-model="info.customer.customer_cp" required>
						
								
								
									<input type="text" placeholder="Tel&eacute;fono " ng-model="info.customer.customer_telephone">
									<input type="text" placeholder="Celular *" ng-model="info.customer.customer_cellphone" required>
									
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Datos para envio</p>
							<textarea name="message"  placeholder="Notas acerca de su orden, notas especiales para la entrega" rows="16" ng-model="info.customer.customer_notes" ></textarea>
							<label><input type="checkbox"> Envio a la direci&oacute;n de facturaci&oacute;n</label>
						</div>	
					</div>					
				</div>
			</div>
			<div class="review-payment">
				<h2>Revision de su Orden</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Producto</td>
							<td class="description"></td>
							<td class="price">Precio</td>
							<td class="quantity">Cantidad</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in checkout.items">
							<td class="cart_product">
								<a href="">
									
										<img oncopy="alert('Opcion deshabilitada');return false" oncontextmenu="alert('Opcion deshabilitada');return false"  ng-src="{{item.item.product_picture_url}}" ng-show="item.item.product_picture_id > 0" alt="" style="height:200px; max-width:260px;"  />
											<img src="backend/client/img/no-image.jpg" ng-hide="item.item.product_picture_id > 0" alt="" />
								
								</a>
							</td>
							<td class="cart_description">
								<h4><a href="detalle-productos.html?product_id={{item.item.product_id}}">{{ item.item.product_name  }}</a></h4>
								
								<p>Web ID: {{ item.item.product_code  }} | PESO: {{ item.item.product_weight }} {{item.item.product_weight_unit}} | DIMENSIONES: Largo:{{item.item.product_length}} Ancho:{{item.item.product_width}} Alto: {{ item.item.product_height }} </p>
							</td>
							<td class="cart_price">
								<p>{{item.item.product_price | currency:"$":2}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up pointer" ng-click="cart.update(item,1)" > + </a>
									<input class="cart_quantity_input" type="text" name="quantity"   ng-model="item.quantity" autocomplete="off" size="2">
									<a class="cart_quantity_down pointer" ng-click="cart.update(item,-1)" > - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{ item.subtotal | currency:"$":0}}</p>
							</td>
							<td class="">
								<a class="btn btn-link cart cursor" ng-click="cart.remove(item)"><i class="fa fa-times"></i></a>
							</td>
						</tr>
			
					</tbody>
				</table>
			</div>
			
	
			
		</div>
	</section> <!--/#cart_items-->

    <section id="do_action">
		<div class="container">
			
			<div class="row">
				<div class="col-sm-6">
					<div class="total_area">
					<img src="images/home/checkout.jpg" alt="" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li >Sub Total <span>{{ checkout.subtotal | currency:"$":0}}</span></li>
							<li >Gastos de envio Fedex <span>{{ checkout.shipping.Amount | currency:"$":0}}</span></li>
							<li >Fecha de entrega Fedex <span>{{ checkout.shipping.DeliveryDate | date:'dd/MM/yyyy' }}</span></li>
							<li ng-hide="true">Impuestos <span>{{ checkout.taxes | currency:"$":0}}</span></li>
							
							<li>Total <span>{{ checkout.total | currency:"$":0}}</span></li>
						</ul>
							
						
					</div>
					
					<div class="payment-options "  ng-show="checkout.total > 0">
				
				
						<label>* El precio de los productos es mas costo de envio *</label>

						</br></br>
						
						<div id="paypal-button"></div>
	
	    					<script>
	
	     
	      
	      paypal.Button.render({
	
	        env: 'sandbox', // Or 'procuction'
	
	        client: {
	            sandbox:    'Ab751ldbZ7u96UZeQ-B4-YxP5Upgjn_IWORzA-P-JJ9v20Q4P4WmvAK4p4EH65zwo2RksIHfVKLXVTxZ',
	            production: 'xxxxxxxxx'
	        },
	
	        commit: true, // Show a 'Pay Now' button
	
	        payment: function(data, actions) {
	        	
	        
	        	
	        	var info = $('[ng-controller="CheckoutController as checkout"]').scope().info;
	        	
	       
	        	
	        
	        	
	        	var checkout  = $('[ng-controller="CheckoutController as checkout"]').scope().checkout;
	        	
	        	console.log(checkout);
	        	
	        	if(checkout.items && info.user && info.token){
	        		
	        		if(checkout.items.length > 0 ){
	        	
			            return actions.payment.create({
			                payment: {
			                    transactions: [
			                        {
			                            amount: { total: checkout.total, currency: 'MXN' }
			                        }
			                    ]
			                }
			            });
	        			
	        		}
	        		else{
	        			return false;
	        		}
	        	}
	        	else {
	        		
	        		return false;
	        	}
	        	
	        },
	
	        onAuthorize: function(data, actions) {
	        	
	        	
	            return actions.payment.execute().then(function(payment) {
	
	                // The payment is complete!
	                // You can now show a confirmation message to the customer
	                //alert('Se realizo el pago correctamente');
	                //Call the server to check the paypal payment
	                //console.log(payment);
	                
	                var info = $('[ng-controller="CheckoutController as checkout"]').scope().info;
	                var checkout  = $('[ng-controller="CheckoutController as checkout"]').scope().checkout;
	                
	          
					checkout.payment = payment;
	                //Call the rate service
				    $.ajax({
				        //url: "/index.php/API/trips/new",
				        url: "cart/public/v1/cart/"+info.user.UserId+"/checkout/paypal/payment/check/",
				        headers: {
				        "Content-Type":"application/json",
				        "X-Token" : info.token.access_token
				        },
				        data: JSON.stringify(checkout),
				        cache: false,
				        contentType: 'application/json',
				        processData: false,
				        type: 'POST',
				        success : function(data){
				        	
				        	console.log(data);
				        	window.location.replace("mi-cuenta.html");
				        	
				        }
				    
				    });
				    
				   
	    
	            });
	        }
	
	    }, '#paypal-button');
	    
	    
	    </script>
					
						</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span></span>SHELLY</h2>
							<p>Somos distribuidores autorizados de las marcas lideres en el mercado, algunos de nuestros aliados</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe1.png" alt="" />
									</div>
								<p>WIX Filters</p>
								<h2>Filtros</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
									<div class="iframe-img">
										<img src="images/home/iframe2.png" alt="" />
									</div>
							
								<p>CAT</p>
								<h2>Refacciones</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
								<p>CUMMINGS</p>
								<h2>Motores</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe4.png" alt="" />
									</div>
								<p>INTERNATIONAL</p>
								<h2>Transportes</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p>Blvd. Manuel J. Clouthier #114-A7 ,Col. Campestre Murua Martinez CP 22455 Tijuana (BC) Mexico</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Servicios</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="contacto.html">Contacto</a></li>
								<li><a href="mi-cuenta.html">Estatus de su Pedido</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Politicas</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="terminos-uso.html">Terminos de Uso</a></li>
								<li><a href="aviso-privacidad.html">Aviso de Privacidad</a></li>
								<li><a href="politica-reembolso.html">Politica de reembolso</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Acerca de</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="nosotros.html">Información de la empresa</a></li>
								<li><a href="contacto.html">Ubicación de la tienda</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Comercializadora Shelly S.A. de C.V © 2017 . Derechos Reservados.</p>
					<p class="pull-right">Diseño Por <span><a target="_blank" href="http://www.cuatroo.com">Cuatroo & TjGeeks</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
		<script src="backend/client/js/angular/1.2.10/angular.min.js?20150625"></script>
	<script src="backend/client/js/angular/1.2.10/angular-resource.min.js?20150625"></script>
	<script src="js/angular-input-stars/angular-input-stars.js?20150625"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/notification.js?20150625"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
     <script src="js/angular-shelly-app.js"></script>
</body>
</html>