<!DOCTYPE html>
<html lang="en" ng-app="shellyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Comercializadora Shelly</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="js/angular-input-stars/angular-input-stars.css" />
	<link href="css/notification.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body ng-controller="ProductDetailsController as product">
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +52 (664) 326-6410</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i>  ventas@cshelly.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/ComercializadoraShelly/" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									MEX
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">MEX</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									PESOS MXN
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Pesos MXN</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<div ng-include="'menu-template.html'"></div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div ng-include="'header-bottom-template.html'"></div><!--header-bottom-->
	</header><!--/header-->

	<section>
		<div class="container" >
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<div ng-include="'categories-template.html'"></div><!--/category-products-->
					
						<div ng-include="'brands-template.html'"></div><!--/brands_products-->
						
					
						
						<div class="shipping text-center"><!--shipping-->
							<img src="images/home/shipping.jpg" alt="" />
						</div><!--/shipping-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right" ng-controller="CartController as cart">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								
									<img  src="{{product.info.default_picture.ProductPictureUrl}}" ng-show="product.info.default_picture.ProductPictureId > 0" alt="" oncopy="alert('Opcion deshabilitada');return false" oncontextmenu="alert('Opcion deshabilitada');return false" />
									<img src="backend/client/img/no-image.jpg" ng-hide="product.info.default_picture.ProductPictureId > 0" alt="" />
							</div>
						

						</div>
						<div class="col-sm-7">
							<div class="product-information" ng-init="product.info.Quantity=1"><!--/product-information-->
								<h2>{{ product.info.ProductName }}</h2>
								<p>Web ID: {{ product.info.ProductCode}}</p>
								 <input-stars max="5" ng-model="product.info.rating"></input-stars>
								<span ng-show="UserIsLoggedIn">
									<span ng-show="UserIsLoggedIn"> {{ product.info.ProductPrice | currency:"MXN $":0}}</span>
									<span ng-hide="UserIsLoggedIn"> &nbsp;</span>
									<label>Cantidad:</label>
									<input type="number" name="product-quantity" ng-model="product.info.ProductQuantity" min="0" max="99" >
									<button type="button" ng-show="UserIsLoggedIn" class="btn btn-default cart" ng-click="cart.add(product.info.ProductId,product.info.ProductQuantity)">
										<i class="fa fa-shopping-cart"></i>
									    Agregar al carrito
									</button>
									
									<label>El precio del producto es mas costo de envio</label>
									
								</span>
								<p  ng-hide="UserIsLoggedIn">
								<label class=" cart">Inicie sesi&oacute;n para ver el precio delproducto</label>
								</p>
								<p>
									<b>Disponibilidad:</b> 
									<span ng-hide="product.info.ProductStock > 0">Agotado</span>
									<span ng-show="product.info.ProductStock > 0">En Existencia</span>
								</p>
								<p ng-hide="true"><b>Condicion:</b> Nuevo</p>
								<p ng-hide="true"><b>Marca:</b> Marca 1</p>
								<p><b>Descripci&oacute;n:</b><br>{{ product.info.ProductDescription }} <br> {{ product.info.ProductExtendedDescription }} </p>
								
								<p ng-show="product.info.CategoryExternalLink" ><br> <a class="btn btn-default cart" ng-href="{{product.info.CategoryExternalLink}}" target="_blank">Mas informacion</a> </p>
							    
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#reviews" data-toggle="tab">Comentarios {{Comentarios.Count()}}</a></li>
							</ul>
						</div>
						<div class="tab-content">
						
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<div ng-repeat="review in  product.info.reviews">
										<ul>
											<li><a href=""><i class="fa fa-user"></i>{{review.user_name}}</a></li>
											<li><a href=""><i class="fa fa-clock-o"></i>{{ review.created_date  | date:"medium"}}</a></li>
											
										</ul>
										<p>{{review.comment}}</p>
									</div>
									<div ng-show="info.user.UserId > 0">
										<p><b>Escribe tu opinion del Producto</b></p>
									
										<form action="#" >
										
											<textarea name="" ng-model="review.comment"></textarea>
											<b>Calificacion: </b> <input-stars max="5" ng-model="review.rating"></input-stars>
											<button type="button" class="btn btn-default pull-right" ng-click="product.createReview(review)">
												Guardar
											</button>
										</form>
									</div>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items" ng-hide="true"><!--recommended_items-->
						<h2 class="title text-center">Productos Recomendados</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend1.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend2.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span></span>SHELLY</h2>
							<p>Somos distribuidores autorizados de las marcas lideres en el mercado, algunos de nuestros aliados</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe1.png" alt="" />
									</div>
								<p>WIX Filters</p>
								<h2>Filtros</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
									<div class="iframe-img">
										<img src="images/home/iframe2.png" alt="" />
									</div>
							
								<p>CAT</p>
								<h2>Refacciones</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
								<p>CUMMINGS</p>
								<h2>Motores</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe4.png" alt="" />
									</div>
								<p>INTERNATIONAL</p>
								<h2>Transportes</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p>Blvd. Manuel J. Clouthier #114-A7 ,Col. Campestre Murua Martinez CP 22455 Tijuana (BC) Mexico</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Servicios</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="contacto.html">Contacto</a></li>
								<li><a href="mi-cuenta.html">Estatus de su Pedido</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Politicas</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="terminos-uso.html">Terminos de Uso</a></li>
								<li><a href="aviso-privacidad.html">Aviso de Privacidad</a></li>
								<li><a href="politica-reembolso.html">Politica de reembolso</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Acerca de</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="nosotros.html">Información de la empresa</a></li>
								<li><a href="contacto.html">Ubicación de la tienda</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Comercializadora Shelly S.A. de C.V © 2017 . Derechos Reservados.</p>
					<p class="pull-right">Diseño Por <span><a target="_blank" href="http://www.cuatroo.com">Cuatroo & TjGeeks</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
    <script src="backend/client/js/angular/1.2.10/angular.min.js?20150625"></script>
	<script src="backend/client/js/angular/1.2.10/angular-resource.min.js?20150625"></script>
	<script src="js/angular-input-stars/angular-input-stars.js?20150625"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
		<script src="js/notification.js?20150625"></script>
    <script src="js/angular-shelly-app.js"></script>
    
</body>
</html>