<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index.html" class="active">Inicio</a></li>
								<li class="dropdown"><a href="#">Tienda<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="productos.html">Productos</a></li>
                                       	<li><a href="carrito-compras.html">Carrito de Compras</a></li> 
										<li><a href="iniciar-sesion.html">Ingresar</a></li> 
                                    </ul>
                                </li> 
                                <li><a href="nosotros.html">Nosotros</a></li>
								<li><a href="contacto.html">Contacto</a></li>

							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div ng-include="'search-template.html'"></div>
						
						
						
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->