<div class="shop-menu pull-right" ng-controller="MenuController as menu">
							<ul class="nav navbar-nav">
								<li><a href="mi-cuenta.html"><i class="fa fa-user"></i> Mi Cuenta</a></li>
								<li ng-hide="true"><a href="mi-lista.html" ><i class="fa fa-star"></i> Mi Lista</a></li>
								<li><a href="carrito-compras.html"><i class="fa fa-shopping-cart"></i> Carrito de Compras</a></li>
								<li><a href="iniciar-sesion.html" ng-hide="info.user.UserId > 0"><i class="fa fa-lock"></i> Ingresar</a></li>
								<li><a href="mi-cuenta.html" ng-show="info.user.UserId > 0"><i class="fa fa-user"></i> Hola, {{ info.user.UserName  }}</a></li>
							</ul>
							</br>
						
						</div>