<!DOCTYPE html>
<html lang="en" ng-app="shellyApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Comercializadora Shelly</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/notification.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/favicon-16x16.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body ng-controller="AccountController as account">
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div ng-include="'header-template.html'"></div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-5">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									MEX
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">MEX</a></li>
								</ul>
							</div>
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
									PESOS MXN
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">Pesos MXN</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<div ng-include="'menu-template.html'"></div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div ng-include="'header-bottom-template.html'"></div><!--header-bottom-->
	</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Inicio</a></li>
				  <li class="active">Mi Cuenta</li>
				</ol>
			</div><!--/breadcrums-->

		
			<h2 class="text-left">Bienvenido {{user.name}} </h2>  
			
			<div class="register-req">
					<p> Desde su cuenta, tiene la capacidad de ver al instante la actividad reciente de su cuenta y actualizar su información</p>
		   </div><!--/register-req-->

			<div class="shopper-informations">
				<div notifications="top right"></div>
				<div class="row">
					<div class="col-sm-3">
						<div class="shopper-info" ng-show="info.user.UserId > 0">
							<p>Informaci&oacute;n del usuario</p>
							<form >
							
								<input type="text" placeholder="Usuario" ng-model="info.user.UserName" readonly>
								<input type="text" placeholder="Correo eletr&oacute;nico" ng-model="info.user.UserEmail" readonly>
							
							</form>
							
							
						</div>
						<div class="shopper-info" ng-hide="info.user.UserId > 0">
							<p>Informaci&oacute;n del usuario</p>
							<form >
							
								<input type="text" placeholder="Usuario" >
								<input type="password" placeholder="Contraseña">
								<input type="password" placeholder="Confirmar contraseña">
							</form>
						
							
						</div>
							<a class="btn btn-link" ng-click="account.logout()">Cerrar sesi&oacute;n</a>
					</div>
					<div class="col-sm-5 clearfix">
						<div class="bill-to">
							<p>Datos de facturaci&oacute;n</p>
							<div class="form-one">
								<form>
									<input type="text" placeholder="Nombre &oacute; Raz&oacute;n Social" ng-model="info.customer.customer_name">
									<input type="text" placeholder="RFC" ng-model="info.customer.customer_rfc">
							
									
									
									
									
									<input type="text" placeholder="Direcci&oacute;n 1 *" ng-model="info.customer.customer_address" >
									<input type="text" placeholder="Direcci&oacute;n de entrega *" ng-model="info.customer.customer_delivery_place" >
									<input type="text" placeholder="Ciudad *" ng-model="info.customer.customer_city" >
									<label class="control-label">Estado </label>
									<select ng-model="info.customer.customer_state" ng-options="state.id as state.name for state in states"
			       class="form-control" ></select>
	    
								</form>
							</div>
							<div class="form-two">
								<form>
									<input type="text" placeholder="C&oacute;digo Postal  *" ng-model="info.customer.customer_cp" required>
						
								
								
									<input type="text" placeholder="Tel&eacute;fono " ng-model="info.customer.customer_telephone">
									<input type="text" placeholder="Celular *" ng-model="info.customer.customer_cellphone" required>
									
								</form>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="order-message">
							<p>Datos para envio</p>
							<textarea name="message"  placeholder="Notas acerca de su orden, notas especiales para la entrega" rows="16" ng-model="info.customer.customer_notes" ></textarea>
							<label><input type="checkbox"> Envio a la direci&oacute;n de facturaci&oacute;n</label>
						</div>	
					</div>	
					<div class="col-sm-4">
					 	<ul class="nav navbar-nav">
					 		<li>
								<button class="btn btn-default get" style="margin-top:0px" ng-click="account.update()">Actualizar informaci&oacute;n</button>
							</li>
						</ul>	
					</div>
				</div>
				<div class="row">
					
				
					
				</div>
			</div> 
		
		
			<div class="review-payment">
				<h2>Estatus de sus Ordenes y Pagos</h2>
			</div>

	       <div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
						
							<td class="number">No.Orden</td>
						
							<td class="description">Productos</td>
							
							<td class="total">Total</td>
							<td class="description">Estatus</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in account.orders">
						
							<td class="cart_description">
						       <p class="cart_total_price">{{order.sale_order_id}}<br><h5>{{order.sale_order_date}}</h5></p>
							</td>
							
							<td class="cart_description">
								<div ng-repeat="item in order.items">
									<h4><a href="">{{item.sale_order_detail_description}}</a></h4>
									<p>M-982901 - Precio: ${{item.sale_order_detail_price}} - Cantidad: {{item.sale_order_detail_qty}}  - SubTotal:${{item.sale_order_detail_total}}</p>
									
								</div>	
							</td>
							<td class="cart_price">
								<p>${{ order.sale_order_total}}</p>
							</td>
						
							<td class="cart_total">
								<p class="cart_total_price">AUTORIZADA</p>
							<span class="label label-warning" ng-show="!order.sale_order_shipping">En espera de envio</span>
								<div  ng-show="order.sale_order_shipping "><a style="
    text-decoration: underline; "href="https://www.fedex.com/apps/fedextrack/?action=track&trackingnumber= {{order.sale_order_shipping}}&cntry_code=mx" target="_blank"># GUIA: {{order.sale_order_shipping}}, TRANSPORTISTA: {{order.sale_order_carrier}} </a></div>
							</td>
							
							
						</tr>
						
							


					    
					
					</tbody>
				</table>
			</div>
			
        
			
		
			
		</div>
	</section> <!--/#cart_items-->

	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span></span>SHELLY</h2>
							<p>Somos distribuidores autorizados de las marcas lideres en el mercado, algunos de nuestros aliados</p>
						</div>
					</div>
						<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe1.png" alt="" />
									</div>
								<p>WIX Filters</p>
								<h2>Filtros</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
									<div class="iframe-img">
										<img src="images/home/iframe2.png" alt="" />
									</div>
							
								<p>CAT</p>
								<h2>Refacciones</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe3.png" alt="" />
									</div>
								<p>CUMMINGS</p>
								<h2>Motores</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<div class="iframe-img">
										<img src="images/home/iframe4.png" alt="" />
									</div>
								<p>INTERNATIONAL</p>
								<h2>Transportes</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="images/home/map.png" alt="" />
							<p>Blvd. Manuel J. Clouthier #114-A7 ,Col. Campestre Murua Martinez CP 22455 Tijuana (BC) Mexico</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Servicios</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="contacto.html">Contacto</a></li>
								<li><a href="mi-cuenta.html">Estatus de su Pedido</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Politicas</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="terminos-uso.html">Terminos de Uso</a></li>
								<li><a href="aviso-privacidad.html">Aviso de Privacidad</a></li>
								<li><a href="politica-reembolso.html">Politica de reembolso</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Acerca de</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="nosotros.html">Información de la empresa</a></li>
								<li><a href="contacto.html">Ubicación de la tienda</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Comercializadora Shelly S.A. de C.V © 2017 . Derechos Reservados.</p>
					<p class="pull-right">Diseño Por <span><a target="_blank" href="http://www.cuatroo.com">Cuatroo & TjGeeks</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	


    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
    <script src="backend/client/js/angular/1.2.10/angular.min.js?20150625"></script>
	<script src="backend/client/js/angular/1.2.10/angular-resource.min.js?20150625"></script>
	<script src="js/angular-input-stars/angular-input-stars.js?20150625"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/notification.js?20150625"></script>
    <script src="js/angular-shelly-app.js"></script>
</body>
</html>