<div class="search_box pull-right">
							<div class="form-inline">
	                            <div class="form-group" ng-controller="SearchController as find">
	                              <input type="text" placeholder="Busqueda..." ng-model="find.search_text" ng-enter="search(find.search_text)"/>
	                              <label>Si tu filtro no es wix</label> <a href="http://www.wixfilters.com/Lookup/filterlookup.aspx" target="_blank"><span class="label label-warning">CLICK AQUI</span></a><br>
	                            </div>
							</div>
						</div>