<ul class="typeahead dropdown-menu" ng-style="{ display: isOpen() && 'block' || 'none', top: position.top+'px', left: position.left+'px'}">
    <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)">    	
    	
        <a tabindex="-1" ng-click="selectMatch($index)" ng-bind-html-unsafe=" | typeaheadHighlight:query"><img ng-src="{{ match.model.default_picture.ProductPictureUrl }}" style="height:30px"> {{  match.label }}</a>
    </li>

</ul>



 