<div>
	<div id="WorkOrderForm" ng-show="work_order.WorkOrderId" class="row-fluid">
		<form name="form" class="form main-form form-vertical" novalidate>
			<div class="span9">
				<div class="row-fluid">
					<div class="row-fluid">
						<div class="span6">
							<label>Nombre para este proyecto</label>
							<input type="text" ng-model="work_order.WorkOrderTitle" placeholder="Escriba un titulo para este trabajo" class="input-block-level" >
						</div>
						<div class="span3">
							<label>Prioridad</label>
							<div class="btn-group">
					        	<button type="button" class="btn" ng-model="work_order.WorkOrderPriority" btn-radio="'Baja'">Baja</button>
					        	<button type="button" class="btn btn-info" ng-model="work_order.WorkOrderPriority" btn-radio="'Media'">Media</button>
					        	<button type="button" class="btn btn-primary" ng-model="work_order.WorkOrderPriority" btn-radio="'Alta'">Alta</button>
					    	</div>
						</div>
						<div class="span3">
							<label>Estatus</label>
							<label class="label"> {{ work_order.WorkOrderStatus }}</label>						
						</div>

					</div>
					<div class="row-fluid">
						<div class="span6">
							<textarea ng-model="work_order.WorkOrderDescription" rows="3" placeholder="Descripcion general del trabajo" class="input-block-level"></textarea>
						</div>
						<div class="span6">
							<div class="span6">
								<label>Fecha de aprobación</label>
								<input type="text" ng-model="work_order.WorkOrderCreationDate" ui-date="dateOptions" placeholder="" class="input-block-level"  ui-date-format="yy-mm-dd" />
							</div>
							<div class="span6">
								<label>Fecha de entrega</label>
								<input type="text" ng-model="work_order.WorkOrderDeliveryDate" ui-date="dateOptions" placeholder="" class="input-block-level"  ui-date-format="yy-mm-dd" />
							</div>
						</div>		
					</div>
				</div>
				<section id="wo-header" class="row-fluid">
					<section id="materials-section">
						<h4>Materiales <a class="btn btn-link" ng-hide="ShowAddMaterial" ng-click="showMaterialSearchModal=true">+ Agregar un material</a> </h4>							
	            		<section id="material-details" class="  ">
					        <ul class="listing" ng-show=" work_order.materials.length > 0 ">
					        	<li>
					        		<span class="span1">&nbsp;</span>
					              	<span class="span5">Material</span>
					              	<span class="span2">UM</span>
					              	<span class="span2">Existencia</span>
					              	<span class="span2">Cantidad</span>
					         	</li>
					         	<li ng-repeat="material in work_order.materials">
					         		<span class="span1"><button type="button" class="close" ng-click="removeMaterial(material)">&times;</button></span>
					              	<span class="span5">{{ material.MaterialName }}</span>
					              	<span class="span2">{{ material.MaterialUM }}</span>
					              	<span class="span2">{{ material.MaterialStock }}</span>
					              	<span class="span2"><input type="text" ng-model="material.MaterialQty" class="input-block-level"></span>
					         	</li>
					         	
					     	</ul>
				
						</section>
         			</section>

			
					<section id="expenses">
						<div class="row-fluid">
							<h4>Gastos Indirectos <a class="btn btn-link" ng-click="addNewExpense()">+ Agregar un gasto</a></h4>
						</div>
						<section id="expenses-items" class="  ">
					        <ul class="row-fluid listing" ng-show=" work_order.expenses.length > 0 ">
					        	<li>
					        		<span class="span1">&nbsp;</span>

					              	<span class="span2">Fecha</span>
					              	<span class="span3">Descripcion</span>
					              	<span class="span2">Monto</span>
					              	<span class="span2">Moneda</span>
					              	<span class="span2">Tipo de pago</span>
					         	</li>
					         	<li class="row-fluid" ng-repeat="expense in work_order.expenses">
					         		<span class="span1"><button type="button" class="close" ng-click="removeExpense(expense)">&times;</button></span>
					         		
					              	<span class="span2">{{ expense.WorkOrderExpenseDate | date:'smalllDate'}} </span>
					              	<span class="span3">{{ expense.WorkOrderExpenseText }}<button type="button" class="btn btn-mini" ng-click="editExpense(expense)"><i class="icon-edit"></i></button></span>
					              	<span class="span2">{{ expense.WorkOrderExpenseAmount | currency}}</span>
					              	<span class="span2">
					              		<select class="input-block-level" ng-model="expense.CurrencyId"  ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
                   						</select>
                   					</span>
					              	<span class="span2">
					              		<select ng-model="expense.WorkOrderExpenseMethod" class="input-block-level" ng-options="method.MethodName as method.MethodName for method in methods" >  
				            			</select>
					              	</span>
					         	</li>
					         	
					     	</ul>

						</section>
					</section>
				</section>
			</div>
			<div class="span3">
				<button type="button" class="btn btn-primary btn-large btn-block" ng-click="saveWorkOrder()">Guardar trabajo</button>
				<button type="button" class="btn btn-info btn-large btn-block" ng-show="work_order.WorkOrderStatus === 'Nueva'" confirm-button="openWorkOrder()"   message=" Va iniciar a trabajar en esta orden?" yes="Si" no="No"><i class="icon-play"></i> Iniciar trabajo</button>
				<button type="button" class="btn btn-success btn-arge btn-block" ng-show="work_order.WorkOrderStatus === 'Abierta'" confirm-button="closeWorkOrder()"   message=" Desea dar por terminado este trabajo?" yes="Si" no="No"><i class="icon-check"></i> Cerrar trabajo</button>
				<div class="row-fluid">
					<h4>Supervisor</h4>

					<select ng-model="work_order.WorkOrderSupervisor" class="input-block-level" ng-options="supervisor.EmployeeId as supervisor.EmployeeName for supervisor in supervisors" >
					    <option></option>		    			
					</select>
						
				</div>
				<div class="row-fluid">
					<h4>Personas en este proyecto</h4> 				
					<div class="card-detail-members clearfix">
						<div class="row-fluid" ng-repeat="employee in work_order.employees">
							<button class="member"  ng-click="removeEmployee(employee)"  > 
								<span class="member-initials" title="{{ employee.EmployeeName }} ({{ employee.EmployeePosition }})" >  {{ employee.EmployeeInitials }}</span>			                        
							</button>
							{{ employee.EmployeeName }} {{ employee.EmployeeLastName}}
						</div>
					</div>
					<div class="row-fluid">
						<ul>
						 <li class="dropdown" >
								<a class="btn dropdown-toggle" title="Agregar un colaborador"> + Agregar personas  </a>
							 
								<ul class="member-dropdown  dropdown-menu">
								 	<li class="divider"></li>
								    <li ng-repeat="employee in employees" class="row-fluid member-list">
								        <a ng-click="addEmployee(employee)">
									    	<span class="member"> 
												<span class="member-initials" title="{{ employee.EmployeeName }} ({{ employee.EmployeePosition }})"> {{ employee.EmployeeInitials }} </span>
											</span>
										  		
										  	<span class="member-name"> {{ employee.EmployeeName }} {{ employee.EmployeeLastName}}</span>
								      	</a>
								  		
								    </li>
								 </ul>
						</li>
						</ul>
					</div>
				</div>
				<div class="row-fluid">
					<div class="window-module-title"><h4>Notas & comentarios</h4></div>
					<div class="new-comment">  
		                <textarea class="new-comment-input" placeholder="Escriba un cometario…" ng-model="newNote.WorkOrderNoteText"></textarea> 
		                <div class="clearfix"> 
		                    <button type="button" class="btn btn-success" ng-click="addNote()"><i class="icon-plus"></i> Agregar</button> 
		                </div>
		            </div>
			        <hr>
					<ul class="row-fluid">				             
						<li ng-repeat="note in work_order.notes | reverse">
							<p class="text-info">{{ note.UserName }}:</p>
							<p class="action-comment">{{note.WorkOrderNoteText}}</p>
							<p class="muted">{{note.WorkOrderNoteCDate}}</p>
						</li>
					</ul>							
				</div>
			</div>
		</form>
	</div>
	<div modal="showSaleOrderModal" options="{ backdrop: true }" >
							    	 
    	<p>    		
    		<label><strong><label class="label label-info">{{ work_order.SaleOrder.SaleOrderFolio }}</label> {{ work_order.SaleOrder.SaleOrderTitle }}</strong></label>						    												
	  		<small>{{ work_order.SaleOrder.SaleOrderDescription }}.</small>
	  	</p>
	  	<ul>
  			<li ng-repeat="item in work_order.SaleOrder.items">
  				<span ng-show="item.Product.ProductId" class="span8">{{ item.Product.ProductName }}</span> 
  				<span ng-hide="item.Product.ProductId" class="span8">{{ item.SaleOrderDetailDescription }}</span> 
  				<span class="span1"> <span class="badge">{{ item.SaleOrderDetailQTY }}</span></span>
  				<span class="span1">{{ item.SaleOrderDetailUM }}</span>
  			</li>
  		<ul>
	</div>
	<div modal="showQuoteModal" options="{ backdrop: true }" > 
	 	<p>
			<label><strong><label class="label label-info">{{ work_order.Quote.QuoteFolio }}</label> {{ work_order.Quote.QuoteTitle }}</strong></label>						    												
  			<small>{{ work_order.Quote.QuoteTerms }}.</small>
  		</p>
  		<ul>
  			<li ng-repeat="item in work_order.Quote.items">
  				<span ng-show="item.Product.ProductId" class="span8">{{ item.Product.ProductName }}</span> 
  				<span ng-hide="item.Product.ProductId" class="span8">{{ item.QuoteDetailDescription }}</span> 
  				<span class="span1"> <span class="badge">{{ item.QuoteDetailQTY }}</span></span>
  				<span class="span1">{{ item.QuoteDetailUM }}</span>
  			</li>
  		<ul>
  	</div>
  	<div modal="showMaterialSearchModal" options="{ backdrop: true }" >
  		<div class="modal-body">
  			<div>
  				<div class="input-prepend ">
			      <span class="add-on"><i class="icon-search"></i></span>
			      <input class="input-block-level" type="text" ng-model="materialSearchFilter" placeholder="Buscar materiales">
			    </div>
  			</div>
  			<div ng-show="materials.length > 0">  				
	  			<div class="search-list" >
		  			<table class="table">
		  				<tr ng-repeat="material in materials">
		  					<td>
		  						
		  						<div class="row-fluid">



                                  <span class="item description">
                                       <span class="row-fluid"> <span class="text-info ng-binding">{{ material.MaterialName}} </span></span>
                 
                                  </span>
                                  <span class="item description">
                                       <span class="row-fluid"> <span class="text-info ng-binding">{{ material.MaterialUM}} </span></span>
                 
                                  </span>

                                   <span class="item description">
                                       <span class="row-fluid"> <span class="text-info ng-binding"><span class="label">Stock: {{ material.MaterialStock}} </span></span></span>
                 
                                  </span>


                                  
                              </div>


		  					
		  	
		  					
		  					</td>
		  					<td class="">
		  						<span class="item action">
                                                        
                                      <button class="btn btn-link" ng-click="onMaterialSelection(material)" title="selecionar material"><i class="icon-ok-sign"></i></button>
                                  </span> 
		  					</td>
		  					
		  				</tr>
		  			</table>
	  			</div>
  				
  			</div>
  			<div ng-hide="materials.length > 0" class="">
  				<div class="tc muted">Primero inicie una busqueda</div>
  			</div>  			  			
  		</div>
  		<div class="modal-footer">
  			<button class="btn" ng-click="showMaterialSearchModal=false">Cancel</button>
  		</div>
  	</div>

  	<div modal="showExpenseModal" options="{backdrop: true}">
  		<form class="form-vertical" id="expense-form">
  			<div class="modal-header">Gasto Indirecto</div>
  			<div class="modal-body">
  				<div class="control-group">	
  					<span class="span2">
  						<label>Fecha</label>
  						<input class="input-block-level" type="text" ng-model="currentExpense.WorkOrderExpenseDate" ui-date="dateOptions"  ui-date-format="yy-mm-dd" required>
  					</span>
					<span class="span4">
					    <label>Descripción</label><input class="input-block-level" type="text" ng-model="currentExpense.WorkOrderExpenseText">
					</span>
	              	<span class="span2">
	              		<label>Monto</label>
	              		<input class="input-block-level" type="text" ng-model="currentExpense.WorkOrderExpenseAmount">
	              	</span>
	              	<span class="span2">
	              		<label>Moneda</label>
	              		<select class="input-block-level" ng-model="currentExpense.CurrencyId"  ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
   						</select>
   					</span>
	              	<span class="span2">
	              		<label>Metodo de pago</label>
	              		<select ng-model="currentExpense.WorkOrderExpenseMethod" class="input-block-level" ng-options="method.MethodName as method.MethodName for method in methods" >  
            			</select>
	              	</span>
				</div>
  			</div>
  			<div class="modal-footer">
  				<a  class="btn btn-link pull-left"  ng-click="showExpenseModal=false">Cancelar</a>
	       		<button class="btn btn-primary"ng-click="addExpense()">Guardar gasto</button>
  			</div>
  		</form>
  	</div>

</div>