<section id="new-work-order" ng-hide="work_order.WorkOrderId">
			<form id="sale-order-form">
				<div class="row-fluid">
					<div class="span6">
						<div class="span12"><h3>Las siguientes cotizaciones estan listas para una orden de trabajo</h3></div>
										
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<table ng-table="tableParams" class="table">
							<tr ng-repeat="quote in quotes" >
								<td title="Folio">{{ quote.QuoteFolio }}</td>
								<td title="Cotizacion">{{ quote.QuoteTitle }}</td>
								<td title="Estatus">{{ quote.QuoteStatus }}</td>
								
							<td title=" "><button class="btn btn-success" ng-click="createFromQuote(quote)"><i class="icon-puzzle-piece"></i> Crear Orden de trabajo</button></td>
							</tr>	
						
					</div>
				</div>
			</form>
		</section>