<div id="page-head" class="row-fluid" >
	<div id="page-title" class="row-fluid">
		<h1> Ordenes de trabajo</h1>
	</div>
    <div id="page-links" class="row-fluid" >
    	
    	<div class="span7 actions">
    		<a href="#/trabajos/nuevo" class="btn btn-info"><i class="icon-plus"></i> Nuevo trabajo</a>
    		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>			
    	</div>
    	<div class="span5">
    		<ul class="nav nav-tabs">
				<li ng-class="getClass('/trabajos/',true)"> <a ng-href="#/trabajos/">Nuevos & Abiertos</a></li>
				<li ng-class="getClass('/trabajos/cerrados/',true)"><a href="#/trabajos/cerrados">Cerrados</a></li>
			</ul>
    	</div>
    
    </div>
</div>

<div class="row-fluid">
    
    <div class="search-bar">
		
		<input type="text" class="input-xlarge t" placeholder="buscar..." ng-model="search" />		
	</div>

	<table ng-table="tableParams" class="table">
		<tr ng-repeat="work_order in work_orders">
			<td title="# Orden"><strong> {{work_order.WorkOrderNumber}}</strong> <span class="label label-warning " ng-show="work_order.Overdue"> Vencida</span></td>
			<td title="Cliente"> {{ work_order.CustomerName }}</td>
			<td title="Titulo del trabajo"> {{ work_order.WorkOrderTitle }}</td>
			<td title="Estatus"> {{ work_order.WorkOrderStatus }}</td>
			<td title="Fecha de inicio"> {{ work_order.WorkOrderCreationDate }}</td>
			<td title="Fecha de entrega"> {{ work_order.WorkOrderDeliveryDate  }}</td>
			<td>
			  	<button  type="button" class="btn btn-primary" ng-show="work_order.WorkOrderStatus === 'Cerrada'" confirm-button="reOpenWorkOrder(work_order)"   message=" Abrir nuevamente esta orden?" yes="Si" no="No"><i class="icon-undo"></i></button>
			  	<button  type="button" class="btn btn-info" ng-show="work_order.WorkOrderStatus === 'Nueva'" confirm-button="openWorkOrder(work_order)"   message=" Va iniciar a trabajar en esta orden?" yes="Si" no="No"><i class="icon-play"></i></button>
			  	<button  type="button" class="btn btn-success" ng-show="work_order.WorkOrderStatus === 'Abierta'" confirm-button="closeWorkOrder(work_order)"   message=" Desea dar por terminado este trabajo?" yes="Si" no="No"><i class="icon-check"></i></button>
				<a title="Editar orden de trabajo" class="btn" ng-href="#/trabajos/{{work_order.WorkOrderId}}"><i class="icon-edit" ></i></a>
				<button confirm-button="deleteWorkOrder(work_order)" class="btn btn-danger"  message=
			" realmente desea eliminar este trabajo?" yes="Si" no="No"><i class="icon-trash"></i></button>
		</td>
		</tr>
	</table>

</div>


