
<div id="page-head" class="row-fluid" >
	<div id="page-title" class="row-fluid">
		<h1><a ng-href="#/trabajos" >Ordenes de trabajo</a> &gt; {{ work_order.WorkOrderNumber }}  <a ng-href="#/transaccion/{{ work_order.TransactionId }}" class="pull-right"><i class="icon-suitcase"></i> Summary</a></h1>
		
	</div>
    <div id="page-links" class="row-fluid" >
    	
    	<div class="span7 actions">
    		
    					
    	</div>
    	<div class="span5">
    		
    	</div>
    
    </div>
</div>
<work-order-form></work-order-form>