<div ng-class="['alert', 'alert-'+notification.type]" ng-repeat="notification in notifications.getCurrent()" ng-animate="'highlight'">
    <button class="close" ng-click="removeNotification(notification)">x</button>
    {{notification.message}}
</div>
