<div class="navbar navbar-static-top">
<div class="container">
	<div class="row">
		<div class="">
            <div class="input-group" id="adv-search">
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div ng-class="{ open : showFilters } " class="dropdown dropdown-lg"> 
                            <button type="button" class="btn btn-default" ng-click="openFilter(showFilters)">Filtros <span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Date</label>
                                    <select class="form-control" ng-model="option" ng-change="setSelectedDates(option)"  ng-options="option as option.text for option in  selectOptions">>
                                        
                                        
                                        
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Date</label>
                                    <input class="form-control" type="date" ng-value="startDate" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Contains the words</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <button type="button" class="btn btn-primary" ng-click="applyFilters()"><span class="icon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>
</div>