


<div ng-show="showLoginForm" class="form-signin-backdrop">
    <form name="form" class="form-signin"   >
        <div class="tc"><img ng-src="images/{{ configuration.account_customization.logo_path }}"></div>   
        <h2 class="form-signin-heading">Inicie sesión</h2>
        <div class="alert alert-error" ng-show="authError">
                {{authError}}
        </div>
        
            
        <input  type="email" ng-model="user.email" class="form-control input-block-level" placeholder="Correo electronico" required autofocus>
          
        <input type="password" ng-model="user.password" class="form-control input-block-level"  placeholder="Contraseña" required>
      
        <button class="btn btn-large btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Sign in</button>
        <button class="btn btn-large btn-block"  ng-show="showCancelButton" ng-click="cancelLogin()" 
        >Cancel</button>
    </form>
</div>


