<ul class="nav pull-right">
  <li class="divider-vertical"></li>
  

  <li ng-show="isAuthenticated()">
      <form class="navbar-form">
          <button class="btn" ng-click="logout()">Salir <i class="icon-signout"></i> </button>
      </form>
  </li>
  <li ng-hide="isAuthenticated()">
      <form class="navbar-form">
          <button class="btn" ng-click="login()">Iniciar sesi&oacute;n <i class="icon-signin"></i></button>
      </form>
  </li>
</ul>
