
<div class="user-panel">
    <div class="text-center image visible-desktop">
        <img ng-src="/client/img/user.png" style="width:45px;height:45px" class="img-circle" alt="{{userInfo.information().UserName}}">
    </div>
    <div class="text-center image visible-tablet">
        <img ng-src="/client/img/user.png" style="width:45px;height:45px" class="img-circle" alt="{{userInfo.information().UserName}}">
    </div>
    <div class="text-center info visible-desktop">
        <p><span ng-bind="userInfo.information().UserName" class="ng-binding"></span></p>

        <a href="#" class="label label-info"  ng-hide="userInfo.information().UserIsAdmin">Sucursal, {{ userInfo.information().place.PlaceName}}</a>
        <a href="#" class="label label-info"  ng-show="userInfo.information().UserIsAdmin">Administrador</a>
    </div>
   
</div>