<div modal="showCustomerContactModal" options="{ backdrop : true}">
	<form name="contact-form" novalidate>
		<div class="modal-header"><h4>{{ customer.CustomerName }} - Información de Contacto</h4></div>
		<div class="modal-body">
			<div class="row-fluid" >			   	

	            <div class="span12">	            	
	            	<label>Nombre</label>
	            	<input name="contact-name" type="text" ng-model="contact.CustomerContactName" class="input-block-level" required />
	            	<span class="text-error"  ng-show="contact-form.contact-name.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="row-fluid" >			   	

	            <div class="span12">	            	
	            	<label>Descripción</label>
	            	<input name="contact-name" type="text" ng-model="contact.CustomerContactDescription" class="input-block-level" required />
	            	
	        	</div>
	        </div>
	        <div class="row-fluid" >			   	

	            <div class="span12">	            	
	            	<label>Email</label>
	            	<input name="contact-email" type="text" ng-model="contact.CustomerContactEmail" class="input-block-level"  />	            	
	        	</div>
	        </div>
	        <div class="row-fluid" >			   	

	            <div class="span12">	            	
	            	<label>Telefono</label>
	            	<input name="contact-name" type="text" ng-model="contact.CustomerContactTelephone" class="input-block-level"  />
	            	
	        	</div>
	        </div>
	        <div class="row-fluid" >			   	

	            <div class="span12">	            	
	            	<label>Telefono 2</label>
	            	<input name="contact-name" type="text" ng-model="contact.CustomerContactTelephone2" class="input-block-level"  />
	            	
	        	</div>
	        </div>
		</div>
		<div class="modal-footer">
			<a  class="btn btn-link pull-left"  ng-click="cancelContact()">Cerrar</a>
	        <button class="btn btn-primary" ng-disabled="!contact-form.$valid"  ng-click="saveContact()">Guardar contacto</button>
		</div>
	</form>


</div>