<div class="row-fluid" >
	<div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
	  <div class="container" style="width: auto; ">
	        <p class="nav navbar-text ">
				<a title="Regresar" ng-href="#/clientes"><i class="icon-chevron-sign-left"></i></a>
			</p>
	        
	        <a class="brand title-brand" ng-show="customer.CustomerId">Cliente <span class="text-info">{{ customer.CustomerCode }}</span></a>
	  	</div>	    
	</div>
</div>

<div class="row-fluid full-height" >
	<div class="span2 full-height right-border" > 
    	<div ng-include="'client/partials/customer/header.html'"></div>
	</div>
	<div class="span10 full-height" >
	
        <form name="customerForm"  class="form form-vertical main-form" novalidate >
        	<section class="row-fluid">
        	 <div class="row-fluid" >
	        	<div class="span6">
	        		<label>Direcci&oacute;n</label>
	        		<textarea name="customeraddress" ng-model="customer.CustomerAddress" rows="2" class="span12"></textarea>
	        	</div>
	    		<div class="span6">
	        		<label>Direcci&oacute;n de entregas</label>
	        		<textarea name="customerdelivery" ng-model="customer.CustomerDeliveryPlace" rows="2" class="span12"></textarea>
	        	</div>    	
	        </div>
	    
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>C&oacute;digo Postal</label>
	        		<input name="customercp" type="text" ng-model="customer.CustomerCP" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Ciudad</label>
	        		<input name="customercity" type="text" ng-model="customer.CustomerCity" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Pais</label>
	        		<input name="customercountry" type="text" ng-model="customer.CustomerCountry" class="span12" />
	        	</div>
	        </div>
        	
        	<div class="form-group" >
	    	<label>Mapa </label><span> - Seleciona la ubicacion de la casa  del cliente </span><br>
		      <map ng-if="readyForMap" center="{{customer.CustomerLatitude}},{{customer.CustomerLongitude}}">
		                            <marker
		                                position="[{{customer.CustomerLatitude}},{{customer.CustomerLongitude}}]"
		                                title="{{customer.CustomerName}}"
		                                animation="Animation.BOUNCE"
		                                draggable="true"
		                                visible="true"
		                                on-dragend="marker()">
		                            </marker>
		                        </map> <!-- Fin map -->
		            <map ng-if="readyForMap == false" center="current-location">
		                            <marker
		                                position="current-location"
		                                title="{{cutomer.CustomerName}}"
		                                animation="Animation.BOUNCE"
		                                draggable="true"
		                                visible="true"
		                                on-dragend="marker()">
		                            </marker>
		                        </map> <!-- Fin map -->
		    </div>
		    	</section>
		      <section id="actions" class="row-fluid">
        
            <hr>
            <div class="span4">
             
              
              <button class="btn btn-primary" ng-disabled="!customerForm.$valid"  ng-click="saveCustomer()"><i class="icon-save"></i> Guardar cliente</button>
            </div>
            
              
            </div>   
            
          </section>
        </form>
	</div>

    
</div>