<div modal="showCustomerModal" close="cancelCustomer()" options="{ backdrop: true}" >

	<form name="customerForm"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="customer.IsNew">Agregue un nuevo cliente</span>
	            	<span ng-hide="customer.IsNew">Editar detalles acerca de {{ customer.CustomerName }}</span>
	            </h4>

	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	
	            <div class="span4">
	                <label>C&oacute;digo</label>
	            	<input name="customercode" type="text" ng-model="customer.CustomerCode" class="span12"  />
	            </div>
	            <div class="span8">	            	
	            	<label>Nombre</label>
	            	<input name="customername" type="text" ng-model="customer.CustomerName" class="span12" required />
	            	<span class="text-error"  ng-show="customerForm.customername.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>R.F.C.</label>
	        		<input name="customerrfc" type="text" ng-model="customer.CustomerRFC" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Telefono</label>
	        		<input name="customertelephone" type="text" ng-model="customer.CustomerTelephone" class="span12" required />
	        		<span class="text-error"  ng-show="customerForm.customertelephone.$error.required" > * requerido</span>
	        	</div>
	        	<div class="span4">
	        		<label>Celular</label>
	        		<input name="customercellphone" type="text" ng-model="customer.CustomerCellphone" class="span12" />
	        	</div>
	        </div>
	        <div class="row-fluid" >
	        	<div class="span12">
	        		<label>Direcci&oacute;n</label>
	        		<textarea name="customeraddress" ng-model="customer.CustomerAddress" rows="2" class="span12"></textarea>
	        	</div>
	        	
	        </div>
	        
	        <div class="row-fluid" >
	        	<div class="span12">
	        		<label>Direcci&oacute;n de entrega</label>
	        		<textarea name="customerdelivery" ng-model="customer.CustomerDeliveryPlace" rows="2" class="span12"></textarea>
	        	</div>
	        	
	        </div>
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>C&oacute;digo Postal</label>
	        		<input name="customercp" type="text" ng-model="customer.CustomerCP" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Ciudad</label>
	        		<input name="customercity" type="text" ng-model="customer.CustomerCity" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Pais</label>
	        		<input name="customercountry" type="text" ng-model="customer.CustomerCountry" class="span12" />
	        	</div>
	        </div>

	        <div class="row-fluid">
	        	<div class="span6">
	            	<label>Correo electrónico</label>
	            	<input name="email" type="email" ng-model="customer.CustomerEmail" class="span12" />	            	
	            	<span class="text-error"  ng-show="customerForm.email.$error.email" >Invalido, por favor ingrese un correo electrónico valido</span>	            
	        	</div>
	        	<div class="span6">
	        		<label>Pagina web</label>
	        		<input name="customerweb" type="text" ng-model="customer.CustomerWeb" class="span12" />	
	        	</div>
	        </div>
	        <div class="row-fluid">
	        	<div class="span12">
	        		<label>Referencias</label>
	        		<textarea ng-model="customer.CustomerReferences" placeholder="" rows="3" class="span12"></textarea>
	        	</div>
	        </div>
	        <div class="row-fluid">
	        	<div class="span12">
	        		<label>Notas</label>
	        		<textarea ng-model="customer.CustomerNotes" placeholder="" rows="2" class="span12"></textarea>
	        	</div>
	        </div>

	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancelCustomer()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!customerForm.$valid"  ng-click="saveCustomer()">Guardar cliente</button>
	    </div>
	</form>
</div>