<div class="row-fluid" >
	<div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
	  <div class="container" style="width: auto; ">
	        <p class="nav navbar-text ">
				<a title="Regresar" ng-href="#/clientes"><i class="icon-chevron-sign-left"></i></a>
			</p>
	        <a class="brand title-brand" ng-hide="customer.CustomerId">Crear nuevo cliente</a>
	        <a class="brand title-brand" ng-show="customer.CustomerId">Cliente <span class="text-info">{{ customer.CustomerCode }}</span></a>
	  	</div>	    
	</div>
</div>

<div class="row-fluid full-height" > 
<div class="span2 full-height right-border" >
	<div ng-include="'client/partials/customer/header.html'" ></div>
	</div>
    <div class="span10 full-height" >
		<div  ng-show="sale_orders.length > 0">
			<table ng-table="tableParams" class="table">
			<tr ng-repeat="sale_order in sale_orders">
				<td title="Folio"> <strong> {{sale_order.SaleOrderFolio}}</strong></td>
				<td title="Titulo"> {{ sale_order.SaleOrderTitle | truncate:48 }}</td>
				<td title="Cliente"> {{ sale_order.customer.CustomerName | truncate:48 }}</td>
				<td title="Estatus"> {{ sale_order.SaleOrderStatus }}</td>
				<td title="Fecha"> {{ sale_order.SaleOrderDate  }}</td>
				<td title="Total"> {{ sale_order.CurrencySymbol}} {{ sale_order.SaleOrderTotal | currency }}</td>
				<td>
					<a title="Imprimir contrato" class="btn" ng-href="api/sale_orders/report/{{sale_order.SaleOrderId}}?access_token={{currentTokenInfo.access_token}}" target="_blank"><i class="icon-print" ></i></a>
					<a title="Editar venta" class="btn" ng-href="#/ventas/{{sale_order.SaleOrderId}}"><i class="icon-edit" ></i></a>
				
					<!--<button title="Facturar esta orden de venta" class="btn btn-success" ng-show="sale_order.SaleOrderStatus === 'Aprobada' && !sale_order.InvoiceId" ng-click="facturar(sale_order)"><i class="icon-file-text" ></i> Facturar</button>-->
			</td>
			</tr>
		</table>
		</div>
		<div ng-show="sale_orders.length == 0">
			<div class="span12 tc">
		 		<h3><i class="icono-file"></i> No se encontrar&oacute;n ventas en esta secci&oacute;n</h3>
		 	</div>
		</div>
	</div>

</div>

