<div class="row-fluid" >
	<div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
	  <div class="container" style="width: auto; ">
	        <p class="nav navbar-text ">
				<a title="Regresar" ng-href="#/clientes"><i class="icon-chevron-sign-left"></i></a>
			</p>
	        <a class="brand title-brand" ng-hide="customer.CustomerId">Crear nuevo cliente</a>
	        <a class="brand title-brand" ng-show="customer.CustomerId">Cliente <span class="text-info">{{ customer.CustomerCode }}</span></a>
	  	</div>	    
	</div>
</div>

<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<div ng-include="'client/partials/customer/header.html'" ></div>
	</div>
	<div class="span10 full-height" >
		<form name="customerForm"  class="form form-vertical main-form" novalidate >
	    
		<section class="row-fluid">
			<div class="row-fluid">
				
				<div class="span4">
					
		    			<div class="fileUpload btn btn-info">
		    			<span><i class="icon-picture"></i> Cargar foto</span>
		    			<input type="file" ng-file-select="onFileSelect($files,category)" class="upload">
		    		</div>
	
					<div><img src="{{customer.CustomerPicture}}"></div>
		     
		    	
				</div>
				<div class="span8">
						<div class="row-fluid" >			   	
	            <div class="span4">
	                <label>C&oacute;digo</label>
	            	<input name="customercode" type="text" ng-model="customer.CustomerCode" class="span12"  />
	            </div>
	            <div class="span4">
	            	<label>Reputaci&oacute;n de compra</label>
	            	<input-stars max="5" ng-model="customer.CustomerRating"></input-stars></div>
	            </div>
	            <div class="row-fluid" >	
	            <div class="span8">	            	
	            	<label>Nombre</label>
	            	<input name="customername" type="text" ng-model="customer.CustomerName" class="span12" required />
	            	<span class="text-error"  ng-show="customerForm.customername.$error.required" >* requerido</span>
	        	</div>
	        	</div>
	        </div>
				
			</div>
	    
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>R.F.C.</label>
	        		<input name="customerrfc" type="text" ng-model="customer.CustomerRFC" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Telefono</label>
	        		<input name="customertelephone" type="text" ng-model="customer.CustomerTelephone" class="span12"  />
	        		
	        	</div>
	        	<div class="span4">
	        		<label>Celular</label>
	        		<input name="customercellphone" type="text" ng-model="customer.CustomerCellphone" class="span12" required />
	        		<span class="text-error"  ng-show="customerForm.customercellphone.$error.required" > * requerido</span>
	        	</div>
	        </div>
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>Whatsapp</label>
	        		<input  type="text" ng-model="customer.CustomerWhatsapp" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Facebook</label>
	        		<input  type="text" ng-model="customer.CustomerFacebook" class="span12"  />
	        		
	        	</div>
	        	<div class="span4">
	        		<label>Celular</label>
	        		<input name="customercellphone" type="text" ng-model="customer.CustomerCellphone" class="span12" required />
	        		<span class="text-error"  ng-show="customerForm.customercellphone.$error.required" > * requerido</span>
	        	</div>
	        </div>
	       

	        <div class="row-fluid">
	        	<div class="span6">
	            	<label>Correo electrónico</label>
	            	<input name="email" type="email" ng-model="customer.CustomerEmail" class="span12" />	            	
	            	<span class="text-error"  ng-show="customerForm.email.$error.email" >Invalido, por favor ingrese un correo electrónico valido</span>	            
	        	</div>
	        	<div class="span6">
	        		<label>Pagina web</label>
	        		<input name="customerweb" type="text" ng-model="customer.CustomerWeb" class="span12" />	
	        	</div>
	        </div>
	        <div class="row-fluid">
	        	<div class="span12">
	        		<label>Referencias</label>
	        		<textarea ng-model="customer.CustomerReferences" placeholder="" rows="3" class="span12"></textarea>
	        	</div>
	        </div>
	        <div class="row-fluid">
	        	<div class="span12">
	        		<label>Notas</label>
	        		<textarea ng-model="customer.CustomerNotes" placeholder="" rows="2" class="span12"></textarea>
	        	</div>
	        </div>

	        
	    </section>
	    <section id="actions" class="row-fluid">
        
            <hr>
            <div class="span4">
              <a title="Regresar" ng-href="#/clientes"><i class="icon-chevron-sign-left"></i></a>
              
              <button class="btn btn-primary" ng-disabled="!customerForm.$valid"  ng-click="saveCustomer()"><i class="icon-save"></i> Guardar cliente</button>
            </div>
            
              
            </div>   
            
          </section>
	    
	</form>
	</div>
	
</div>
