<ul class="sidebar-menu">
    <li><span>VER</span>
    <ul>
	<li ng-class="getClass('/clientes/{{ customer.CustomerId }}')"><a ng-href="#/clientes/{{ customer.CustomerId }}">General</a> </li>
	<li ng-show="customer.CustomerId > 0" ng-class="getClass('/clientes/{{ customer.CustomerId }}/mapa',true)"><a ng-href="#/clientes/{{ customer.CustomerId }}/mapa">Direccion </a> </li>
 	<li ng-show="customer.CustomerId > 0" ng-class="getClass('/clientes/{{ customer.CustomerId }}/historial',true)"><a ng-href="#/clientes/{{customer.CustomerId}}/historial">Historial de compras </a> </li>
 	<li ng-show="customer.CustomerId > 0" ng-class="getClass('/clientes/{{ customer.CustomerId }}/adeudos',true)"><a ng-href="#/clientes/{{ customer.CustomerId }}/adeudos">Creditos </a> </li>
 	</ul>
 	</li>
</ul>