
<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
        	<p class="nav navbar-text  ">
			          <a title="Regresar" ng-href="#/cobranza"><i class="icon-chevron-sign-left"></i></a>
			      </p>
            <a class="brand title-brand">Cobranza</a>
            <ul class="nav">
            	<li><button class="btn btn-link" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button></li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>




<div  class="row-fluid full-height">
	<div  class="span2 full-height right-border" >
		<ul class="sidebar-menu">
			<li>
				<ul>
					<li ng-class="getClass('/cobranza/resumen/{{sale_order.SaleOrderId }}')"> <a ng-href="#/cobranza/resumen/{{sale_order.SaleOrderId}}">Pagos</a></li>					
				</ul>
			</li>
		</ul>	
	</div>
	 <div class="span10 full-height" >
	    	
	    
	    <payment-form></payment-form>
	</div>
	
</div>