
<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Cobranza</a>
            <ul class="nav">
            	<li><button class="btn btn-link" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button></li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>





<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<ul class="sidebar-menu">
		    <li>
		    	<span>ESTATUS</span>
		        <ul class="">
		        	<li ng-class="getClass('/cobranza/',true)"> <a ng-href="#/cobranza">Pendientes</a></li>
					<li ng-class="getClass('/cobranza/pagadas/',true)"><a href="#/cobranza/pagadas">Pagadas</a></li>
		        
		        </ul>
		    </li>
    	</ul>
    </div>
    <div class="span10 full-height" >
    	
		<table ng-table="tableParams" class="table">
			<tr ng-repeat="receivable_order in receivable_orders">
				
				<td title="Folio"> <strong> {{receivable_order.SaleOrderFolio}}</strong></td>
				<td title="Titulo"> {{receivable_order.SaleOrderTitle | truncate:48 }}</td>
				<td title="Cliente"> {{ receivable_order.CustomerName | truncate:48 }}</td>
				<td title="Monto"> {{receivable_order.CurrencySymbol }} {{ receivable_order.SaleOrderTotal | currency }}</td>
				<td title="Pagado"> {{receivable_order.CurrencySymbol }} {{ receivable_order.SaleOrderPaymentsTotal | currency }}</td>
				<td title="Pendiente"> {{receivable_order.CurrencySymbol }} {{ receivable_order.SaleOrderPaymentsRemaining | currency }}</td>	
				<td >
					<a class="btn btn-success" ng-href="#/cobranza/resumen/{{receivable_order.SaleOrderId}}"><i class="icon-money"></i> Ver cobros</a>
				</td>		
			</tr>
		</table>
    	
    </div>
    
</div>
<div>






</div>

