

<ul class="sidebar-menu " ng-show="sale_order">
  <ul>
    
    <li ng-class="getClass('/ventas/{{ sale_order.SaleOrderId }}')"><a ng-href="#/ventas/{{ sale_order.SaleOrderId }}">Orden de Venta</a> </li>
    <li ng-show="sale_order.SaleOrderId" ng-class="getClass('/cobros/ventas/{{ sale_order.SaleOrderId }}')"><a ng-href="#/cobros/ventas/{{ sale_order.SaleOrderId }}">Cobranza </a></li>
    
    
  </ul>
</ul>