

<div class="row-fluid full-height">
  

    <form name="form" class="form form-vertical main-form" novalidate>
      <section  id="sale_order-header" class="row-fluid" >
        <div class="row-fluid">
            <div class="span8">
              
              
                
                <label>Cliente&nbsp;&nbsp;&nbsp;&nbsp;
                  <a class="" ng-click="addCustomer()" ng-show="!selectedCustomer.CustomerId"><i class="icon-plus"></i> Agregar un nuevo cliente</a></label>
                  <div ng-hide="selectedCustomer.CustomerId" >
                    
                    <input type="text" ng-model="selectedCustomer" placeholder="Escriba el nombre de la persona o compañia" typeahead="customer as customer.CustomerName for customer in customerSearch($viewValue)" class="input-block-level"/>
  
                    <span class="text-error"  ng-show="form.username.$error.required" >* requerido</span>
                    
                  </div>
                 
                  <div ng-show="selectedCustomer.CustomerId">
                    
                    <div>
                      <strong ng-bind="selectedCustomer.CustomerName"></strong>
                      
                      
                     
                      <button class="btn btn-link" ng-click="selectAnotherCustomer()" title="Seleccionar otro cliente"><i class="icon-remove"></i></a></button><br>
                       <small class="muted" ng-bind="selectedCustomer.CustomerAddress"></small>
                      <small class="muted" ng-bind="selectedCustomer.CustomerCity "></small>
                      <small class="muted" ng-bind="selectedCustomer.CustomerState "></small>
                      <small class="muted" ng-bind="selectedCustomer.CustomerCP "></small>
                      <small class="text-info">Telefono:<span ng-bind="selectedCustomer.CustomerTelephone">(Ninguno)</span>,</small>
                      <small class="text-info">Celular:<span ng-bind="selectedCustomer.CustomerCellphone">(Ninguno)</span>,</small>
                      
                      <a href="mailto:{{ selectedCustomer.CustomerEmail }}">{{ selectedCustomer.CustomerEmail }}</a>
                    </div>
  
                  </div>
    
                
            </div>
              <div class="span4">
                <label for="sale_order-contract">Contrato <a ng-show="sale_order.SaleOrderId" title="Imprimir contrato"    ng-click="printOrder()"><i class="icon-print" ></i> Imprimir Contrato</a></label>
                <select ng-model="sale_order.ContractId" class="input-block-level" ng-options="contract.ContractId as contract.ContractName for contract in contracts" >
                 
                      <option value=""></option>
                </select>
              </div>
        </div>
        <div class="row-fluid">
             <div class="span8">
                  <label for="sale_order-title">Titulo para esta venta</label>
                  <input name="sale_order-title" type="text" ng-model="sale_order.SaleOrderTitle" class="input-block-level" select-on-click placeholder="Ingrese un titulo para esta orden de venta" />
              </div>
              <div class="span4">
                  <label for="sale_order-date">Fecha de la Venta</label>
                  <input name="sale_order-date" type="text" ng-model="sale_order.SaleOrderDate" class="input-block-level" placeholder=""  ui-date="dateOptions" ui-date-format="yy-mm-dd"/>
              </div>     
        </div>
        <div class="row-fluid">
            <div class="span4" >
                  <label for="sale_order-place">Sucursal</label>
                   <select ng-hide="userInfo.information().place.PlaceId > 0" ng-model="sale_order.PlaceId" class="input-block-level" ng-options="place.PlaceId as place.PlaceName for place in places" >
                 
                      <option value=""></option>
                    </select>
                    <span class="label label-info" ng-show="userInfo.information().place.PlaceId > 0">{{ userInfo.information().place.PlaceName }}</span>
            </div>
    
              <div class="span4">
                <label for="sale_order-delivery-date">Fecha de entrega </label>
                <input name="sale_order-delivery-date" type="text" ng-model="sale_order.SaleOrderDeliveryDate" class="input-block-level" placeholder=""  ui-date="dateOptions" ui-date-format="yy-mm-dd"/>
    
           
              </div>
              
    
          </div>
        <div class="row-fluid">
            <div class="span4">
                <label for="sale_order-currency"> Moneda </label>
    
                   <select ng-model="sale_order.CurrencyId" class="input-block-level" ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
                 
                      
                    </select>
              </div>
            <div class="span4">
                <label for="sale_order-exchange-rate">Tipo de cambio</label>
                <input name="sale_order-exchange-rate" type="text" ng-model="sale_order.SaleOrderExchangeRate" class="input-block-level" select-on-click required />
    
            </div>
            
       
    
          </div>
        <div class="row-fluid">
             <div class="span12">
             
             <div class="span4">
                  <label for="sale_order-payment-method">Metodo de pago</label>
                  
                  <select class="input-block-level" ng-model="sale_order.SaleOrderPaymentMethod">
          					<option value="Efectivo" selected>Efectivo</option>
          					<option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
          					<option value="Débito">Débito</option>
          					<option value="Transferencia Electrónica de Fondos">Transferencia Electrónica de Fondos</option>
          					<option value="Cheque Nominativo">Cheque Nominativo</option>
          					<option value="Monedero Electrónico">Monedero Electrónico</option>
          
          				</select>
    				
    				
              </div>
              <div class="span4">
                  <label for="sale_order-payment-form">Forma de pago</label>
                  <select ng-model="sale_order.SaleOrderPaymentForm" class="input-block-level">
    					      <option selected="selected" value="Pago en una sola exhibicion">Pago en una sola exhibicion</option>
    					   
    
    				      </select>
              </div>
              <div class="span4">
                <label for="sale_order-payment-form">Tipo de comprobante</label>
                <select ng-model="sale_order.SaleOrderProofType" class="input-block-level">
    					      <option selected="selected" value="ingreso">Ingreso</option>
    					      <option value="egreso">Egreso</option>
    					      <option value="traslado">Traslado</option>
    					      
    
    				      </select>
                </div>
              </div>
          </div>
    
        
      </section>
    
      <section class="row-fluid" >
            
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                      <th></th>
                      <th>ARTICULO</th>
                      <th>UM</th>
                      <th>CANT</th>
                      <th>PRECIO</th>
                      <th>SUBTOTAL</th>
                      <th>DTO%</th>
                      <th>IVA%</th>
                      <th>TOTAL ARTICULO</th>
                     
                    </tr>
                </thead>
                <tbody>
      				    <tr ng-repeat="item in sale_order.items ">
      				       <td class="span1 tc">
      				          <div class="">
                            <a class="btn btn-link" ng-click="removeSaleOrderItem(item)"><i class="icon-trash"></i></a>
                        </div>
                    </td>
      				      <td class="span4"> 
      				          <div style="position:relative" ng-hide="item.Product.ProductId">
                            <input type="text" ng-model="item.Product"  typeahead="product as product.ProductExtendedDescription for product in productSearch($viewValue)" placeholder="Capture el codigo o nombre del articulo" typeahead-on-select="onProductSelection(item)" typeahead-on-select-new="onNewProductSelection(item.Product)" typeahead-on-not-found="onItemNotFound(item)" typeahead-on-matches-found="onItemMatchesFound(item)" class="input-block-level item-description" >
                            <button class="btn btn-link help-inline-text-right" title="Editar en ventana emergente..." ng-show="itIsManualItem(item)"  ng-click="showItemExtendEditModal(item)"> <i class="icon-external-link"></i></button>
                            <div class="item-inline-action popover fade in bottom" ng-show="!item.IsManualItem && item.notFound">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Articulo no fue encontrado...</h3>
                                <div class="popover-content">                              
                                    <button class="btn btn-mini btn-primary" ng-click="onNewProductSelection(item)">Agregar articulo </button> ó<button class="btn btn-mini btn-link" ng-click="setAsManualItem(item)">Continuar capturar libre</button>
                                </div>
                            </div>
                        </div>
                        <div class="text text-info" ng-show="item.Product.ProductId">
                            <span class="">{{ item.Product.ProductCode }} </span>
                            <span class="">{{ item.Product.ProductName }} <button ng-click="removeProductObject(item)" class="close">&times;</button> </span>
                        </div>
                    </td>
      				      <td class="span2">
      				          <select ng-model="item.SaleOrderDetailUM" class="input-block-level" ng-options="unidad.UMName as unidad.UMName for unidad in unidades" >
                          <option value=""></option>
                        </select>
                    </td>
      				      <td class="span1" >
      				          <input type="number" ng-model="item.SaleOrderDetailQTY" min="0" max="9999" class="input-block-level numeric" select-on-click>
      				      </td>
      				      <td class="span2" >
      				          <input type="number" ng-model="item.SaleOrderDetailPrice" placeholer="$ 0.00" class="input-block-level numeric" select-on-click>
      				      </td>
      				       <td class="span2 readonly">
      				          <div class="input-block-level text  numeric">{{  item.SaleOrderDetailTotal  | currency : "$" }}</div>
      				      </td>
      				      <td class="span1">
      				        <input type="number" ng-model="item.SaleOrderDetailDiscount" tooltip="{{ item.SaleOrderDetailDiscountAmount | currency : '$' }}"  tooltip-trigger="focus" tooltip-placement="bottom" class="input-block-level numeric" select-on-click>
      				      </td>
      				      <td class="span1">
      				        
                       <select ng-model="item.SaleOrderDetailTax" class="input-block-level"  >
                          <option value="0">0 %</option>
                          <option value="16">16 %</option>
                          
                        </select>   				        
      				      </td>
      				      <td class="span2 readonly">
      				          <div class="input-block-level text  numeric">{{  item.SaleOrderDetailSubTotal  | currency : "$" }}</div>
      				      </td>
      				     
                    
      				    </tr>
      				    <tr>
      				        
      				        <td colspan="8" class="tc"><button class="btn btn-link" ng-click="addItem()"> <i class="icon-plus-sign"></i> Agregar linea </button> </td>
      				    </tr>
      				   
    				    </tbody>
  				  </table>
  				   
  				 
  				 
      
            
      
          </section>
          <section class="row-fluid">
            <div class="span8">
                <label class="control-label"></label>
                <textarea name="QuoteDescription" ng-model="sale_order.SaleOrderDescription"  rows="3" class="input-block-level" placeholder="Agregue una descripción o comentario para esta orden de venta"> </textarea>
                <span class="muted" ng-show="sale_order.SaleOrderId">Creada por: {{ sale_order.CreatedByName }} en: {{ sale_order.SaleOrderCDate | date:'medium' }}</span><br>
                <span class="muted" ng-show="sale_order.SaleOrderId">Modificada por: {{ sale_order.UserName }} en: {{ sale_order.SaleOrderLMDate | date:'medium' }}</span>
            </div>
            <div class="span4">
                <table class="table table-condensed totals">
                   <tr>
      				        <td class="span6 tr">SUBTOTAL</td>
                      <td class="span5 tr">{{ sale_order.SaleOrderSubtotal | currency }}</td>
                      
      				    </tr>
      				    <tr>
      				        <td class="tr">IVA</td>
                      <td class="tr">{{ sale_order.SaleOrderTaxes | currency }}</td>
                      
      				    </tr>
      				    <tr>
      				        <td class="tr text-info">DESCUENTO</td>
                      <td class="tr text-info">{{ sale_order.SaleOrderDiscounts | currency:'-$' }}</td>
                     
      				    </tr>
      				    <tr ng-repeat="currency in currencies | reverse">
  				  
  				          <td   class="tr total">TOTAL  {{ currency.CurrencySymbol }} </td>
  				          <td class="tr total">
  				            <span ng-show="sale_order.CurrencyId == currency.CurrencyId">{{ sale_order.SaleOrderTotal | currency : ' $'  }}</span>
                      <span ng-show="sale_order.CurrencyId != currency.CurrencyId">{{ sale_order.SaleOrderTotalDlls | currency : ' $'  }}</span>
                    </td>
                  
  				   
  				    </tr>
                </table>
              
            </div>
            
          </section>
          <section id="actions" class="row-fluid">
        
            <hr>
            <div class="span6">
              <a title="Regresar" ng-href="#/ventas"><i class="icon-chevron-sign-left"></i></a>
              <button type="submit" class="btn btn-primary" ng-click="saveSaleOrder()"><i class="icon-save"></i> Guardar</button>
              <button type="submit" class="btn btn-info" ng-click="showShippingModal()"  ng-show="sale_order.SaleOrderStatus === 'Aprobada'"><i class="icon-road"></i> Numero de Guia</button>
              
            </div>
            <div class="span4">
              <div ng-show="sale_order.SaleOrderId" class="pull-right">
                <button class="btn btn-link  pull-right" ng-click="removeOrder(sale_order)" ng-disabled="!userInfo.information().UserIsAdmin"><span class="text-error"><i class="icon-trash"></i> Eliminar</span></button>
                <button type="button" class="btn btn-danger pull-right" ng-disabled="!userInfo.information().UserIsAdmin" ng-click="cancelOrder()" ng-hide="sale_order.SaleOrderStatus === 'Cancelada'"><i class="icon-remove"></i> Cancelar</button>  
                <button type="button" class="btn btn-success pull-right" ng-disabled="!userInfo.information().UserIsAdmin" ng-click="approveOrder()" ng-show="sale_order.SaleOrderStatus === 'Pendiente'"><i class="icon-ok"></i> Aprobar</button>
             </div>
              
            </div>   
            
          </section>
  </form>
  



  <div modal="showEditModal" options="{ backdrop: true }" >
      <div class="modal-body">  
          <textarea name="" ng-model="editQuoteItem.Product"  rows="3" class="input-block-level" placeholder="Agregue una descripciono para este elemento"> </textarea>
          <a  class="btn btn-primary pull-right"  ng-click="hideItemExtendEditWindow()">Aceptar</a>
      </div>
  </div>
  
  <div modal="showRemoveModal" option="{ backdrop : true }">
      <div class="modal-body">
          <div class="row-fluid">
              <strong><span class="text-error"> Advertencia!</span></strong> toda la información relacionada a esta venta tambien sera eliminada.
              <br/><strong>Escriba la palbra "ELIMINAR"  para confirmar la eliminación</strong>
          </div>
          <div class="row-fluid">
              <input type="text" ng-model="sale_order.SaleOrderDeleteWord">
              <button class="btn btn-danger" ng-click="delete()">Eliminar</button> 
              <button class="btn" ng-click="showRemoveModal =!showRemoveModal">Cancelar</button>
          </div>
      </div>
  </div>
  
   <div modal="showShipping" option="{ backdrop : true }">
     <form name="shippingform" class="form-vertical" novalidate>
		<div class="modal-header">
			<h4>Ingresar datos para envio</h4>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">Numero de Guia</label>
				<input name="shipping" type="test" ng-model="sale_order.SaleOrderShipping"  required />


			</div>
				<div class="control-group">
				<label class="control-label">Transportista o paqueteria</label>
				<input name="carrier" type="test" ng-model="sale_order.SaleOrderCarrier"  required />


			</div>

		</div>
		<div class="modal-footer">
			<a  class="btn btn-link pull-left"  ng-click="hideShippingWindow()">Cancelar</a>
	        <button class="btn btn-primary"  ng-click="saveShipping()">Guardar guia</button>
		</div>
	</form>
  </div>

<customer-directive ></customer-directive>
 <product-form product-form-on-select="selectProduct(item)"></product-form>

</div>

