
<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
            <p class="nav navbar-text ">
			          <a title="Regresar" ng-href="#/ventas"><i class="icon-chevron-sign-left"></i></a>
			      </p>
            <a class="brand title-brand" ng-hide="sale_order.SaleOrderId">Crear nueva venta</a>
            <a class="brand title-brand" ng-show="sale_order.SaleOrderId">Orden de venta <span class="text-info">{{ sale_order.SaleOrderFolio }}</span> </a>
            <ul class="nav">
              <li><button title="Enviar orden" class="btn btn-link" ng-show="sale_order.SaleOrderId" ng-click="editEmail()" ng-disabled="{{ sale_order.SaleOrderStatus === 'Cancelada'}}"><i class="icon-envelope" ></i></button></li>
              <li><a title="Imprimir orden de venta" ng-show="sale_order.SaleOrderId" ng-href="api/sale_orders/report/{{sale_order.SaleOrderId}}?access_token={{ currentTokenInfo.access_token }}" target="_blank"><i class="icon-print" ></i></a></li>
			        
			      </ul>
			      <ul class="nav">
			        <li class="divider-vertical"></li>
			      </ul>
			      <p class="nav navbar-text ">
			          <span class="label label-info"> {{ sale_order.SaleOrderStatus }} </span>
			      </p>
			      
  		</div>	    
  </div>

</div>
<div class="row-fluid full-height">
    <div class="span2 full-height right-border">
      
      <div ng-include="'client/partials/sale_orders/header.html'" ></div> 
    </div>
    
    
    <div class ="span10 full-height"> 
	  <sale-order-form ></sale-order-form>
    </div>

</div>
