<h3>Categorias</h3>


	<ul class="thumbnails">
		<li class="span2">
	  		<div class="thumbnail">
	  		<p>
	  		</p>
	  		<p>
	  			<button class="btn btn-link" ng-click="add()"><i class="icon-plus"></i> Agregue una categoria</button> 
	  		</p>
	  		</div>
	  </li>
	  <li class="span2" ng-repeat="category in categories">
	    <div class="thumbnail">

			<div x-img-upload="{runtimes: 'html5, flash, silverlight, html4', resize: { width: 160, height: 120 } , url: './api/categories/{{ category.CategoryId}}/upload/'}" ng-model="category.CategoryPicture"></div>
	     
	    	<div class="caption">
	        	<h5 ><a href="#/categorias/{{ category.CategoryId }}" class="" title="{{ category.CategoryDescription }}">{{  category.CategoryName }}</a></h5>
	        
	        	<p class="">
	        		
	        		<button title="Editar categoria" class="btn" ng-click="edit(category)"><i class="icon-edit" ></i></button>
					<button confirm-button="delete(category)" class="btn btn-danger"  message=" Seguro desea eliminar esta categoria?" yes="Si" no="No"><i class="icon-trash"></i></button>
				</p>
	      </div>
	    </div>
	  </li>

	 
	</ul>


<div modal="showModal"  close="cancel()" options="{ backdrop: true}">
    
    <form name="form" class="form-vertical" novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="category.IsNew">Agregue una categoria</span>
	            	<span ng-hide="category.IsNew">Modificar categoria</span>
	            </h4>
	            <p>
	            	<span ng-show="category.IsNew">Agregue una categoria la aplicación</span>
	            	<span ng-hide="category.IsNew">Modificar una categoria</span>
	           	</p>
	    </div>
	    <div class="modal-body">
	    	<div class="control-group" >
	            <label class="control-label">Nombre</label>
	            <div class="controls">
	            	<input name="categoryName" type="text" ng-model="category.CategoryName" class="input-xlarge" required />
	            	<span class="text-error"  ng-show="form.categoryName.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">Descripción</label>
	            <div class="controls">
	            	<textarea name="categoryDescription" type="text"  rows="2" ng-model="category.CategoryDescription" class="input-xlarge" > </textarea>
	            	
	        	</div>
	        </div>
	       
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar categoria</button>
	    </div>
    </form>
</div>