<h2> Messages </h2>
<div id="messagesDiv">
    <div ng-repeat="msg in messages"><em>{{msg.from}}</em>: {{msg.body}}</div>
</div>

<input type="text" ng-model="name" placeholder="Name">
<input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">