<h3> Unidades </h3>
<p>
	<div class="search-bar">
		<button class="btn btn-info " ng-click="add()"><i class="icon-plus"></i>  Agregue una Unidad</button>
		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>
		<input type="text" class="input-xlarge pull-right" placeholder="buscar..." ng-model="search" />		
	</div>
</p>
<table ng-table="tableParams" class="table"  >
	
	<tr ng-repeat="currency in currencies">

		<td title="Nombre" >{{ 	currency.CurrencyName }}</td>
		<td title="Simbolo" >{{ currency.CurrencySymbol }}</td>
		<td title="Default" >{{ currency.CurrencyDefault }}</td>
		
		<td>
			<button title="Establecer la visibilidad de la unidad" class="btn"><i class="icon-eye-open" ></i></button>
			<button title="Editar unidad" class="btn" ng-click="edit(currency)"><i class="icon-edit" ></i></button>
			<button confirm-button="delete(currency)" class="btn btn-danger"  message=
			" realmente desea eliminar esta unidad?" yes="Si" no="No">
 <i class="icon-trash"></i></button>
		</td>

	</tr>
	
</table>


<div modal="showCurrencyModal" close="cancel()" options="{ backdrop: true}">
	<form name="form"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="customer.IsNew">Agregue una nueva Unidad</span>
	            	<span ng-hide="customer.IsNew">Editar detalles acerca de {{ currency.CurrencyName }}</span>
	            </h4>
	            <p>
	            	<span class="text-info">Unidades de Medida Descripcion</span>
	           	</p>
	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	
	            <div class="span8">	            	
	            	<label>Nombre</label>
	            	<input name="currencyname" type="text" ng-model="currency.CurrencyName" class="span12" required />
	            	<span class="text-error"  ng-show="form.currencyname.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>Simbolo</label>
	        		<input name="currencysymbol" type="text" ng-model="currency.CurrencySymbol" class="span12"  />
					
	        	</div>
	        	<div class="span4">
	        		<label>Default</label>
	        		<input name="currencydefault" type="text" ng-model="currency.CurrencyDefault" class="span12"  />
	        	
	        	</div>
	        
	        </div>
	        


	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar unidad</button>
	    </div>
	</form>
</div>