<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Clientes</a>
            <ul class="nav">
            	<li><a  ng-href="#/clientes/new" class="text-new">+ Agregue un nuevo cliente</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>


<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<ul class="sidebar-menu">
			<li><span>VER</span>
				<ul>
					<li ng-class="getClass('/clientes',true)"> <a ng-href="#/clientes">Todos</a></li>
					
				</ul>
			</li>
		</ul>
    </div>
	<div class="span10 full-height" >
			<table ng-table="tableParams" class="table"  >
				
				<tr ng-repeat="customer in customers">
			
					
					<td title="Nombre" >{{ 	customer.CustomerName }}</td>
					<td title="Telefono" >{{ customer.CustomerTelephone }}</td>
					<td title="Celular" >{{  customer.CustomerCellphone }}</td>
					<td title="Email" >{{ 	customer.CustomerEmail }}</td>
					
					<td title="Reputaci&oacute;n"><input-stars max="5" ng-model="customer.CustomerRating"></input-stars></td>
					<td>
						<button title="Información de contacto" class="btn" ng-click="editContacts(customer)"><i class="icon-user"></i></button>
						<a class="btn" ng-href="#/clientes/{{customer.CustomerId}}"title="Editar cliente" class="btn" ><i class="icon-edit" ></i></a>
						<button confirm-button="delete(customer)" class="btn btn-danger"  message=
						" realmente desea eliminar este cliente?" yes="Si" no="No">
			 <i class="icon-trash"></i></button>
					</td>
			
				</tr>
				
			</table>
	</div>

</div>

<div modal="showCustomerModal" close="cancel()" options="{ backdrop: true}">
	<form name="form"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="customer.IsNew">Agregue un nuevo cliente</span>
	            	<span ng-hide="customer.IsNew">{{ customer.CustomerName }}</span>
	            </h4>
	            <p>
	            	<span class="text-info"></span>
	           	</p>
	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	

	            <div class="span12">	            	
	            	<label>Nombre</label>
	            	<input name="customername" type="text" ng-model="customer.CustomerName" class="span12" required />
	            	<span class="text-error"  ng-show="form.customername.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>R.F.C.</label>
	        		<input name="customerrfc" type="text" ng-model="customer.CustomerRFC" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Telefono</label>
	        		<input name="customertelephone" type="text" ng-model="customer.CustomerTelephone" class="span12" required />
	        		<span class="text-error"  ng-show="form.customertelephone.$error.required" > * requerido</span>
	        	</div>
	        	<div class="span4">
	        		<label>Celular</label>
	        		<input name="customercellphone" type="text" ng-model="customer.CustomerCellphone" class="span12" />
	        	</div>
	        </div>
	        
	        <!--
	        <div class="row-fluid" >
	        	<div class="span12">
	        		<label>Direcci&oacute;n</label>
	        		<textarea name="customeraddress" ng-model="customer.CustomerAddress" rows="2" class="span12"></textarea>
	        	</div>
	        </div>-->
	        
	        <div class="row-fluid" >
	        	<div class="span7">
	        		<label>Calle</label>
	        		<input name="customerstreet" type="text" ng-model="customer.CustomerStreet" class="span12"></textarea>
	        	</div>
	        	<div class="span3">
	        		<label>No. Exterior</label>
	        		<input name="customernumExt" type="text" ng-model="customer.CustomerNumExt" class="span12"></textarea>
	        	</div>
	        	<div class="span2">
	        		<label>No. Interior</label>
	        		<input name="customernumInt" type="text" ng-model="customer.CustomerNumInt" class="span12"></textarea>
	        	</div>
	        	</div>
	        	
	        	<div class="row-fluid" >
	        	<div class="span4">
	        		<label>Colonia</label>
	        		<input name="customercolony" type="text" ng-model="customer.CustomerColony" class="span12"></textarea>
	        	</div>
	        	
	        	<div class="span4">
	        		<label>C&oacute;digo Postal</label>
	        		<input name="customercp" type="text" ng-model="customer.CustomerCP" class="span12" />
	        	</div>
	        	
	        	<div class="span4">
	        		<label>Localidad</label>
	        		<input name="customerlocalidad" type="text" ng-model="customer.CustomerLocalidad" class="span12"></textarea>
	        	</div>
	        </div>
	        
	        <div class="row-fluid" >
	        	
	        	<div class="span4">
	        		<label>Ciudad</label>
	        		<input name="customercity" type="text" ng-model="customer.CustomerCity" class="span12" />
	        	</div>
	        	
	        	<div class="span4">
	        		<label>Estado</label>
	        		<input name="customerstate" type="text" ng-model="customer.CustomerState" class="span12"></textarea>
	        	</div>
	        	
	        	<div class="span4">
	        		<label>Pais</label>
	        		<input name="customercountry" type="text" ng-model="customer.CustomerCountry" class="span12" />
	        	</div>
	        </div>
								
									<div class="row-fluid" >
	        	<div class="span12">
	        		<label>Direcci&oacute;n de entrega</label>
	        		<textarea name="customerdelivery" ng-model="customer.CustomerDeliveryPlace" rows="2" class="span12"></textarea>
	        	</div>
	        	
	        </div>
	        
	        <div class="row-fluid">
	        	<div class="span6">
	            	<label>Correo electrónico</label>
	            	<input name="email" type="email" ng-model="customer.CustomerEmail" class="span12" />	            	
	            	<span class="text-error"  ng-show="form.email.$error.email" >Invalido, por favor ingrese un correo electrónico valido</span>	            
	        	</div>
	        	<div class="span6">
	        		<label>Pagina web</label>
	        		<input name="customerweb" type="text" ng-model="customer.CustomerWeb" class="span12" />	
	        	</div>
	        </div>
	        <div class="row-fluid">
	        	<div class="span12">
	        		<label>Referencias</label>
	        		<textarea ng-model="customer.CustomerReferences" placeholder="" rows="3" class="span12"></textarea>
	        	</div>
	        </div>
	        <div class="row-fluid">
	        	<div class="span12">
	        		<label>Notas</label>
	        		<textarea ng-model="customer.CustomerNotes" placeholder="" rows="2" class="span12"></textarea>
	        	</div>
	        </div>

	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar cliente</button>
	    </div>
	</form>


</div>

<contact-form></contact-form>

