<div class="row-fluid full-height">
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Dashboard</a>
            <p class="nav nav-text">
            	<span class="label label-info">  {{ dateFrom | date:'longDate' }} - {{ dateTo  | date:'longDate'}} </span><button class="btn btn-link" ng-click="showDates()"><i class="icon-calendar icon-white"></i></button>
            	 <form class="navbar-form" ng-show="showDatePicker">
            	 	
				  
					
						<input type="date" ng-model="selectDateFrom"   class="span3"   placeholder="Desde">
				
			
					  
					  <input type="date" ng-model="selectDateTo"   class="span3"   placeholder="Hasta">
				
			
			<button class="btn" ng-click="selectDates()">OK</button>
				</form>
            </p>
		</div>
    </div>
    <div class="span12 ">
      	<!--Body content -->
		<section class="row-fluid">
 			<header>
	   		
				<ul class="">
		        
		        	<li><p></p> </li>
		        </ul>
				<div class="">
		             
		             
		            
		    	</div>
		    </header> 
		</section>
  		<section class="row-fluid full-height">
			
			<div class="span3">
				<div class="metric-box" style="background-color:#28B779; color:#fff; ">
					<div class="body row-fluid">
	                   <div class="span4"><i class="icon-shopping-cart icon-4x"></i></div>
	                   <div class="span8 pull-right text-right">
	                   		<div class="value">{{ countSales }}</div>
		               		<div class="text">Nuevas Ventas</div>	
					   </div>
	                </div>
					<div class="metric-box-footer" style="background-color: #17A668">
						<span>Ordenes de Venta</span> <span class="pull-right"><i class="icon-exclamation-sign "></i></span>
					</div>
				</div>
				<hr>
				<div class="row-fluid">
	                <div class="span6">Pendientes</div>
	                <div class="span4" style="float:right">{{ CountPendingSales }}</div>
				</div>
				<div class="row-fluid">
	                <div class="span6">Aprobadas</div>
	                <div class="span4" style="float:right">{{ CountAcceptedSales }}</div>
				</div>
				<div class="row-fluid">
	                <div class="span6">Canceladas</div>
	                <div class="span4" style="float:right">{{ CountCanceledSales }}</div>
				</div>
			</div>
		
		
		
			<div class="span3">
				<div class="metric-box" style="background-color:#FFB848; ">
					<div class="body row-fluid">
	                   <div class="span4"><i class="icon-bar-chart icon-4x"></i></div>
	                   <div class="span8 pull-right text-right" >
					   
					   <div class="value">{{ countPayments }}</div>
		               <div class="text">Cobros </div>
					   </div>
	                </div>
					<div class="metric-box-footer" style="background-color: #DA9627">
						<span>Cobranza</span> <span class="pull-right"><i class="icon-exclamation-sign "></i></span>
						
					</div>
				</div>
				<hr>
				<div class="row-fluid">
	                   <div class="span6">Dolares</div>
	                   <div class="span4" style="float:right">{{getAmountPaymentsDlls | currency }}</div>
				</div>
				<div class="row-fluid">
	                   <div class="span6">Pesos</div>
	                   <div class="span4" style="float:right">{{getAmountPaymentsMxn | currency }}</div>
				</div>
				
				
			</div>
		</section>

		<section class="row-fluid">

        		<div class="metric-chart light-gray"> 
					<div class="title">
						<div class="caption"> <h4><i class="icon-bar-chart "></i> Desgloze de Cobros Realizados</h4></div>
						<div class="tools"></div>
					</div>
					<div class="body"  >
						
                        <div morris-chart type="line" data="lineData" options="lineOptions" style="position: relative"></div>
                        
					</div>
				</div>
		</section>

		<section class="row-fluid " style="clear: both">
			
			<div class="row-fluid">
				
				<div class="span6">
					<div class="metric-chart light-gray">
						<div class="title">
							<div class="caption"><h4><i class="icon-bar-chart "></i> Desgloze de Ventas </h4></div>
							<div class="tools"></div>
						</div>
						<div class="body">
							
                           
                            <div morris-chart type="bar" data="barData" options="barOptions" style="position: relative"></div>
						</div>
				    </div>			   
				</div>
				
          	

       </div>
    </div>
</div>



          			
						
          			
          			 
				</div>

						

			
		</section>

		<hr>
		<label class="pull-right">
		<h4>©2014 Cuatroo<small> Infinite Ideas</small></h4> 
	    </label>
</div>



</div>
 

