<h3> Hoja de Diseno </h3>
<p>
	<div class="search-bar">
		<button class="btn btn-info " ng-click="add()"><i class="icon-plus"></i>  Agregue Sucursal</button>
		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>
		<input type="text" class="input-xlarge pull-right" placeholder="buscar..." ng-model="search" />		
	</div>
</p>

<table ng-table="tableParams" class="table"  >
	
	<tr ng-repeat="place in places">

		<td title="Nombre" >{{ 	place.PlaceName }}</td>
		<td title="Descripcion" >{{ 	place.PlaceDescription }}</td>
		<td>
			<button title="Establecer la visibilidad de la sucursal" class="btn"><i class="icon-eye-open" ></i></button>
			<button title="Editar sucursal" class="btn" ng-click="edit(place)"><i class="icon-edit" ></i></button>
			<button confirm-button="delete(place)" class="btn btn-danger"  message=
			" realmente desea eliminar esta sucursal?" yes="Si" no="No">
 <i class="icon-trash"></i></button>
		</td>

	</tr>
	
</table>

<div modal="showModal" close="cancel()" options="{ backdrop: true}">
	<form name="form"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="place.IsNew">Agregue una nueva sucursal</span>
	            	<span ng-hide="place.IsNew">Modificar una sucursal</span>
	            </h4>
	            <p>
	            	<span class="text-info"></span>
	           	</p>
	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	
	            <div class="span12">
	                <label>Nombre</label>
	            	<input name="placename" type="text" ng-model="place.PlaceName" class="span12"  />
	            </div>
	        </div>
	        <div class="row-fluid" >
	        	<div class="span12">
	        		<label>Descripcion</label>
	        		<textarea name="placedescription" ng-model="place.PlaceDescription" rows="3" class="span12"></textarea>
	        	</div>
	        	
	        </div>
	        
	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar Sucursal</button>
	    </div>
	</form>
</div>