


<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Personal</a>
            <ul class="nav">
            	<li><a ng-click="add()" class="text-new">+ Agregue una nueva persona</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>

<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<ul class="sidebar-menu">
			<li><span>VER</span>
				<ul>
					<li ng-class="getClass('/empleados',true)"> <a ng-href="#/empleados">Todos</a></li>
					
				</ul>
			</li>
		</ul>
	</div>
	<div class="span10 full-height" >
		<table ng-table="tableParams" class="table"  >
			
			<tr ng-repeat="employee in employees">
		
				<td title="Nombre" >{{ 	employee.EmployeeName }}</td>
				<td title="Apellido Paterno" >{{ 	employee.EmployeeLastName }}</td>
				<td title="Apellido Materno" >{{ employee.EmployeeLastName2 }}</td>
				<td title="Iniciales" >{{  employee.EmployeeInitials }}</td>
				<td title="Puesto" >{{ 	employee.EmployeePosition }}</td>
				<td>
					<button title="Establecer la visibilidad del empleado" class="btn"><i class="icon-eye-open" ></i></button>
					<button title="Editar empleado" class="btn" ng-click="edit(employee)"><i class="icon-edit" ></i></button>
					<button confirm-button="delete(employee)" class="btn btn-danger"  message=
					" realmente desea eliminar este empleado?" yes="Si" no="No">
		 <i class="icon-trash"></i></button>
				</td>
		
			</tr>
			
		</table>
	</div> 	
</div>





<div modal="showEmployeeModal" close="cancel()" options="{ backdrop: true}">
	<form name="form"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="employee.IsNew">Agregue un nuevo empleado</span>
	            	<span ng-hide="employee.IsNew">Editar detalles acerca de {{ employee.EmployeeName }}</span>
	            </h4>
	            <p>
	            	<span class="text-info">Personal de la Empresa</span>
	           	</p>
	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	
	            
	            <div class="span8">	            	
	            	<label>Nombre</label>
	            	<input name="employeename" type="text" ng-model="employee.EmployeeName" class="span12" required />
	            	<span class="text-error"  ng-show="form.employeename.$error.required" >* requerido</span>
	        	</div>
				
	        </div>
			
			<div class="row-fluid">
			<div class="span6">	            	
	            	<label>Apellido Paterno</label>
	            	<input name="employeelastname" type="text" ng-model="employee.EmployeeLastName" class="span12" required />
	            	<span class="text-error"  ng-show="form.employeelastname.$error.required" >* requerido</span>
	        	</div>
				
				<div class="span6">	            	
	            	<label>Apellido Materno</label>
	            	<input name="employeelastname2" type="text" ng-model="employee.EmployeeLastName2" class="span12" required />
	            	
	        	</div>
			
			</div>
			
			<div class="row-fluid">
				
			</div>	
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>Iniciales</label>
	        		<input name="employeeinitials" type="text" ng-model="employee.EmployeeInitials" class="span12" />
	        	</div>
	        	<div class="span6">
	        		<label>Puesto</label>
	        		<input name="employeeposition" type="text" ng-model="employee.EmployeePosition" class="span12" required />
	        		<span class="text-error"  ng-show="form.employeeposition.$error.required" > * requerido</span>
	        	</div>
	        </div>
	        
	        <div class="row-fluid" >
	        	<div class="span4">
	        		<label>Salario por Hora</label>
	        		<input name="employeeinitials" type="number" ng-model="employee.EmployeeSalaryByHour" class="span12" />
	        	</div>
	        	
	        </div>
	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar empleado</button>
	    </div>
	</form>
</div>