<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
	    	<a class="brand title-brand">Facturas</a>
	    	<p class="nav navbar-text ">
			     <span> Numero de folios disponibles </span>
			</p>
	      	<ul class="nav">
	      		<li><a ng-click="add()" class="btn btn-link text-new"><i class="icon-ticket"></i> Comprar Timbres</a> </li>
	      	</ul>
		    <form class="navbar-search pull-right">
				 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>

<div class="row-fluid full-height" > 
	<div class="span10" >
	
		<div ng-show="sale_orders.length > 0">
			<table ng-table="tableParams" class="table">
				<tr ng-repeat="sale_order in sale_orders">
					<td title="Folio"> <strong> {{sale_order.SaleOrderFolio}}</strong></td>
					<td title="Titulo"> {{ sale_order.SaleOrderTitle | truncate:48 }}</td>
					<td title="Cliente"> {{ sale_order.customer.CustomerName | truncate:48 }}</td>
					<td title="Estatus"> {{ sale_order.SaleOrderStatus }}</td>
					<td title="Fecha"> {{ sale_order.SaleOrderDate  }}</td>
					<td title="Total"> {{ sale_order.CurrencySymbol}} {{ sale_order.SaleOrderTotal | currency }}</td>
					<td>
						<a title="Imprimir contrato" class="btn" ng-href="/api/facturar/report/{{sale_order.InvoiceId}}?access_token={{currentTokenInfo.access_token}}" target="_blank"><i class="icon-print" ></i></a>
						<button confirm-button="delete(sale_order)" class="btn btn-danger"  message="realmente desea cancelar la factura?" yes="Si" no="No"><i class="icon-trash"></i></button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-show="sale_orders.length == 0">
			<div class="span12 tc">
		 		<h3><i class="icono-file"></i> No se encontraron Facturas</h3>
		 	</div>
		</div>
	</div>
</div>

<div modal="showPagoModal" close="cancel()" options="{ backdrop: true}">
	<form  id="card-form"  ng-submit="pagar()">
  		
	    <div class="modal-header">
          <h4>
          	<span>Comprar Timbres</span>
          </h4>
        
          	<span class="text-info">Pague con su tarjeta de credito o debito</span>
          <br>
          	<img src="client/img/visa2-mini.png" alt="Visa" hspace="2" vspace="5" border="0" />
			<img src="client/img/mastercard2-mini.png" hspace="2" vspace="5" border="0" />
			<img src="client/img/amex2-mini.png" alt="American Express" hspace="2" vspace="5" border="0" />
         	
	    </div>
		<div class="modal-body">
			<div class="row-fluid" >			   	
				<div class="alert alert-error" ng-repeat="error in payment_errors">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  {{ error.error_description }}
				</div>
			</div>
	    	<div class="row-fluid" >			   	
	            
	            <div class="span8">	            	
	            	<label>Nombre del tarjeta habiente</label>
	            	<input name="name" type="text"  class="span12" size="20" data-conekta="card[name]"/>
	        	</div>
				
	        </div>
			
			<div class="row-fluid">
			<div class="span6">	            	
	            	<label>Número de tarjeta de crédito</label>
	            	<input name="number" type="text"  class="span12" size="20"  data-conekta="card[number]" />
	        	</div>
				
				<div class="span6">	            	
	            	<label>CVC</label>
	            	<input name="cvc" type="password"  class="span4" size="4" data-conekta="card[cvc]"/>
	            	
	        	</div>
			
			</div>
			
		
	        <div class="row-fluid" >
	        	<div class="span12">
	        		<label>
				      <span>Fecha de expiración (MM/AAAA)</span></label>
				      <input name="month" type="text"   size="2" max-size="2" data-conekta="card[exp_month]" >		    /
				    	<input name="year" type="text"    size="4" max-size="4" data-conekta="card[exp_year]" >
				    
	        	</div>
	        </div>
	        
			<div class="row-fluid">
								<div class="span12">	            	
	            	<label>Elija un paquete </label>
	            	<select ng-model="Total" ng-app class="input-block-level">
	            		<option ng-repeat="paquete in paquetes" value="{{paquete.paq}}">{{paquete.data}}</option>
	            	</select>
	            
	            	
	        	</div>
			
			</div>	
	       

	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()" >Cancelar</a>
	        <input type="submit" id="submit" value="Pagar" class="btn btn-success" ng-disabled = "PaymentInProcess"/>
	    </div>
	</form>
</div>

