<section class="row-fluid">
 	<header>
 		<h3>Bienvenido !</h3>
 	</header> 	
 </section>
  <section class="row-fluid ">
 	<div class="span7">
 		<div class=" well well-white ">
	 		<div class="media">
	              <a class="pull-left btn btn-large btn-success" ng-href="#/cotizaciones/nueva">
	                <i class="icon-file"></i>
	              </a>
	              <div class="media-body">
	                <h4 class="media-heading">Nueva cotización</h4>
	                <span class="text-info">Cree un presupuesto, haz que el cliente lo apruebe y conviertalo en una factura</span>
	               
	              </div>
	        </div>
	    </div>
        <div class=" well well-white ">
     		<div class="media">
	              <a class="pull-left btn btn-large btn-success" href="#/trabajos/nuevo">
	                <i class="icon-puzzle-piece"></i>
	              </a>
	              <div class="media-body">
	                <h4 class="media-heading">Orden de trabajo</h4>
	                <span class="text-info">Crear una nueva orden de trabajo</span>
	               
	              </div>
	        </div>
	    </div>        
	    <div class=" well well-white ">
	 		<div class="media">
	              <a class="pull-left btn btn-large btn-success" href="#/ventas/nueva">
	                <i class="icon-book"></i>
	              </a>
	              <div class="media-body">
	                <h4 class="media-heading">Nueva orden de venta</h4>
	                <span class="text-info">Crear una nueva venta</span>
	               
	              </div>
	        </div>
	    </div>
	    
 	</div>
 	 <div class="span5">
 	</div>	
 </section>
  <section class="row-fluid">

 </section>