<h3> Prospectos </h3>
<p>
	<div class="search-bar">
		<button class="btn btn-info " ng-click="add()"><i class="icon-plus"></i>  Agregue un prospecto</button>
		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>
		<input type="text" class="input-xlarge pull-right" placeholder="buscar..." ng-model="search" />		
	</div>
</p>

<table ng-table="tableParams" class="table"  >
	
	<tr ng-repeat="lead in leads">

		
		<td title="Nombre" >{{ 	lead.LeadName }}</td>
		<td title="Concepto" >{{ lead.LeadTitle }}</td>
		<td title="Celular" >{{  lead.LeadCellphone }}</td>
		<td title="Fecha de visita" >{{ lead.LeadDate }}</td>
		<td>
			<button  type="button" class="btn" confirm-button="convertLeadToCustomer(lead)"   message=" Desea convertir a Cliente este prospecto?" yes="Si" no="No"><i class="icon-user"></i></button>
			<button title="Editar prospecto" class="btn" ng-click="edit(lead)"><i class="icon-edit" ></i></button>
			<button confirm-button="delete(lead)" class="btn btn-danger"  message=
			" realmente desea eliminar este prospecto?" yes="Si" no="No">
 <i class="icon-trash"></i></button>
		</td>

	</tr>
	
</table>

<div modal="showLeadModal" close="cancel()" options="{ backdrop: true}">
	<form name="form"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="lead.IsNew">Agregue un nuevo prospecto</span>
	            	<span ng-hide="lead.IsNew">{{ lead.LeadName }}</span>
	            </h4>
	            <p>
	            	<span class="text-info"></span>
	           	</p>
	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	
                <div class="span8">	            	
	            	<label>Nombre</label>
	            	<input name="leadname" type="text" ng-model="lead.LeadName" class="span12" required />
	            	<span class="text-error"  ng-show="form.leadname.$error.required" >* requerido</span>
	        	</div>
	        </div>

	        <div class="row-fluid" >			   	
                <div class="span12">	            	
	            	<label>Concepto</label>
	            	<input name="leadtitle" type="text" ng-model="lead.LeadTitle" class="span12" required />
	            	<span class="text-error"  ng-show="form.leadtitle.$error.required" >* requerido</span>
	        	</div>
	        </div>


	        <div class="row-fluid" >			   	
                <div class="span4">	            	
	            	<label>Fecha de Visita</label>
                    <input name="lead-date" type="text" ng-model="lead.LeadDate" class="input-block-level" placeholder=""  ui-date ui-date-format required/>
                    <span class="text-error"  ng-show="form.leadname.$error.required" >* requerido</span>
	        	</div>

	        	<div class="span4">
	        		<label>Telefono</label>
	        		<input name="leadtelephone" type="text" ng-model="lead.LeadTelephone" class="span12" required />
	        		<span class="text-error"  ng-show="form.leadtelephone.$error.required" > * requerido</span>
	        	</div>
	        	
	        	<div class="span4">
	        		<label>Celular</label>
	        		<input name="leadcellphone" type="text" ng-model="lead.LeadCellphone" class="span12" />
	        	</div>


	        </div>

	        <div class="row-fluid">
	        	<div class="span8">
	            	<label>Correo electrónico</label>
	            	<input name="email" type="email" ng-model="lead.LeadEmail" class="span12" />	            	
	            	<span class="text-error"  ng-show="form.email.$error.email" >Invalido, por favor ingrese un correo electrónico valido</span>	            
	        	</div>
	        	
	        </div>



	      
	        <div class="row-fluid" >
	        	<div class="span12">
	        		<label>Direcci&oacute;n</label>
	        		<textarea name="leadaddress" ng-model="lead.LeadAddress" rows="2" class="span12"></textarea>
	        	</div>
	        	
	        </div>
	       
	        <div class="row-fluid" >
	        	
	        	<div class="span4">
	        		<label>Ciudad</label>
	        		<input name="leadcity" type="text" ng-model="lead.LeadCity" class="span12" />
	        	</div>
	        	<div class="span4">
	        		<label>Pais</label>
	        		<input name="leadcountry" type="text" ng-model="lead.LeadCountry" class="span12" />
	        	</div>
	        </div>

	        
	      
	        <div class="row-fluid">
	        	<div class="span12">
	        		<label>Notas</label>
	        		<textarea ng-model="lead.LeadNotes" placeholder="" rows="2" class="span12"></textarea>
	        	</div>
	        </div>

	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar Prospecto</button>
	    </div>
	</form>


</div>


