<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Materiales</a>
            <ul class="nav">
            	<li><a ng-click="add()" class="text-new"><i class="icon-plus"></i>  Agregue un Material</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>

<div class="row-fluid full-height" > 
	<div class="span2 full-height right-border" >
		<ul class="sidebar-menu">
			<li><span>VER</span>
    		<ul class="">
				<li ng-class="getClass('/materiales',true)"> <a ng-href="#/materiales">Todos</a></li>
				
			</ul>
			</li>
    	</ul>
    </div>
    <div class="span10 full-height main-form">
		    	
		<table ng-table="tableParams" class="table"  >
			
			<tr ng-repeat="material in materials">
		
				<td title=" " >{{ 	material.MaterialName}}</td>
				
				<td>
					
					<button title="Editar Material" class="btn" ng-click="edit(material)"><i class="icon-edit" ></i></button>
					<button confirm-button="delete(material)" class="btn btn-danger"  message=
					" realmente desea eliminar este Material?" yes="Si" no="No">
		         <i class="icon-trash"></i></button>
				</td>
		
			</tr>
			
		</table>
    </div>
</div>

<div modal="showMaterialModal" close="cancel()" options="{ backdrop: true}">
	<form name="form"  novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="material.IsNew">Agregue un nuevo Material</span>
	            	<span ng-hide="material.IsNew">Editar detalles acerca de {{ material.MaterialName }}</span>
	            </h4>
	            <p>
	            	<span class="text-info">Materiales de cada producto</span>
	           	</p>
	    </div>
		<div class="modal-body">
	    	<div class="row-fluid" >			   	
	            <div class="span8">	            	
	            	<label>Nombre</label>
	            	<input name="materialname" type="text" ng-model="material.MaterialName" class="span12" required />
	            	<span class="text-error"  ng-show="form.materialname.$error.required" >* requerido</span>
	        	</div>
	        </div>
			
	        <div class="row-fluid" >
			
				
	        	<div class="span6"> 
	  		        <label for="material-category"> Categoria<label>
	  				<select ng-model="material.MaterialCategoryId" class="input-block-level" ng-options="category.CategoryId as category.CategoryName for category in categories" >
					<option value="">Seleccione una categoria...</option>
    			    </select>
                </div>
					
	        
	        </div>
	        
	        
	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar Material</button>
	    </div>
	</form>
</div>