
<ul class="sidebar-menu visible-desktop">
    <li>
        <span>GENERAL</span>
        <ul class="">
            <li ng-class="getClass('/home')"><a href="#" data-toggle="tab"><i class="fa icon-bar-chart"></i> Inicio </a></li>
            <li ng-class="getClass('/productos')"><a href="#/productos"  ng-hide="true"><i class="icon-barcode"></i> Productos</a></li>
            <li ng-class="getClass('/productos')"><a href="#/existencias"  ng-hide="true"><i class="icon-reorder"></i> Inventario</a></li>
            
            <li ng-class="getClass('/ventas')"><a href="#/ventas"><i class="icon-file"></i> Ventas</a></li>
            <li ng-class="getClass('/pos')"><a href="#/pos" ng-hide="true"><i class="icon-file"></i> Punto  de Venta</a></li>
            <li ng-class="getClass('/cobranza')"><a href="#/cobranza"><i class="icon-book"></i> Cobranza</a></li>                        
           

        </ul>
    </li>
   
    <li>
        <span>CATALOGOS</span>
        <ul class="">
            <li ng-class="getClass('/cuenta')"><a href="#/cuenta"><i class="icon-cog"></i> Mi empresa</a></li>
            <li ng-class="getClass('/sucursales')"><a href="#/sucursales"><i class="icon-sitemap"></i> Sucursales</a></li>

            <li ng-class="getClass('/clientes')"><a href="#/clientes"><i class="icon-group"></i> Clientes</a></li>


            <li ng-class="getClass('/usuarios')"><a href="#/usuarios"><i class="icon-user"></i> Usuarios</a></li>                                
        </ul>
    </li>
    
    <li>
        <span>ECOMMERCE</span>
        <ul class="">
            <li ng-class="getClass('/promociones')"><a href="#/promociones" ng-hide="true"><i class="icon-tags"></i> Ofertas y Promociones</a></li>
            <li ng-class="getClass('/productos')"><a href="#/productos"><i class="icon-tags"></i> Productos</a></li>
            <li ng-class="getClass('/sliders')" ng-hide="true"><a href="#/sliders"><i class="icon-cog"></i> Sliders</a></li>
                                        
        </ul>
    </li>
</ul>

    

<ul class="sidebar-menu visible-tablet ">
    <li>
        <span></span>
        <ul class="">
            <li ng-class="getClass('/home')"><a href="#" data-toggle="tab"><i class="fa icon-bar-chart icon-large"></i>  </a></li>
            <li ng-class="getClass('/cotizaciones')"><a href="#/cotizaciones"><i class="icon-list icon-large"></i> </a></li>
            <li ng-class="getClass('/ventas')"><a href="#/ventas"><i class="icon-file icon-large"></i> </a></li>
            <li ng-class="getClass('/cobranza')"><a href="#/cobranza"><i class="icon-book icon-large"></i> </a></li>                        
           
           

            <li ng-class="getClass('/productos')"><a href="#/productos"><i class="icon-tags icon-large"></i> </a></li>
            <li ng-class="getClass('/materiales')"><a href="#/materiales"><i class="icon-group icon-large"></i> </a></li>
            <li ng-class="getClass('/facturas')" ng-hide="true"><a href="#/facturas"><i class="icon-file icon-large"></i> </a></li>
            <li ng-class="getClass('/pagos')"><a href="#/pagos"><i class="icon-file icon-large"></i> </a></li>
        </ul>
    </li>
    <li>
        <span></span>
        <ul class="">
             <li ng-class="getClass('/trabajos')"><a href="#/trabajos"><i class="icon-puzzle-piece icon-large"></i>  </a></li>
            <li ng-class="getClass('/calendario')"><a href="#/calendario"><i class="icon-calendar icon-large"></i> </a></li>
        </ul>
    </li>
    <li>
        <span></span>
        <ul class="">
            <li ng-class="getClass('/cuenta')"><a href="#/cuenta"><i class="icon-cog icon-large"></i> </a></li>
            <li ng-class="getClass('/sucursales')"><a href="#/sucursales"><i class="icon-sitemap icon-large"></i> </a></li>
            <li ng-class="getClass('/empleados')"><a href="#/empleados"><i class="icon-group icon-large"></i> </a></li>
            <li ng-class="getClass('/clientes')"><a href="#/clientes"><i class="icon-group icon-large"></i> </a></li>
            <li ng-class="getClass('/prospectos')"><a href="#/prospectos"><i class="icon-group icon-large"></i> </a></li>

            <li ng-class="getClass('/usuarios')"><a href="#/usuarios"><i class="icon-user icon-large"></i> </a></li>                                
        </ul>
    </li>
</ul>


 
                          
                    