<img ng-src="{{ configuration.CompanyLogo}}">
<ul class="sidebar-menu">
    <li>GENERAL
        <ul class="">
            <li ng-class="getClass('/home')"><a href="#" data-toggle="tab"><i class="fa icon-bar-chart"></i> Dashboard </a></li>
            <li ng-class="getClass('/cotizaciones')"><a href="#/cotizaciones"><i class="icon-file"></i> Cotizaciones</a></li>
            <li ng-class="getClass('/ventas')"><a href="#/ventas"><i class="icon-qrcode"></i> Ventas</a></li>
            <li ng-class="getClass('/cobranza')"><a href="#/cobranza"><i class="icon-book"></i> Cobranza</a></li>                        
            <li ng-class="getClass('/trabajos')"><a href="#/trabajos"><i class="icon-puzzle-piece"></i> Trabajos </a></li>
            <li ng-class="getClass('/calendario')"><a href="#/calendario"><i class="icon-calendar"></i> Calendario</a></li>

            <li ng-class="getClass('/productos')"><a href="#/productos"><i class="icon-tags"></i> Productos</a></li>
            <li ng-class="getClass('/materiales')"><a href="#/materiales"><i class="icon-group"></i> Materiales</a></li>

        </ul>
    </li>
    <li>CATALOGOS
        <ul class="">
            <li ng-class="getClass('/sucursales')"><a href="#/sucursales"><i class="icon-sitemap"></i> Sucursales</a></li>
            <li ng-class="getClass('/empleados')"><a href="#/empleados"><i class="icon-group"></i> Personal</a></li>
            <li ng-class="getClass('/clientes')"><a href="#/clientes"><i class="icon-group"></i> Clientes</a></li>
            <li ng-class="getClass('/prospectos')"><a href="#/prospectos"><i class="icon-group"></i> Prospectos</a></li>

            <li ng-class="getClass('/usuarios')"><a href="#/usuarios"><i class="icon-user"></i> Usuarios</a></li>                                
        </ul>
    </li>
</ul>

    



 
                          
                    