<h3> Pago Timbres </h3>
<p></p>

<div class="span10 full-height" >
	<form action="" method="POST" id="card-form">
  <span class="card-errors"></span>
  <div class="form-row">
    <label>
      <span>Nombre del tarjeta habiente</span>
      <input type="text" size="20" value="prueba" data-conekta="card[name]"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Número de tarjeta de crédito</span>
      <input type="text" size="20" value="4242424242424242" data-conekta="card[number]"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" value="1234" data-conekta="card[cvc]"/>
    </label>
  </div>
  <div class="form-row">
    <label>
      <span>Fecha de expiración (MM/AAAA)</span>
      <input type="text" size="2" value="10" data-conekta="card[exp_month]"/>
    </label>
    <span>/</span>
    <input type="text" size="4" value="2015" data-conekta="card[exp_year]"/>
  </div>
  <button type="submit">Suscribirse ahora!</button>
</form>

<script type="text/javascript">
 
 // Conekta Public Key
  Conekta.setPublishableKey('key_OYxgE4DKo438t1zczR7LDzw');
 
 // ...
</script>

<script type="text/javascript">

jQuery(function($) {
  $("#card-form").submit(function(event) {
    var $form;
    $form = $(this);
/* Previene hacer submit más de una vez */
    $form.find("button").prop("disabled", true);
    Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
/* Previene que la información de la forma sea enviada al servidor */
    return false;
  });
});


var conektaSuccessResponseHandler;
conektaSuccessResponseHandler = function(token) {
  var $form;
  $form = $("#card-form");
/* Inserta el token_id en la forma para que se envíe al servidor */
  $form.append($("<input type=\"text\" name=\"conektaTokenId\" />").val(token.id));
/* and submit */
  //$form.get(0).submit();
};


var conektaErrorResponseHandler;
conektaErrorResponseHandler = function(response) {
  var $form;
  $form = $("#card-form");
/* Muestra los errores en la forma */
  $form.find(".card-errors").text(response.message);
  $form.find("button").prop("disabled", false);
};
</script>
	</div>
