
<div class="row-fluid" >
	<div class="navbar navbar-static-top">
        <div class="container" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
            <a class="brand title-brand">Sliders</a>
            <ul class="nav">
            	<li><a ng-click="add()" class="text-new">+ Agregue un nuevo</a> </li>
            </ul>
	        <form class="navbar-search pull-right">
			 	<input type="text" class="search-query" placeholder="buscar..." ng-model="search" >	
			</form>
		</div>
    </div>
</div>


<div class="row-fluid full-height">
	
	<div class="span2 full-height right-border">
		
		<ul class="sidebar-menu">
			<li><span>VER</span>
				<ul>
					<li ng-class="getClass('/sliders/',true)"> <a ng-href="#/sliders/">Todos</a></li>
				
				</ul>
			</li>
		</ul>
	</div>
	<div class="span10 full-height ">
		
		<ul class="thumbnails">
		
		  <li class="span2" ng-repeat="slider in sliders">
		    <div class="thumbnail">
		    	<div class="fileUpload btn btn-info">
		    		<span><i class="icon-picture"></i> Upload</span>
		    	<input type="file" ng-file-select="onFileSelect($files,slider)" class="upload">
		    	</div>
	
				<div  ><img src="{{slider.image}}"></div>
		     
		    	<div class="caption">
		        	<h5 >{{  slider.title }}</h5>
		        
		        	<p class="">
		        		
		        		<button title="Editar" class="btn" ng-click="edit(slider)"><i class="icon-edit" ></i></button>
						<button confirm-button="delete(slider)" class="btn btn-danger"  message=" Seguro desea eliminar este registro?" yes="Si" no="No"><i class="icon-trash"></i></button>
					</p>
		      </div>
		    </div>
		  </li>
	
		 
		</ul>
		
	</div>
	
	
</div>

	



<div modal="showModal"  close="cancel()" options="{ backdrop: true}">
    
    <form name="form" class="form-vertical" novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="slider.IsNew">Agregar</span>
	            	<span ng-hide="slider.IsNew">Modificar</span>
	            </h4>
	            <p>
	            	<span ng-show="slider.IsNew">Agregar</span>
	            	<span ng-hide="slider.IsNew">Modificar</span>
	           	</p>
	    </div>
	    <div class="modal-body">
	    	<div class="control-group" >
	            <label class="control-label">Titulo</label>
	            <div class="controls">
	            	<input name="title" type="text" ng-model="slider.title" class="input-xlarge" required />
	            	<span class="text-error"  ng-show="form.title.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">SubTitulo</label>
	            <div class="controls">
	            	<input type="text" ng-model="slider.subtitle" class="input-xlarge" required />
	            	
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">Cuerpo</label>
	            <div class="controls">
	            	<textarea  type="text"  rows="2" ng-model="slider.body" class="input-xlarge" > </textarea>
	            	
	        	</div>
	        </div>
	        <div class="control-group" >
	            <label class="control-label">Link Url</label>
	            <div class="controls">
	            	<input name="link_url" type="text" ng-model="slider.link_url" class="input-xlarge" required />
	            	
	        	</div>
	        </div>
	        
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar </button>
	    </div>
    </form>
</div>