<div>
	<h3> Proveedores </h3>
	<p>
		<div class="search-bar">
			<button class="btn btn-info " ng-click="add()"><i class="icon-plus"></i>  Agregue un proveedor</button>
			<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>
			<input type="text" class="input-xlarge pull-right" placeholder="buscar..." ng-model="search" />		
		</div>
	</p>

	<table ng-table="tableParams" class="table"  >
		
		<tr ng-repeat="supplier in suppliers">

			<td title="Nombre" >{{ 	supplier.SupplierName }}</td>
			<td title="RFC" >{{ 	supplier.SupplierRFC }}</td>
			<td title="Telefono" >{{ supplier.SupplierTelephone }}</td>
			<td title="Email" >{{ 	supplier.SupplierEmail }}</td>
			<td title="Web" >{{  supplier.SupplierWeb }}</td>			
			<td title="Ciudad" >{{  supplier.SupplierCity }}</td>
			<td title="Pais" >{{  supplier.SupplierCountry }}</td>
			<td title="Notas" >{{  supplier.SupplierNotes }}</td>
			
			
			<td>				
				<button title="Editar proveedor" class="btn" ng-click="edit(supplier)"><i class="icon-edit" ></i></button>
				<button confirm-button="delete(supplier)" class="btn btn-danger"  message=
				" realmente desea eliminar este Proveedor?" yes="Si" no="No">
	 <i class="icon-trash"></i></button>
			</td>

		</tr>
		
	</table>

		<div modal="showSupplierModal" close="cancel()" options="{ backdrop: true}">
			<form name="form"  novalidate >
			    <div class="modal-header">
					
			            <h4>
			            	<span ng-show="supplier.IsNew">Agregue un nuevo Proveedor</span>
			            	<span ng-hide="supplier.IsNew">Editar detalles acerca de {{ supplier.supplierName }}</span>
			            </h4>
			            <p>
			            	<span class="text-info">Los Proveedores son personas que proveen la materia prima.</span>
			           	</p>
			    </div>
				<div class="modal-body">
			    	<div class="row-fluid" >			   	
			         
			            <div class="span8">	            	
			            	<label>Nombre</label>
			            	<input name="suppliername" type="text" ng-model="supplier.SupplierName" class="span12" required />
			            	<span class="text-error"  ng-show="form.suppliername.$error.required" >* requerido</span>
			        	</div>
			        </div>
			        <div class="row-fluid" >
			        	<div class="span4">
			        		<label>R.F.C.</label>
			        		<input name="supplierrfc" type="text" ng-model="supplier.SupplierRFC" class="span12" />
			        	</div>
			        	<div class="span4">
			        		<label>Telefono</label>
			        		<input name="suppliertelephone" type="text" ng-model="supplier.SupplierTelephone" class="span12" required />
			        		<span class="text-error"  ng-show="form.suppliertelephone.$error.required" > * requerido</span>
			        	</div>
			        	
			        </div>
			        <div class="row-fluid" >
			        	<div class="span12">
			        		<label>Direcci&oacute;n</label>
			        		<textarea name="supplieraddress" ng-model="supplier.SupplierAddress" rows="2" class="span12"></textarea>
			        	</div>
			        	
			        </div>
			        <div class="row-fluid" >
			        	<div class="span4">
			        		<label>C&oacute;digo Postal</label>
			        		<input name="suppliercp" type="text" ng-model="supplier.SupplierCP" class="span12" />
			        	</div>
			        	<div class="span4">
			        		<label>Ciudad</label>
			        		<input name="suppliercity" type="text" ng-model="supplier.SupplierCity" class="span12" />
			        	</div>
			        	<div class="span4">
			        		<label>Pais</label>
			        		<input name="suppliercountry" type="text" ng-model="supplier.SupplierCountry" class="span12" />
			        	</div>
			        </div>

			        <div class="row-fluid">
			        	<div class="span6">
			            	<label>Correo electrónico</label>
			            	<input name="email" type="email" ng-model="supplier.SupplierEmail" class="span12" />	            	
			            	<span class="text-error"  ng-show="form.email.$error.email" >Invalido, por favor ingrese un correo electrónico valido</span>	            
			        	</div>
                        <div class="span6">
			            	<label>Web</label>
			            	<input name="web" type="web" ng-model="supplier.SupplierWeb" class="span12" />	            	
			            		            
			        	</div>
			        	
			        	
			        </div>
			      
			        <div class="row-fluid">
			        	<div class="span12">
			        		<label>Notas</label>
			        		<textarea ng-model="supplier.SupplierNotes" placeholder="" rows="2" class="span12"></textarea>
			        	</div>
			        </div>

			        
			    </div>
			    <div class="modal-footer">          
			    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
			        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar Proveedor</button>
			    </div>
			</form>
		</div>
</div>