<h3> Usuarios</h3>
 
<p>
	<div class="search-bar">
		<button class="btn btn-info " ng-click="add()"><i class="icon-plus"></i>  Agregue un usuario</button>
		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>
		<input type="text" class="input-xlarge pull-right" placeholder="buscar..." ng-model="search" />		
	</div>
</p>


<table ng-table="tableParams" class="table"  >
	
	<tr ng-repeat="user in users">

		<td title="Nombre" >{{ 	user.UserName }}</td>
		<td title="Correo Electronico" >{{	user.UserEmail }}</td>
		<td title="Sucursal" >{{	user.place.PlaceName }}</td>
		<td title="Es administrador?" class="tc"><span ng-show="user.UserIsAdmin" ><i class="icon-ok"> </i></span></td>
		<td title=" " >
			<button class="btn btn-warning" ng-click="editPassword(user)"><i class="icon-key"></i> Cambiar Password</button>
		</td>
		<td>
			<button class="btn" ng-click="showScopes(user)"><i class="icon-list" ></i></button>
			<button class="btn" ng-click="edit(user)"><i class="icon-edit" ></i></button>
			<button confirm-button="delete(user)" class="btn btn-danger"  message=
			"desea eliminar este usuario" yes="Si" no="No">
 <i class="icon-trash"></i></button>
		</td>
	</tr>
	
</table>
{{data.length}}


<div modal="showModal"  close="cancel()" options="{ backdrop: true}">
    
    <form name="form" class="form-vertical" novalidate >
	    <div class="modal-header">
	            <h4>
	            	<span ng-show="user.UserIsNew">Agregar usuario</span>
	            	<span ng-hide="user.UserIsNew">Modificar usuario</span>
	            </h4>
	            <p>
	            	<span ng-show="user.UserIsNew">Agregue un usuario a la aplicación</span>
	            	<span ng-hide="user.UserIsNew">Modificar un usuario de la aplicación</span>
	           	</p>
	    </div>
	    <div class="modal-body">
	    	<div class="control-group" >
	            <label class="control-label">Nombre</label>
	            <div class="controls">
	            	<input name="username" type="text" ng-model="user.UserName" required />
	            	<span class="text-error"  ng-show="form.username.$error.required" >* requerido</span>
	        	</div>
	        </div>
	        <div class="control-group " >
	            <label class="control-label">Correo electrónico</label>
	            <div class="controls">
	            	<input name="email" type="email" ng-model="user.UserEmail" required />
	            	<span class="text-error"  ng-show="form.email.$error.required" >* requerido</span>	  
	            	<span class="text-error"  ng-show="form.email.$error.email" >Invalido, por favor ingrese un correo electrónico valido</span>	            
	        	</div>
	        </div>
	        <div class="control-group " >
	            <label class="control-label">Sucursal</label>
	            <div class="controls">
	           
    
                   <select ng-model="user.PlaceId" class="input-block-level" ng-options="place.PlaceId as place.PlaceName for place in places" >
                 
                      
                    </select>
	            	
	            	
	        	</div>
	        </div>
	        <div class="control-group">
	            
	            <div class="controls">
	            	<label class="checkbox"><input type="checkbox" ng-model="user.UserIsAdmin" /> Es administrador?</label>
	            	
	        	</div>
	        </div>
	    </div>
	    <div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!form.$valid"  ng-click="save()">Guardar usuario</button>
	    </div>
    </form>
</div>

<div modal="showPasswordModal" close="cancel()" options="{ backdrop: true }">
	<form name="pwdform" class="form-vertical" novalidate>
		<div class="modal-header">
			<h4>Modificar password de {{user.UserName}}</h4>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">Password</label>
				<input name="password" type="password" ng-model="user.UserPassword" ng-minlength="6" ng-maxlength="20"  ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />

				<span class="text-error"  ng-show="pwdform.password.$error.required" >* requerido</span>
				<span class="text-error"  ng-show="!pwdform.password.$error.required && ( pwdform.password.$error.minlength ||  pwdform.password.$error.maxlength  ) && pwdform.password.$dirty" > Debe contener entre 6 y 20 caracteres </span>
				 <span class="text-error" ng-show="!pwdform.password.$error.required && !pwdform.password.$error.minlength && !pwdform.password.$error.maxlength && pwdform.password.$error.pattern && pwdform.password.$dirty">
				 	Debe contener una letra minuscula y una letra mayuscula, un numero o simbolo.</span>

			</div>
			<div class="control-group">
				<label class="control-label">Confirm password</label>
				<input name="password_c" type="password" ng-model="user.UserPasswordC" valid-password-c required />

				<span class="text-error" ng-show="pwdform.password_c.$error.required && pwdform.password_c.$dirty">Por favor confirme su password.</span>
				<span class="text-error" ng-show="!pwdform.password_c.$error.required && pwdform.password_c.$error.noMatch && pwdform.password_c.$dirty">Los passwords no concuerdan.</span>
			</div>
		</div>
		<div class="modal-footer">
			<a  class="btn btn-link pull-left"  ng-click="cancel()">Cancelar</a>
	        <button class="btn btn-primary" ng-disabled="!pwdform.$valid"  ng-click="savePassword()">Guardar password</button>
		</div>
	</form>
</div>

<div modal="showUserScopesModal" options="{ backdrop: true }" >
	<div class="modal-header">
		<h3>Permisos</h3>
		Editar privilegios de usuarios
	</div>
	<div class="modal-body">	
	

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Accesos</th>
					
				</tr>
			</thead>
			<tr ng-repeat="user_scope in selectedUser.user_scopes">
	
					<td ><input type="checkbox"  ng-model="user_scope.scope_selected" /></td>
					
					<td ><label>{{user_scope.name}}</label></td>
				
			</tr>
      	</table>
	</div>
	<div class="modal-footer">
		<a  class="btn btn-link pull-left"  ng-click="hideScopes()">Cancelar</a>
	    <button class="btn btn-primary"   ng-click="saveScopes()">Guardar permisos</button>
	</div>
</div>


