

<div id="page-head" class="row-fluid" >
	<div id="page-title" class="row-fluid">
		<h1> Plantillas de Contratos</h1>
	</div>
    <div id="page-links" class="row-fluid" >
    	
    	<div class="span7 actions">
    		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>	
    		<a href="#/contract_templates/nuevo" class="btn btn-info"><i class="icon-plus"></i> Agregue una nueva plantilla</a>    		
    	</div>
    	<div class="span5">
    		<ul class="nav nav-tabs">
				<li ng-class="getClass('/contract_templates/',true)"> <a ng-href="#/contract_templates/">Todos</a></li>				
			</ul>
    	</div>    
    </div>
</div>
<div class="row-fluid"> 
	 <div class="search-bar">		
		<input class="input-xlarge t" type="text" placeholder="buscar..." ng-model="search" />		
	</div>
	<table ng-table="tableParams" class="table">
		<tr ng-repeat="contract_template in contract_templates">

			<td title="Nombre de la plantilla"> <strong> {{contract_template.ContractTemplateName}}</strong></td>			
											
			<td>
				<a title="Editar plantilla" class="btn" ng-href="#/contract_templates/{{contract_template.ContracTemplateId}}"><i class="icon-edit" ></i></a>
				<button confirm-button="deleteContractTemplate(contract_template)" class="btn btn-danger"  message=" realmente desea eliminar esta plantilla?" yes="Si" no="No"><i class="icon-trash"></i></button>
		</td>
		</tr>
	</table>

</div>