.ngTagsInput * {
    vertical-align: middle;
}

.ngTagsInput {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 2px;
    padding: 2px 2px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.ngTagsInput ul {
    margin: 0px;
    padding: 0px;
    overflow: visible;
    list-style-type: none;
}

.ngTagsInput li {
    background-color: #aadfef;
    margin: 2px;
    padding-left: 4px;
    display: inline-block;
    border-radius: 3px;
    height: 21px;
    float: left;
}

.ngTagsInput span {
    position: relative;
}

.ngTagsInput button {
    border: none;
    background: none;
    color: #585858;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    height: 100%;
    position: relative;
    top: 1px;
}

.ngTagsInput button:active {
    color: #ff0000;
}

.ngTagsInput input , .ngTagsInput input:focus {
    border: 0px;
    outline: none;
    margin: 2px;
    padding: 0px 0px 0px 4px;
    height: 21px;
    -webkit-box-shadow: none;
    -webkit-transition: none;
}