<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
        
            <a class="brand title-brand">Informaci&oacuten de la cuenta</a>
            
          
	
  		</div>	    
  </div>

</div>
<div class="row-fluid full-height">
 <div class="span2 full-height right-border">
     <ul class="sidebar-menu">
		    <li>
		    	<span>Configuraci&oacute;n</span>
		        <ul class="">
		        	<li ng-class="getClass('/cuenta',true)"><a ng-href="#/cuenta">Generales</a></li>
					<li ng-class="getClass('/cuenta/facturacion',true)"><a href="#/cuenta/facturacion">Datos de facturaci&oacute;n</a></li>
					<li ng-class="getClass('/cuenta/personalizacion',true)"><a href="#/cuenta/personalizacion">Personalizaci&oacute;n</a></li>
					
		        </ul>
		    </li>
    	</ul>
 </div>
 <div class="span10 full-height">
  <form name="form" class="form form-vertical main-form" novalidate>

      <div class="span12">
      

                
        <section class="row-fluid" >
            <legend>Datos de facturaci&oacute;n</legend>
            <section class="row-fluid">

                <div class="span8">
                    <label>Raz&oacute;n Social</label>
                    <input name="" type="text" ng-model="account.trade_name" class="input-block-level" placeholder="Ingrese su nombre o razon social" select-on-click >
                </div>
                <div class="span4">
                    <label>RFC</label>
                    <input name="rfc" type="text" ng-model="account.rfc" class="input-block-level" placeholder="" select-on-click >
                </div>
                 
            </section>
            <section class="row-fluid">

                <div class="span8">
                    <label>Regimen Fiscal</label>
                    
                    <select  maxlength="255"  ng-model="account.trade_regimen" class="input-block-level">
            			<option value="ASALARIADOS">ASALARIADOS</option>
            			<option value="HONORARIOS (SERVICIOS PROFESIONALES)">HONORARIOS (SERVICIOS PROFESIONALES)</option>
            			<option value="ARRENDAMIENTO DE INMUEBLES">ARRENDAMIENTO DE INMUEBLES</option>
            			<option value="ACTIVIDAD EMPRESARIAL">ACTIVIDAD EMPRESARIAL</option>
            			<option value="INTERMEDIO">INTERMEDIO</option>
            			<option value="RÉGIMEN DE INCORPORACIÓN FISCAL">RÉGIMEN DE INCORPORACIÓN FISCAL</option>

		                </select>
                </div>
                
            </section>
            <div class="row-fluid">
                
                    <div class="span8">
                        <label for="account-street">Calle</label>
                        <input name="account-street" type="text" ng-model="account.street" class="input-block-level" placeholder="" select-on-click >
                    </div>
                    <div class="span2">
                        <label for="account-no-ext">No. Ext</label>
                        <input name="account-no-ext" type="text" ng-model="account.numExt" class="input-block-level" placeholder="" select-on-click >
                    </div>
                    <div class="span2">
                        <label for="account-no-int">No. Int</label>
                        <input name="account-no-int" type="text" ng-model="account.numInt" class="input-block-level" placeholder="" select-on-click >
                    </div>
                
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label for="account-colony">Colonia</label>
                    <input name="account-colony" type="text" ng-model="account.colony" class="input-block-level" placeholder="" select-on-click >
                </div>
                <div class="span4">
                    <label for="account-cp">Codigo Postal</label>
                    <input name="account-cp" type="text" ng-model="account.cp" class="input-block-level" placeholder="" select-on-click >
                </div>
                <div class="span4">
                    <label for="account-localidad">Localidad</label>
                    <input name="account-localidad" type="text" ng-model="account.localidad" class="input-block-level" placeholder="" select-on-click >
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label for="account-city">Ciudad</label>
                    <input name="account-city" type="text" ng-model="account.city" class="input-block-level" placeholder=""  select-on-click >
                </div>
                <div class="span4">
                    <label for="account-state">Estado</label>
                    <input name="account-state" type="text" ng-model="account.state" class="input-block-level" placeholder="" select-on-click >
                </div>
                <div class="span4">
                    <label for="account-country">Pais</label>
                    <input name="account-country" type="text" ng-model="account.country" class="input-block-level" placeholder="" select-on-click >
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label >Certificado de Sello Digital(.cer ) <span ng-show="account.cert_file" class=" text-success"><i class="icon-ok"></i> <strong>Cargado</strong></span></label>
                    
                    <input type="file" ng-file-select="onFileSelect($files,'cert_file',$account.cert_file)" >
                </div>
                <div class="span4">
                    <label >Llave privada (.key ) <span ng-show="account.cert_key" class=" text-success"><i class="icon-ok"></i> <strong>Cargado</strong></span></label>
                    
                    <input type="file" ng-file-select="onFileSelect($files,'cert_key',$account.cert_key)" >
                </div>

        
               
            </div>
            <div class="row-fluid">
                <div class="span8">
                    <label >Contraseña </label>
                    <button class="btn" ng-class="{ 'btn-success': account.cert_password_is_set,'btn-warning': !account.cert_password_is_set }" ng-click="showChangePasswordModal=true"> <i class="icon-key"></i> <span ng-if="account.cert_password_is_set">Cambiar</span><span ng-if="!account.cert_password_is_set">Establecer</span>  la contraseña de la llave privada</button>
                </div>
                
            </div>
             
          
        </section>
        
            
        <section id="actions" class="row-fluid" >
          <p>
          <span class="muted">Ultima actualizaci&oacute;n : {{ account.updated | date }}</span> 
          </p>
          <hr>
          <p>
            
            <button type="submit" class="btn btn-primary" ng-click="save()"><i class="icon-save"></i> Guardar</button>
            

          </p>        
            
       </section>

      </div>

  </form>
 </div>

</div>
<div modal="showChangePasswordModal" close="cancelChangePassword()" options="{ backdrop: true}">
	<form    ng-submit="updatePrivateKeyPassword()">
    <div class="modal-header">
          <h4>
          	<span>Establecer la contraseña de la clave privada</span>
          </h4>
	</div>
	<div class="modal-body">
			<div class="row-fluid" >			   	
				  <div class="span8">	            	
	            	<label for="account-cert-password">Contraseña de la llave privada</label>
	            	<input name="account-cert-password" type="password"  ng-model="account.cert_password" class="span12" size="20" >
	        	</div>
			</div>
			<div class="row-fluid" >			   	
				  <div class="span8">	            	
	            	<label>Confirmar Contraseña</label>
	            	<input name="account-cert-password" type="password"  ng-model="account.confirm_cert_password" class="span12" size="20">
	        	</div>
			</div>
	</div>
	<div class="modal-footer">          
	    	<a  class="btn btn-link pull-left"  ng-click="showChangePasswordModal=false" >Cancelar</a>
	        <input type="submit" id="submit" value="Guardar" class="btn btn-success" >
	    </div>
    </form>
</div>