<div class="row-fluid" >
  
  <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
      <div class="container" style="width: auto; ">
        
            <a class="brand title-brand">Informaci&oacuten de la cuenta</a>
            
          
	
  		</div>	    
  </div>

</div>
<div class="row-fluid full-height">
 <div class="span2 full-height right-border">
     <ul class="sidebar-menu">
		    <li>
		    	<span>Configuraci&oacute;n</span>
		        <ul class="">
		        	<li ng-class="getClass('/cuenta',true)"><a ng-href="#/cuenta">Generales</a></li>
					<li ng-class="getClass('/cuenta/facturacion',true)"><a href="#/cuenta/facturacion">Datos de facturaci&oacute;n</a></li>
					<li ng-class="getClass('/cuenta/personalizacion',true)"><a href="#/cuenta/personalizacion">Personalizaci&oacute;n</a></li>
					
		        </ul>
		    </li>
    	</ul>
 </div>
 <div class="span10 full-height">
  <form name="form" class="form form-vertical main-form" novalidate>

      <div class="span12">
       <section class="row-fluid">
           <legend>Generales</legend>
           <section class="row-fluid">
             
                    <div class="span8">
                        <label>Nombre</label>
                        <input name="" type="text" ng-model="account.company_name" class="input-block-level" placeholder="Ingrese su nombre o el nombre de su negocio" select-on-click >
                    </div>
                    <div class="span4">
                        <label>Domino</label>
                        <strong><span ng-bind="account.domain" ></span></strong>
                    </div>
                     
            </section>
            <section class="row-fluid" >
                    <div class="span4">
                        <label for="account-email">Correo electr&oacute;nico</label>
                        <input name="account-email" type="email" ng-model="account.email" class="input-block-level" placeholder="" select-on-click>
                    </div>
                    <div class="span4">
                        <label for="account-busines_phone">Telefono</label>
                        <input name="account-busines_phone" type="text" ng-model="account.business_phone" class="input-block-level" placeholder="" select-on-click>
                    </div>
                    <div class="span4">
                        <label for="account-mobile">Celular</label>
                        <input name="account-mobile" type="text" ng-model="account.mobile" class="input-block-level" placeholder="" select-on-click >
                    </div>
              
            </section>
        </section>
                

        <section class="row-fluid" >
            <legend>Personalización</legend>
            <div class="row-fluid">
                <div class="span4">
                    <label >Logo de la empresa</label>
                    <input type="file" ng-file-select="onFileSelect($files,'logo_file',$account.logo_file)" >
                </div>
        </section>
            
        <section id="actions" class="row-fluid" >
           <span class="muted">Ultima actualizaci&oacute;n : {{account.updated | date }}</span> 
          <hr>
          <p>
            
            <button type="submit" class="btn btn-primary" ng-click="save()"><i class="icon-save"></i> Guardar</button>
            

          </p>        
            
       </section>

      </div>

  </form>
 </div>

</div>