<div class="row-fluid" >
  
    <div class="navbar navbar-static-top" style="width: auto; padding: 0 20px;border-bottom: solid 1px #DEE6EF;">
              <div class="container" style="width: auto; ">
      
                <a class="brand title-brand" >PRODUCTOS </a>
      
    			   
    		      <form class="navbar-search">
    		 	        <input type="text" class="" placeholder="buscar..." ng-model="search"  select-on-click>	
    		 	        
                     
    		      </form>
      		</div>	    
          </div>
        </div>
<div class="row-fluid full-height">
 
    <div class="span7 full-height right-border ">

        <div class="row-fluid">
          <ul class="product-grid">
          <li ng-repeat="product in products ">
              <button class="cell" ng-click="addProduct(product)" >
                  <div class="image">
                      <img ng-src="{{ product.default_picture.ProductPictureThumbnail }}" ng-show="product.default_picture.ProductPictureThumbnail" alt="{{ product.ProductName }}" >
                      <img ng-src="/client/img/image_default.png" alt="{{ product.ProductName }}"  ng-hide="product.default_picture.ProductPictureThumbnail" >
                  </div>
                  <div class="description">
                    <span class="title">{{product.ProductName | truncate : 35 }}</span>
                    <span>{{ product.ProductPrice | currency:"$"}}</span>
                   </div>
                       
              </button>
              
          </li>          
          </ul>
        </div>
        <div class="row-fluid">
          
          <pagination direction-links="false" total-items="totalItems" current-page="currentPage" num-pages="numberOfPages()"></pagination>

        
        </div>
      </div>
    
      <div class="span5 full-height order">
                <div class="row-fluid order-header">
                    <div class="span12 order-header-title">
                        <div class="navbar " >
                          <div class="container" style="width: auto; ">
                              
                              <ul class="nav navbar-nav " ng-hide="showCustomerSearch">
            			         <li>
            			             <a class="customer" ng-click="changeCustomer()">{{ selected_customer.CustomerName }} <i class="icon-remove"></i></a>
            			         </li>
            			      </ul>
                        
                  
                			   
                		     
                		      <ul class="nav navbar-nav" ng-show="showCustomerSearch" >
                		          
                		          <li>
                		               <input type="text" ng-model="selected_customer" placeholder="Buscar un cliente" typeahead="customer as customer.CustomerName for customer in customerSearch($viewValue)" typeahead-on-select="onCustomerSelection(selected_customer)"  select-on-click>
                		          </li>
                		          <li>
                		              <button class="btn btn-success navbar-btn" ng-click="addCustomer()"><i class="icon-plus"></i></button>
                		              <button class="btn navbar-btn pull-right"  ng-click="cancelChangeCustomer()"><i class="icon-reply"></i></button>
                		          </li>
                		           
                              </ul>
                  		</div>	    
                      </div>
                        
                        
                    </div>
                </div>
                <div class="row-fluid"> 
                    <div class="span12">
                        <table class="">
                            <tr ng-repeat="item in sale_order.items">
                                <td>
                                    <button ng-click="editItemPrice(item)" class="close"><i class="icon-edit"></i></button>
                                </td>
                                <td class="span2">
                                      
                                          <img ng-src="{{ item.Product.default_picture.ProductPictureThumbnail }}" ng-show="item.Product.default_picture.ProductPictureThumbnail" style="" />
                                          <img ng-src="/client/img/image_default.png" ng-hide="item.Product.default_picture.ProductPictureThumbnail" style="" />
                                          
                                </td>
                                <td class="span4">
                                    
                                    {{item.Product.ProductCode }},{{item.Product.ProductName}}
                                      
                                    
                                </td>
              
                                <td class="span3">
                                    <input class="input-block-level" type="number" ng-model="item.SaleOrderDetailQTY"  select-on-click>
                                </td>
                                <td class="span3 tr">
                                    
                                     
                                    <span class="text-info" ><strong>{{ item.SaleOrderDetailTotal  | currency:"$" }}</strong></span>
                                    
                                </td>
                                 <td>
                                    <button ng-click="removeItem($index)" class="close">×</button>
                                </td>
                                
                            </tr>
                           
                           
                            
                        </table>
                    </div>
                </div>
                <div class="order-footer">
                    <div class="row-fluid order-footer-subtotal ">                    
                        <span class="span8 order-footer-subtotal-text">Subtotal</span>
                        <span class="span4 order-footer-subtotal-value">{{ sale_order.SaleOrderSubtotal | currency:"$"  }}</span>
                    </div>
                    <div class="row-fluid order-footer-subtotal ">                    
                        <span class="span8 order-footer-subtotal-text">IVA</span>
                        <span class="span4 order-footer-subtotal-value">{{ sale_order.SaleOrderTaxes | currency:"$"  }}</span>
                    </div>
                    <div class="row-fluid order-footer-subtotal ">                    
                        <span class="span8 order-footer-subtotal-text">Descuento</span>
                        <span class="span4 order-footer-subtotal-value">{{ sale_order.SaleOrderDiscounts | currency:"$"  }}</span>
                    </div>
                   
                    <div class="row-fluid order-footer-actions tc">
                        <button type="button" class="btn btn-primary btn-large" ng-disabled="sale_order.SaleOrderTotal <= 0" ng-click="mostrarPago()"><i class="icon-edit"></i> DE CONTADO {{ sale_order.SaleOrderTotal | currency:"$"  }}</button>
                        <button type="button" class="btn btn-primary btn-large" ng-disabled="sale_order.SaleOrderTotal <= 0" ng-click="mostrarCredito()"><i class="icon-edit"></i> A CREDITO </button>
                        
                    </div>                    
                </div>
      </div>
    </div>

<div modal="showPaymentForm" close="cancelPayment()">
        <div class="modal-header">
            <h4>Total a pagar: {{ sale_order.SaleOrderTotal | currency:"$"  }}   </h4>

        </div>
        <div class="modal-body">
            <div class="row-fluid">
               <div class="span8">
                  <div class="row-fluid">
                      <span class="span4">Restante :</span>
                      <span class="pull-right">{{ remaining() | currency:"$" }}</span>
                  </div>
                  <div class="row-fluid">Efectivo:</span>
                      <span class="pull-right">
                          <input type="text" class="input-small tr" ng-model="sale_order.SaleOrderCash" select-on-click autofocus ui-reset>
                      </span>
                  </div>       
                  <div class="row-fluid">
                      <span class="span4">Cambio:</span>
                      <span class="pull-right">{{ change() | currency:"$" }}</span>
                  </div>
              
                </div>
                <div class="span4">
                    
                      <div class="well well-small"  >
                          <button type="button" class="btn btn-small btn-success btn-block " ng-click="payExactAmount()"><i class="icon-check" > </i>Pago monto exacto</button> 
                          <button type="button" class="btn btn-small  btn-block" ng-repeat="moneda in monedas" ng-click="increaseCash(moneda)">{{ moneda.MonedaImporte | currency:"$"}}</button>
                      </div>
                   
                </div>
            </div>
            
        </div>
        <div class="modal-footer">          
            <button class="btn btn-warning pull-left" ng-click="cancelPayment()"><i class="icon-undo"></i> Volver</button>
            <button class="btn pull-left" ng-click="cancelPayment()"><i class="icon-refresh"></i> Limpiar efectivo</button>
            <button class="btn btn-primary" ng-disabled="remaining() > 0" ng-click="saveSaleOrder()"><i class="icon-thumbs-up"></i> Completar venta</button>
        </div>
    </div>

<div modal="showCreditForm" close="cancelCredit()">
    <div class="modal-header">
        <h4>Total a credito: {{ sale_order.SaleOrderTotal | currency:"$"  }}   </h4>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
             <div class="span6">
                
                <div class="row-fluid">
                    <span class="span4">Pago: </span>
                    <label>
                    <input type="radio" ng-model="sale_order.SaleOrderCreditPeriodicity" value="weekly" >
                         Pagos Semanales
                      </label>
                      <label >
                        <input type="radio" ng-model="sale_order.SaleOrderCreditPeriodicity" value="biweekly" >
                         Pagos Quincenales
                      </label>
                </div> 
                <div class="row-fluid">
                    <span class="span8">Cuantos pagos?</span>
                     <input type="number" ng-model="sale_order.SaleOrderNumberOfPayments" class="input-block-level" placeholder="#  de pagos" />
                </div>
                <div class="row-fluid">
                    <span class="span8">Cuando empieza a pagar?</span>
                     <input type="text" ng-model="sale_order.SaleOrderCreditInitialDate" class="input-block-level" placeholder="Fecha del 1er pago"  ui-date="dateOptions" ui-date-format="yy-mm-dd"/>
                </div>
                     
                      
                 
               
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <span class="span6">Pago Incial:</span>
                  <span class="pull-right">
                      <input type="number" class="input-small tr" ng-model="sale_order.SaleOrderDownpayment" select-on-click autofocus ui-reset>
                  </span>
            </div>   
            <div class="row-fluid">
                  <span class="span4">Credito :</span>
                  <span class="pull-right">
                      {{ creditRemaining() | currency:"$" }}
                    </span>
            </div>
            <div class="row-fluid " ng-show="creditRemaining() > 0">
                <span class="span12 well">
                
                <div class="row-fluid ">
                    <span class="span8">Termina de pagar el: {{ creditEndDate()  | date:'MM/dd/yyyy'}}</span>
                </div>
                <div class="row-fluid ">
                    <span class="span8">{{ sale_order.SaleOrderNumberOfPayments }} abonos de : {{ creditRemaining() / sale_order.SaleOrderNumberOfPayments | currency:"$"}}</span>
                </div>
                </span>
                
            </div> 
              
          
            </div>
           
        </div>
        
    </div>
    <div class="modal-footer">          
        <button class="btn btn-warning pull-left" ng-click="cancelCreditPayment()"><i class="icon-undo"></i> Volver</button>
        <button class="btn pull-left" ng-click="cancelCreditPayment()"><i class="icon-refresh"></i> Volver a empezar</button>
        <button class="btn btn-primary" ng-enabled="creditRemaining() > 0" ng-click="saveSaleOrder()"><i class="icon-thumbs-up"></i> Registrar credito</button>
    </div>
</div>
    
<div modal="showProductInfo" close="closeProductInfo()">
    <div class="modal-header">
        {{ selected_product.ProductName }} 
        <br>
        <span class="muted text-small">{{ selected_product.ProductExtendedDescription }} </span>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <label for="product-price"> Ingrese un precio de venta</label>
                <input name="product-price" type="number" ng-model="selected_product.ProductPrice" placeholder="$ 0.00" class="input-block-level" select-on-click>
            </div> 
        </div>
        <div class="row-fluid">
            <div class="span6">
                <label for="product-price"> Ingrese una cantidad</label>
                <input name="product-price" type="number" ng-model="selected_product.addQTY" placeholder="Cantidad" class="input-block-level" select-on-click >
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn pull-left" ng-click="cancelProductPrice()">Cerrar</button>
        <button class="btn btn-primary"ng-click="addProduct(selected_product)"><i class="icon-plus"></i> Agregar</button>
    </div>
</div>
    
<div modal="showItemChangePrice" close="cancelChangeItemPrice()">
    <div class="modal-header">
        {{ selected_item.Product.ProductName }} 
        <br> 
        <span class="muted text-small">{{ selected_item.Product.ProductExtendedDescription }} </span>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6">
                <label for="product-price"> Ingrese un precio de venta</label>
                <input name="product-price" type="number" step="any" ng-model="selected_item.SaleOrderDetailPrice" placeholder="$ 0.00" class="input-block-level" select-on-click>
            </div>
        </div>
         
    </div>
    <div class="modal-footer">
        <button class="btn pull-left" ng-click="cancelChangeItemPrice()">Cerrar</button>
        <button class="btn btn-primary"ng-click="changeItemPrice(selected_product)"> Aceptar</button>
    </div>
</div>


<customer-directive customer-on-add="onCustomerSelection(customer)" ></customer-directive>