 <div class="btn-group">
                  <button type="button" class="btn btn-small" ng-model="purchase_order.PurchaseStatus" btn-radio="'Pendiente'">Pendiente</button>
                  <button type="button" class="btn btn-small"  ng-model="purchase_order.PurchaseStatus" btn-radio="'Aprobada'">Aprobada</button>
                  <button type="button" class="btn btn-small" ng-model="purchase_order.PurchaseStatus" btn-radio="'Cancelada'">Cancelada</button>
              </div>