
<form name="form" class="form form-vertical" novalidate>
  <div class="page-header"><h4>Compra</h4></div>
  <section  id="purchase_order-header" class="row-fluid" >
    <div class="span6" >
        <div class="span12">
          
          <label class="control-label">Proveedor para esta orden</label>

          <div ng-hide="selectedSupplier.SupplierId" class="span12" >
            
            <input  type="text" ng-model="selectedSupplier" placeholder="Escriba el nombre de la persona o compañia" typeahead="supplier as supplier.SupplierName for supplier in supplierSearch($viewValue)" class="span10"/>
            <span class="text-error"  ng-show="form.username.$error.required" >* requerido</span>
          </div>

          <div ng-show="selectedSupplier.SupplierId" class="span12">
            
            <address>
              <strong>{{ selectedSupplier.SupplierName }}</strong> <button class="btn btn-warning btn-link" ng-click="selectAnotherSupplier()" title="Seleccionar otro proveedor"><i class="icon-remove"></i> </a></button><br>
              {{ selectedSupplier.SupplierAddress }}<br>
              {{ selectedSupplier.SupplierCity }}, {{selectedSupplier.SupplierState}}, {{selectedSupplier.SupplierCP}} <br>
              <abbr title="Telefono">Tel:</abbr> {{ selectedSupplier.SupplierTelephone }}<br>
              <abbr title="Celular">Cel:</abbr> {{ selectedSupplier.SupplierCellphone }}<br>
              <a href="mailto:#">{{ selectedSupplier.SupplierEmail }}</a>
            </address>

          </div>
        </div>
    </div>
    <div class="span6">
      <div class="row-fluid">
          <div class="span6">
              <label for="purchase_order-folio"># Orden de Compra</label>
              <input name="purchase_order-folio" type="text" ng-model="purchase_order.PurchaseOrderFolio" class="input-block-level" required />
          </div>
          <div class="span6">
              <label for="purchase_order-date">Fecha de la orden</label>
              <input name="purchase_order-date" type="text" ng-model="purchase_order.PurchaseOrderDate" class="input-block-level" placeholder=""  ui-date ui-date-format/>
          </div>         
      </div>
      <div class="row-fluid">
          <div class="span12">
            <label for="purchase_order-title">Titulo para esta orden</label>
            <input name="purchase_order-title" type="text" ng-model="purchase_order.PurchaseOrderTitle" placeholder="Ingrese un titulo para esta orden" class="input-block-level" required />
            <span class="text-error"  ng-show="form.purchase_order-title.$error.required" >* requerido</span>
          </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
            <label for="purchase_order-currency">&nbsp;</label>
            
             <select ng-model="purchase_order.CurrencyId" ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
             <option value="">Selecione una moneda</option>
           </select>
        </div>
        <div class="span6"></div>

      </div>
       <div class="row-fluid">
          <div class="span12">
            <label for="purchase_order-status">Estatus : {{purchase_order.PurchaseOrderStatus}}
              
            </label>
          </div>
      </div>

    </div>
  </section>
  <section id="purchase_order-details" class="tabled form-table ">
   
    <ul class="table-header row-fluid">
        <li class="span1">&nbsp;</li>
        <li class="span9">Producto</li>
        <li class="span2">UM</li>
        <li class="span2">Cantidad</li>
        <li class="span2">Costo</li>
        <li class="span2">Desc.</li>
        <li class="span2">IVA</li>      
        <li class="span4 ">Total</li>   
    </ul>
    <ul class="tabled-body">
        <li ng-repeat="item in purchase_order.items " class="tabled-line-item" >
            <ul class="row-fluid">
                <li class="span1 " ><a class="btn btn-mini btn-danger" ng-click="removePurchaseOrderItem(item)"><i class="icon-trash"></i></a></li>
                <li class="span9" ng-hide="item.Product.ProductId">
                  <input type="text" ng-model="item.Product" typeahead="product as product.ProductName for product in productSearch($viewValue)" placeholder="Teclee el Codigo o nombre del articulo" typeahead-on-select="onProductSelection(item)" />
                </li>
                <li class="span9" ng-show="item.Product.ProductId" >
                    <span class="">{{ item.Product.ProductId }} </span>
                    <span class="">{{ item.Product.ProductName }} <a ng-click="removeProductObject(item)"><i class="icon-remove"></i></a></span>
                </li>
                <li class="span2"><input type="text" ng-model="item.PurchaseOrderDetailUM"  /></li>
                <li class="span2"><input type="number" ng-model="item.PurchaseOrderDetailQTY" min="0" max="9999" class="" /></li>
                <li class="span2 "><input type="text" ng-model="item.PurchaseOrderDetailCost" placeholer="Costo" /></li>
                <li class="span2"><input type="text" ng-model="item.PurchaseOrderDetailDiscount" placeholer="Descuento" /></li>
                <li class="span2"><input type="text" ng-model="item.PurchaseOrderDetailTax" placeholer="IVA" /></li>
                <li class="span4 ">{{ item.PurchaseOrderDetailQTY * item.PurchaseOrderDetailCost  | currency : "$" }}</li>
            </ul>
        </li>
    </ul>
    <ul class="row-fluid add-new-item ">
      <li class="span24 tc">
        <button class="btn btn-link" ng-click="addItem()"> <i class="icon-plus-sign"></i> Agregar articulo </button>
      </li>
    </ul>

     <ul class="tabled-footer row-fluid">
          <li class="span16">
              <div >
                
                    <label class="control-label"></label>
                    <textarea name="customer" ng-model="purchase_order.PurchaseOrderDescription"  rows="3" class="span16" placeholder="Agregue una descripción o comentario a la orden"> </textarea>
                    <span class="help-block"></span>
           
              </div>
          </li>
          <li class="span8">
             
                <ul class="totals">
                  <li class="row-fluid">
                    <span class="span12 tr">Subtotal</span>
                    <span class="span8">{{ purchase_order.PurchaseOrderSubtotal | currency }}</span>
                  </li>
                  <li class="row-fluid"> 
                      <span class="span12 tr ">IVA</span>
                      <span class="span8">{{ purchase_order.PurchaseOrderTaxes | currency }}</span>
                  </li>
                  <li class="row-fluid total">
                      <span class="span12 tr">TOTAL</span>
                      <span class="span8">{{ purchase_order.PurchaseOrderTotal | currency }}</span>
                  </li>
              </ul>
            
          </li>
    </ul>

    
    
    
  </section>



 <section class="row-fluid">
      <div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="savePurchaseOrder()">Agregar esta orden</button> &nbsp; ó
    <a class="btn btn-link" ng-href="#/compras" class="btn btn-link">Cancelar</a>
  </div>
 </section> 


</form>