<div id="page-head" class="row-fluid" >
	<div id="page-title" class="row-fluid">
		<h1> Compras </h1>
	</div>
    <div id="page-links" class="row-fluid" >
    	
    	<div class="span6 actions">
    		<a href="#/compras/nueva" class="btn btn-info"><i class="icon-plus"></i> Nueva Orden de Compra</a>
    		<button class="btn" ng-click="refresh()" title="Actualizar datos"><i class="icon-refresh"></i></button>			
    	</div>
    	<div class="span6">
    		<ul class="nav nav-tabs">
				<li ng-class="getClass('/compras',true)"> <a ng-href="#/compras">Pendientes</a></li>
				<li ng-class="getClass('/compras/procesadas',true)"><a href="#/compras/procesadas">Aprobadas & Canceladas</a></li>
			</ul>
    	</div>
    
    </div>
</div>


<div class="row-fluid"> 
    <div class="search-bar">		
		<input type="text" class="input-xlarge t" placeholder="buscar..." ng-model="search" />		
	</div>
	<div class="span12" ng-show="purchase_orders.length > 0">

		<table ng-table="tableParams" class="table">
			<tr ng-repeat="purchase_order in purchase_orders">
				<td title="Folio"> <strong> {{purchase_order.PurchaseOrderFolio}}</strong></td>
				<td title="Titulo"> {{ purchase_order.PurchaseOrderTitle | truncate:48 }}</td>
				<td title="Proveedor"> {{ purchase_order.supplier.SupplierName | truncate:48 }}</td>
				<td title="Estatus"> {{ purchase_order.PurchaseOrderStatus }}</td>
				<td title="Fecha"> {{ purchase_order.PurchaseOrderDate }}</td>
				<td title="Total">{{ purchase_order.CurrencySymbol}} {{ purchase_order.PurchaseOrderTotal | currency }} </td>
				<td>
					<a title="Editar orden" class="btn" ng-href="#/compras/{{purchase_order.PurchaseOrderId}}"><i class="icon-edit" ></i></a>
			</td>
			</tr>
		</table>
	</div>
	

</div>




