<div id="page-head" class="row-fluid" >
  <div id="page-title" class="row-fluid">
      <h1><a ng-href="#/compras"> Compras </a> &gt; {{ purchase_order.PurchaseOrderFolio }}  </h1> 

  </div>
  
  <div id="page-links" class="row-fluid" >
      
    <div class="span6 actions">
        
        <div class="span2"><a title="Regresar" class="btn btn-block" ng-href="#/compras"><i class="icon-reply"></i> regresar</a> </div>   
            
        <div class="span3" ng-show="purchase_order.PurchaseOrderId">           
            
        </div>
      </div>
      <div class="span6">
          <div ng-include="'client/partials/purchase_orders/header.html'"></div>        
      </div>    
    </div>
</div>
<div id="page-content" class="row-fluid">

  <form name="form" class="form form-vertical" novalidate>

      <div class="span9">
       
        <section  id="purchase_order-header" class="row-fluid" >

          <div class="span6" >
             
            <div class="span12">
                <header>
                  <h4>Proveedor</h4>
                </header>

                <div ng-hide="selectedSupplier.SupplierId" class="span12" >
                  
                  <input type="text" ng-model="selectedSupplier" placeholder="Escriba el nombre de la persona o compañia" typeahead="supplier as supplier.SupplierName for supplier in supplierSearch($viewValue)" class="span10"/>

                  <span class="text-error"  ng-show="form.username.$error.required" >* requerido</span>

                </div>
               
                <div ng-show="selectedSupplier.SupplierId" class="span12">
                  
                  <address>
                    <strong>{{ selectedSupplier.SupplierName }}</strong> <button class="btn btn-warning btn-link" ng-click="selectAnotherSupplier()" title="Seleccionar otro proveedor"><i class="icon-remove"></i> </a></button><br>
                    {{ selectedSupplier.SupplierAddress }}<br>
                    {{ selectedSupplier.SupplierCity }}, {{selectedSupplier.SupplierState}}, {{selectedSupplier.SupplierCP}} <br>
                    <abbr title="Telefono">Tel:</abbr> {{ selectedSupplier.SupplierTelephone }}<br>              
                    <abbr title="Celular">Cel:</abbr> {{ selectedSupplier.SupplierCellphone }}<br>
                    <a href="mailto:#">{{ selectedSupplier.SupplierEmail }}</a>
                  </address>

                </div>

              </div>
          </div>
          <div class="span6">
             

            <div class="row-fluid">
                <div class="span6">
                    <label for="purchase_order-folio"># Orden de Compra</label>
                    <input name="purchase_order-folio" type="text" ng-model="purchase_order.PurchaseOrderFolio" class="input-block-level" disabled />
                </div>
                 
                <div class="span6">
                    <label for="purchase_order-date">Fecha de la orden</label>
                    <input name="purchase_order-date" type="text" ng-model="purchase_order.PurchaseOrderDate" class="input-block-level" placeholder=""  ui-date="dateOptions"  ui-date-format="yy-mm-dd"/>
                </div>         
            </div>
            <div class="row-fluid"><div class="span12">
                    <label for="purchase_order-title">Titulo de la orden</label>
                    <input name="purchase_order-title" type="text" ng-model="purchase_order.PurchaseOrderTitle" class="input-block-level" placeholder="Ingrese un titulo para esta orden de entrada" />
                </div>
              </div>
            

             <div class="row-fluid">
                <div class="span6">
                  <label for="purchase_order-exchange-rate">Tipo de cambio</label>
                    <input name="purchase_order-exchange-rate" type="text" ng-model="purchase_order.PurchaseOrderExchangeRate" class="input-block-level" placeholder="$ 0.00"  />
                </div>
                <div class="span6">
                  <label for="purchase_order-currency"> Moneda </label>

                     <select ng-model="purchase_order.CurrencyId" class="input-block-level" ng-options="currency.CurrencyId as currency.CurrencyName for currency in currencies" >
                   
                        
                      </select>
                </div>
            </div>
            <div class="row-fluid">

                <div class="span6">
                  <label for="purchase_order-status">Estatus : <span class="label label-info"> {{ purchase_order.PurchaseOrderStatus }} </span>
                    
                  </label>
                </div>
            </div>

            <div class="row-fluid">
          
            </div>
           
        </div>
        </section>
        <section id="purchase_order-details" class="tabled form-table ">
         
          <ul class="table-header row-fluid">
              <li class="span1">&nbsp;</li>
              <li class="span10">Producto / Material</li>
              <li class="span2">UM</li>
              <li class="span2">Cantidad</li>
              <li class="span2">Costo</li>
              <li class="span2">Desct %</li>
              <li class="span2">IVA %</li>      
              <li class="span3 ">Total</li>   
          </ul>
          <ul class="tabled-body">
              <li ng-repeat="item in purchase_order.items " class="tabled-line-item" >
                  <ul class="row-fluid">
                      <li class="span1" >
                        <div class="text">
                          <a class="btn btn-mini btn-danger" ng-click="removePurchaseOrderItem(item)"><i class="icon-trash"></i></a>
                        </div>
                      </li>
                      <li class="span10 item-hand-writed-text" ng-hide="item.Product.ProductId">
                        <div style="position:relative">
                          <input type="text" ng-model="item.Product"  typeahead="product as product.ProductName for product in productSearch($viewValue)" placeholder="Teclee el Codigo o nombre del articulo" typeahead-on-select="onProductSelection(item)" typeahead-on-select-new="onNewProductSelection(item.Product)" typeahead-on-not-found="onItemNotFound(item)" typeahead-on-matches-found="onItemMatchesFound(item)" class="item-description" />
                          <button class="btn btn-link help-inline-text-right" title="Editar en ventana emergente..." ng-show="itIsManualItem(item)"  ng-click="showItemExtendEditModal(item)"> <i class="icon-external-link"></i></button>
                          <div class="item-inline-action popover fade in bottom" ng-show="!item.IsManualItem && item.notFound">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Articulo no fue encontrado...</h3>
                            <div class="popover-content">                              
                              <button class="btn btn-mini btn-primary" ng-click="onNewProductSelection(item)">Agregar articulo </button> ó<button class="btn btn-mini btn-link" ng-click="setAsManualItem(item)">Continuar capturar libre</button>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="span10 item" ng-show="item.Product.ProductId" >
                        <div class="text text-info">
                          
                            <span class="">{{ item.Product.ProductId }} </span>
                            <span class="">{{ item.Product.ProductName }} <button ng-click="removeProductObject(item)" class="close">&times;</button> </span>
                          
                        </div>
                      </li>
                      <li class="span2">
                          <select ng-model="item.PurchaseOrderDetailUM" class="input-block-level" ng-options="unidad.UMName as unidad.UMName for unidad in unidades" >
                              <option value=""></option>
                          </select>
                      </li>
                      <li class="span2"><input type="number" ng-model="item.PurchaseOrderDetailQTY" min="0" max="9999" class="numeric" /></li>
                      <li class="span2"><input type="number" ng-model="item.PurchaseOrderDetailCost" placeholer="Costo" class="numeric" /></li>
                      <li class="span2"><input type="text" ng-model="item.PurchaseOrderDetailDiscount" placeholer="% DESC" tooltip="{{ item.PurchaseOrderDetailDiscountAmount | currency : '$' }}"  tooltip-trigger="focus" tooltip-placement="bottom" class="numeric"/></li>
                      <li class="span2"><input type="text" ng-model="item.PurchaseOrderDetailTax" placeholer="IVA" tooltip="{{ item.PurchaseOrderDetailTaxAmount | currency : '$' }}"  tooltip-trigger="focus" tooltip-placement="bottom"  class="numeric"/></li>
                      <li class="span3"><div class="numeric">{{  item.PurchaseOrderDetailTotal  | currency : "$" }}</div></li>
                  </ul>
              </li>
          </ul>
          <ul class="row-fluid add-new-item ">
            <li class="span24 tc">
              <button class="btn btn-link" ng-click="addItem()"> <i class="icon-plus-sign"></i> Agregar articulos </button>
            </li>
          </ul>
           <ul class="tabled-footer row-fluid">
                <li class="span16">
                    <div>
                      
                          <label class="control-label"></label>
                          <textarea name="PurchaseOrderDescription" ng-model="purchase_order.PurchaseOrderTerms"  rows="3" class="input-block-level" placeholder="Agregue una descripción de la orden de compra"> </textarea>
                          <span class="help-block"></span>
                 
                    </div>
                </li>
                <li class="span8">
                   
                      <ul class="totals">
                        <li class="row-fluid">
                          <span class="span12 tr">Subtotal</span>
                          <span class="span12 tr">{{ purchase_order.PurchaseOrderSubtotal | currency }}</span>
                        </li>
                        <li class="row-fluid"> 
                            <span class="span12 tr ">IVA</span>
                            <span class="span12 tr">{{ purchase_order.PurchaseOrderTaxes | currency }}</span>
                        </li>
                        <li class="row-fluid"> 
                            <span class="span12 tr text-info">Descuento</span>
                            <span class="span12 tr text-info">{{ purchase_order.PurchaseOrderDiscounts | currency:'-$' }}</span>
                        </li>

                         <li class="row-fluid total" ng-repeat="currency in currencies | reverse" >
                            <span class="span12 tr">Total {{ currency.CurrencySymbol }} </span>
                            <span class="span12 tr" ng-show="purchase_order.CurrencyId == currency.CurrencyId">{{ purchase_order.PurchaseOrderTotal | currency : ' $'  }}</span>
                            <span class="span12 tr" ng-show="purchase_order.CurrencyId != currency.CurrencyId">{{ purchase_order.PurchaseOrderTotalDlls | currency : ' $'  }}</span>
                        </li>
                        
                    </ul>
                </li>
          </ul>
        </section>

       <section class="row-fluid">
          <span class="muted">Modificada por: {{ purchase_order.UserName }} en: {{ purchase_order.PurchaseOrderLMDate | date:'medium' }}</span>

          <div class="form-actions"></div>
       </section> 

      </div>
      <div class="span3"> 
          <button type="submit" class="btn btn-primary btn-large btn-block" ng-click="savePurchaseOrder()">Guardar Orden de Compra</button> 
          <hr>
          
          <button type="button" class="btn btn-success btn-block" ng-model="purchase_order.PurchaseOrderStatus" ng-disabled="!userInfo.isAdmin()" ng-click="approvePurchaseOrder()" ng-class="{ active: purchase_order.PurchaseOrderStatus === 'Aprobada' }"><i class="icon-thumbs-up"></i> Aprobar</button>
          <div class="row-fluid"> ó <button type="button" class="btn btn-link " ng-model="purchase_order.PurchaseOrderStatus" ng-disabled="!userInfo.isAdmin()" ng-click="cancelPurchaseOrder()" ng-class="{ active : purchase_order.PurchaseOrderStatus === 'Cancelada'}">Cancelar orden</button></div>                    

          <br>
          <div class="row-fluid">
              <button class="btn btn-link pull-left " ng-click="removePurchaseOrder(purchase_order)" ng-disabled="!userInfo.isAdmin()"><span class="text-error"><i class="icon-remove"></i> Eliminar orden</span></button>          
          </div>
          

          <br>
          <div class="row-fluid">
            <span class="text-info" ng-show="!userInfo.isAdmin()"><small>Solo los administradores pueden Aprobar, Cancelar o Eliminar una Orden</small></span>          
          </div>
          

      </div>
  </form>


  <div modal="showEditModal" options="{ backdrop: true }" >
      <div class="modal-body">  
          <textarea name="" ng-model="editPurchaseOrderItem.Product"  rows="3" class="input-block-level" placeholder="Agregue una descripciono para este elemento"> </textarea>
          <a  class="btn btn-primary pull-right"  ng-click="hideItemExtendEditWindow()">Aceptar</a>
      </div>
  </div>
  
  <div modal="showRemoveModal" option="{ backdrop : true }">
      <div class="modal-body">
          <div class="row-fluid">
              <strong><span class="text-error"> Advertencia!</span></strong> toda la información relacionada a esta orden de compra tambien sera eliminada.
              <br/><strong>Escriba la palbra "ELIMINAR"  para confirmar la eliminación</strong>
          </div>
          <div class="row-fluid">
              <input type="text" ng-model="purchase_order.PurchaseOrderDeleteWord">
              <button class="btn btn-danger" ng-click="delete()">Eliminar</button> 
              <button class="btn" ng-click="showRemoveModal =!showRemoveModal">Cancelar</button>
          </div>
      </div>
  </div>
  
  <customer-directive ></customer-directive>
  <product-form product-form-on-select="selectProduct(item)"></product-form>
</div>